<!-- <app-banner class="fadeIn" [banner]="flyer" [alt]="alt" />
<mat-dialog-content> -->
  <main class="fadeIn p-1">
    <h2>MATH-CRAW-701 - Lectura Crítica y Escritura Académica</h2>

    <div class="line"></div>

    <div class="content fadeIn">
      <p><span>Lectura Crítica y Escritura Académica</span> fortalece las habilidades de análisis profundo y redacción académica necesarias para el éxito en estudios superiores e investigación.</p>

      <h3>Objetivos del Curso:</h3>
      <ul>
        <li>Desarrollar habilidades de lectura crítica de textos académicos.</li>
        <li>Mejorar capacidades de escritura clara y lógica.</li>
        <li>Aprender normas de citación y referencia.</li>
        <li>Practicar la revisión y edición de textos.</li>
      </ul>

      <h3>Temas Principales:</h3>
      <ul>
        <li>Lectura crítica y evaluación de textos.</li>
        <li>Principios de escritura académica.</li>
        <li>Normas de citación (APA, MLA, etc.).</li>
        <li>Revisión y mejora de trabajos escritos.</li>
      </ul>

      <h3>Metodología:</h3>
      <p>Lecturas asignadas, ejercicios de escritura, revisiones y discusiones grupales sobre técnicas de redacción.</p>

      <h3>Evaluación:</h3>
      <ul>
        <li>Ensayos académicos.</li>
        <li>Examen final sobre principios de lectura crítica y escritura.</li>
        <li>Revisión y corrección de escritos.</li>
      </ul>

      <h3>Importancia del Curso:</h3>
      <p>Fundamental para el éxito académico y profesional, mejorando la capacidad de comunicar ideas de manera efectiva y argumentativa.</p>
    </div>
  </main>
<!-- </mat-dialog-content> -->
<app-footer-modal />
