<app-banner class="fadeIn" [banner]="flyer" [alt]="alt" />
<mat-dialog-content>
  <main class="fadeIn">
    <h2>BACH-FLC-1000 - Fundamentals of leadership in chaplaincy</h2>

    <div class="line"></div>

    <div class="content fadeIn">
      <p>
        This course offers a comprehensive approach to developing leadership
        skills within pastoral and spiritual contexts, with an emphasis on
        ethical principles and effective ministry management. Throughout the
        program, students will explore biblical leadership models, principles of
        authority and service, and strategies for decision-making based on
        Christian values.
      </p>

      <h3>Course Objectives:</h3>
      <ul>
        <li>
          <strong>Biblical Leadership Models:</strong> Students will learn about
          the leadership models presented in Scripture, understanding how
          biblical principles guide authority and service within chaplaincy.
        </li>
        <li>
          <strong>Integrity and Ethics in Leadership:</strong> Key topics such
          as integrity in leadership will be addressed, ensuring that students
          understand the importance of leading with authenticity and in
          alignment with Christian values.
        </li>
        <li>
          <strong>Management of Ministerial Resources:</strong> Students will
          learn effective strategies for managing resources within ministry,
          including planning, budgeting, and the responsible distribution of
          those resources.
        </li>
        <li>
          <strong>Conflict Resolution in Faith Communities:</strong> Tools will
          be provided for resolving conflicts in a healthy and constructive
          manner within faith communities, promoting unity and understanding.
        </li>
        <li>
          <strong>Formation of Pastoral Teams:</strong> The course will delve
          into the importance of training and leading strong pastoral teams,
          creating a collaborative and effective work environment within
          ministry.
        </li>
        <li>
          <strong>Impact of Leadership on Spiritual Life:</strong> Students will
          reflect on the impact of Christian leadership on the spiritual life of
          believers and how the personal testimony of the leader influences
          their community.
        </li>
      </ul>

      <h3>Methodology:</h3>
      <p>
        The course will combine theory and practice through case studies, group
        discussions, and practical exercises focused on ethical decision-making,
        conflict resolution, and teamwork. Students will develop key
        competencies to exercise transformative and responsible pastoral
        leadership, learning to apply biblical principles in real ministry
        contexts.
      </p>

      <h3>Evaluation:</h3>
      <p>
        Evaluation will include active participation in discussions and
        simulations, the development of a leadership plan for a pastoral
        context, and a final exam that will assess the understanding of ethical
        leadership principles and the ability to implement them in ministerial
        situations.
      </p>
    </div>
  </main>
</mat-dialog-content>

<app-footer-modal />
