<!-- <app-banner class="fadeIn" [banner]="flyer" [alt]="alt" /> -->

<main class="pages">
  <div class="content fadeIn">
    <!-- <app-breadcams /> -->

    <h2>Bachelor of Theology</h2>
    <div class="line"></div>

    <mat-tab-group dynamicHeight>
      <mat-tab label="Overview">
        <div class="bodyContent">
          <p>
            The Bachelor of Theology is designed to train leaders with profound
            biblical, doctrinal, and pastoral knowledge, committed to serving
            the church and society. This program offers a solid academic
            formation by integrating the study of the Scriptures, the history of
            Christianity, systematic theology, and ministerial skills, with a
            contemporary approach that responds to the current challenges of
            both the world and faith. The goal is to prepare theologians capable
            of critical thinking, compassionate service, and leading with
            integrity in ecclesial, educational, and social contexts.
          </p>
          <h3>100% Online: Flexibility to Study from Anywhere</h3>
          <p>
            This program is entirely online, allowing you to study from anywhere
            in the world without neglecting your personal or ministerial
            responsibilities. Its flexible structure enables you to progress at
            your own pace, facilitating self-directed learning and providing
            continuous access to a global academic community.
          </p>
          <h3>Professional Opportunities:</h3>
          <p>
            Upon completing the Bachelor of Theology, you will be prepared to
            work in a wide variety of ministerial and academic contexts.
            Graduates can serve as pastors, church leaders, chaplains,
            missionaries, educators in Christian institutions, ethical advisors,
            and theological writers. Additionally, this training provides a
            solid foundation for postgraduate studies in theology, philosophy,
            biblical studies, or pastoral ministry.
          </p>
          <h3>Key Theology Skills:</h3>
          <p>
            Throughout the program, you will develop essential competencies for
            relevant and transformative theological and spiritual leadership.
            Among the most notable skills are:<br />
            • Biblical Interpretation: You will learn to interpret the
            Scriptures in a contextual, historical, and exegetical manner,
            applying modern hermeneutical tools.<br />
            • Critical Theological Thinking: You will be capable of analyzing,
            formulating, and communicating theological ideas with depth,
            coherence, and respect for Christian diversity.<br />
            • Pastoral and Ministerial Ability: You will develop skills in
            counseling, preaching, church leadership, and spiritual
            accompaniment.<br />
            • Applied Christian Ethics: You will reflect on contemporary issues
            from a Christian ethical perspective, addressing social, cultural,
            and personal dilemmas with moral responsibility and spiritual
            sensitivity.
          </p>
          <h3>High-Level Academic Training:</h3>
          <p>
            Our faculty is composed of theologians, biblical scholars, and
            internationally recognized researchers with extensive experience in
            both academia and ministry. This program is built on a tradition of
            rigorous theological thought, spanning over 2,000 years of history,
            offering an education that honors the Christian heritage while
            engaging with the realities of the 21st century.
          </p>
          <h3>Global Support Network:</h3>
          <p>
            As a student at World Theology Academy, you will be part of an
            international community of believers, pastors, scholars, and
            students from various denominations and backgrounds. Through our
            virtual platform, you will participate in forums, collaborative
            projects, and theological discussions that will enrich your
            experience and broaden your global perspective of the Kingdom of
            God.
          </p>
          <h3>A Transformative Approach:</h3>
          <p>
            This program is designed to impact your personal life, spiritual
            understanding, and ministerial service. More than just acquiring
            knowledge, the Bachelor of Theology seeks to transform hearts and
            minds, training servants who live and teach with fidelity, passion,
            and wisdom. You will be equipped to face the moral, spiritual, and
            social challenges of our time with hope and truth, guiding others
            toward a life centered on God and His eternal purpose.
          </p>
          <p>
            The Bachelor of Theology at World Theology Academy will provide you
            with the necessary tools to live your calling with theological
            depth, pastoral commitment, and a global vision of the Gospel.
          </p>
        </div>
      </mat-tab>

      <mat-tab label="Information">
        <div class="bodyContent">
          <p>
            The Bachelor of Theology is aimed at individuals interested in
            deepening their study of the Christian faith, theological thought,
            and spiritual leadership, combining a solid academic foundation with
            practical and contextual training. This program offers a
            comprehensive education designed to equip students in biblical
            interpretation, theological reflection, the history of Christianity,
            and the pastoral skills necessary for ministerial and social
            service. Prior theological studies are not required, although a
            basic background in areas such as humanities, social sciences, or
            Christian leadership is recommended.
          </p>

          <h3>Admission Requirements</h3>
          <p>
            To apply for the Bachelor of Theology, applicants must meet the
            following requirements:
          </p>
          <ul>
            <li>Academic Transcripts</li>
            <p>
              Submit official transcripts from secondary or higher education
              studies.
            </p>
            <li>Curriculum Vitae</li>
            <p>
              Include an updated CV detailing the applicant’s educational,
              ministerial, community, or professional experience, especially if
              related to Christian service or leadership.
            </p>
            <li>Applicant’s Statement</li>
            <p>
              Write a personal statement explaining the motivations for studying
              Theology, how the acquired knowledge is expected to be applied in
              one’s life and ministry, and personal interests in the theological
              field.
            </p>
            <li>Letters of Recommendation</li>
            <p>
              Provide two letters of recommendation from ministerial leaders,
              educators, or professionals who can attest to the applicant’s
              suitability for theological studies and their commitment to
              spiritual and academic development.
            </p>
            <li>Application Fee</li>
            <p>
              The admission process includes a non-refundable application fee.
            </p>
          </ul>

          <h3>Selection Criteria</h3>
          <p>
            Applicants must have successfully completed secondary education,
            with an academic record that reflects commitment and the ability to
            study. Previous theological studies are not required, but any
            participation in ministries, religious organizations, community
            service, or Christian leadership will be viewed favorably.
            Candidates with prior studies in areas such as humanities,
            philosophy, social sciences, education, or communication will also
            have an advantage.
          </p>

          <h3>Application Process</h3>
          <p>
            The application process is completely online and accessible from
            anywhere in the world. Interested applicants can check enrollment
            deadlines, forms, and specific requirements in the Admissions
            section of the official World Theology Academy website.
          </p>
          <p>
            This approach ensures that the selected candidates have the
            necessary preparation and vocation to succeed in the Bachelor of
            Theology, and are ready to make a significant contribution to
            Christian thought, spiritual formation, and transformative
            leadership in their personal, ecclesial, and social contexts.
          </p>
        </div>
      </mat-tab>

      <mat-tab label="Objectives">
        <div class="bodyContent">
          <ul>
            <li>
              Develop skills in biblical interpretation and theological
              reflection.
            </li>
            <p>
              Students will acquire the necessary competencies to interpret the
              Scriptures rigorously and contextually, as well as to reflect
              theologically on the fundamental themes of the Christian faith.
              This will enable them to provide relevant and biblical responses
              to the spiritual, social, and cultural challenges of their
              environment.
            </p>
            <li>Integrate theological thought with ministerial practice.</li>
            <p>
              The program encourages the integration of theological foundations
              with pastoral, liturgical, and community action. The acquired
              knowledge will be applied in contexts such as the local church,
              missionary organizations, Christian education programs, and social
              impact projects.
            </p>
            <li>
              Strengthen the capacity for spiritual and ethical leadership.
            </li>
            <p>
              Students will be prepared to exercise transformative leadership in
              their communities, guiding with wisdom, pastoral sensitivity, and
              Christian ethics. They will learn to lead with vision,
              discernment, and service in diverse and changing contexts.
            </p>
            <li>Promote Christian commitment to justice and service.</li>
            <p>
              The aim is to train leaders who promote the values of the Kingdom
              of God in everyday life, defending human dignity, social justice,
              and love for others. Students will be equipped to serve with
              compassion in their communities, both from the pulpit and through
              pastoral care and social action.
            </p>
            <li>
              Form ethically responsible professionals with a vocation for
              service.
            </li>
            <p>
              Students will be trained in solid ethical principles based on the
              Christian tradition, enabling them to carry out their theological
              vocation with integrity, respect, and responsibility. This ethical
              formation will allow them to make wise and biblically grounded
              decisions in their various areas of service.
            </p>
            <li>Prepare for theological research and critical analysis.</li>
            <p>
              Through the completion of a thesis, ministerial project, or final
              exam, students will demonstrate their ability to research complex
              topics related to theology, the Bible, the history of
              Christianity, and the current challenges of the faith. This
              preparation will enable them to contribute to academic, ecclesial,
              and cultural development from a theological perspective.
            </p>
            <li>Foster spiritual, personal, and professional growth.</li>
            <p>
              The program not only seeks to form competent theologians but also
              spiritually mature and emotionally healthy individuals. By
              deepening their relationship with God, cultivating humility,
              empathy, and pastoral wisdom, students will be better prepared to
              be compassionate servants and effective leaders in their Christian
              vocation.
            </p>
            <p>
              These objectives will guide students through a comprehensive
              theological formation, preparing them to be agents of
              transformation in the church and society, with an approach that
              balances biblical depth, pastoral practice, and an ethical
              commitment to serving others.
            </p>
          </ul>
        </div>
      </mat-tab>

      <mat-tab label="Courses">
        <div class="bodyContent">
          <app-en-course-bacher-of-theology />
        </div>
      </mat-tab>

      <mat-tab label="Summary">
        <div class="bodyContent">
          <p>
            The Bachelor of Theology at World Theology Academy is a 100% online
            program designed for individuals passionate about a deep study of
            the Christian faith, spiritual leadership, and biblical reflection.
            This degree offers a rigorous and comprehensive academic formation
            that combines theological analysis, biblical study, and ministerial
            practice, preparing students to serve with excellence in ecclesial,
            educational, and social contexts.
          </p>
          <h3>Credits and Courses</h3>
          <ul>
            <p>
              The program consists of a total of 120 credits, distributed among
              foundational theological courses, ministerial electives, and
              optional courses. This structure allows students to customize
              their educational experience according to their vocational
              interests and areas of specialization.
            </p>
            <h3>The key courses include:</h3>
            <li>Introduction to Theology</li>
            <li>Old and New Testament</li>
            <li>History of Christianity</li>
            <li>Systematic Theology</li>
            <li>Biblical Hermeneutics</li>
            <li>Christian Ethics</li>
            <li>Pastoral Leadership</li>
            <li>Ministry and Mission</li>
            <p>
              Elective courses allow students to delve deeper into areas such as
              pastoral counseling, contextual theology, eschatology,
              apologetics, Christian education, and practical spirituality.
            </p>
          </ul>
          <h3>Thesis or Comprehensive Exam</h3>
          <p>
            Upon completion of the program, students must choose between
            completing a theological research thesis or a comprehensive exam,
            which will allow them to demonstrate their mastery of the acquired
            content, their critical ability, and their preparation for
            professional service in the theological field. The program can be
            completed flexibly, either part-time or full-time, with a maximum
            duration of five years.
          </p>
          <h3>Program Objectives</h3>
          <p>
            The main objective of the Bachelor of Theology is to train integral
            Christian leaders with a solid biblical foundation, a profound
            understanding of the theological tradition, and a critical capacity
            to respond to the current challenges of faith in the contemporary
            world. The program also prepares students for research, biblical
            teaching, pastoral leadership, and other vocational ministries, both
            within and beyond ecclesial environments.
          </p>
          <h3>Professional and Spiritual Growth</h3>
          <p>
            This program not only promotes professional development in the
            theological field, but also fosters the spiritual and personal
            growth of students. Through the online learning environment and
            engagement with an international network of students, ministers, and
            scholars, participants will broaden their global perspective, deepen
            their vocation, and be better prepared to become agents of
            transformation in their communities.
          </p>
        </div>
      </mat-tab>
      <mat-tab label="Requirements">
        <div class="bodyContent">
          <p>
            Applicants for the Bachelor of Theology must meet a series of
            requirements that ensure their academic preparation, vocational
            commitment, and capacity to successfully complete this program of
            spiritual and academic formation. The admission criteria are
            detailed below:
          </p>

          <h3>Official Academic Transcripts</h3>
          <p>
            Applicants must submit the official academic transcripts for all
            previous studies, whether from secondary or higher education.
            Completion of secondary education is required, and having taken
            courses in humanities, philosophy, social sciences, or religious
            studies with outstanding academic performance will be viewed
            favorably.
          </p>

          <h3>Curriculum Vitae</h3>
          <p>
            An updated curriculum vitae must be provided, including any
            ministerial experience, educational background, volunteer work in
            churches, faith communities, or religious organizations. This
            document should reflect the applicant’s commitment to service,
            Christian leadership, or spiritual formation.
          </p>

          <h3>Applicant’s Statement</h3>
          <p>
            The applicant must write a personal statement of motivation,
            explaining their calling or interest in theological studies, how
            this program aligns with their personal and professional vocation,
            and how they expect to apply the knowledge acquired in ecclesial,
            academic, or social contexts.
          </p>

          <h3>Letters of Recommendation</h3>
          <p>
            At least two letters of recommendation are required from spiritual
            leaders, pastors, professors, or mentors who can attest to the
            applicant's character, spiritual commitment, and academic potential.
            These letters should support the applicant's suitability for
            studying theology and their ability to contribute to the advancement
            of God's Kingdom through biblical and theological knowledge.
          </p>

          <h3>Ministerial or Vocational Experience (Recommended)</h3>
          <p>
            Although not mandatory, previous experience in Christian ministries,
            biblical teaching, group leadership, or missions is recommended.
            This experience will strengthen the learning process and facilitate
            the practical application of theological content.
          </p>

          <h3>Personal Interview</h3>
          <p>
            In some cases, the admissions committee may request a personal or
            virtual interview with the applicant. This interview aims to assess
            the applicant’s level of spiritual maturity, vocational commitment,
            and motivation to undertake a rigorous and transformative
            theological education.
          </p>

          <h3>Application Fee</h3>
          <p>
            All applicants must pay a non-refundable application fee, which
            covers the administrative costs associated with the review and
            evaluation of the submitted documents.
          </p>

          <h3>Recommended Prior Knowledge</h3>
          <p>
            Although not an exclusionary requirement, it is recommended to have
            taken previous courses in areas such as Bible studies, church
            history, Christian ethics, or philosophical thought, which will
            facilitate the understanding of the theological topics covered in
            the program.
          </p>

          <h3>Academic Requirements During the Program</h3>
          <p>
            Once admitted, the student must meet the following requirements to
            complete the Bachelor of Theology:
          </p>
          <ul>
            <li>
              TOTAL CREDITS: Complete a total of 120 credits distributed among
              core, elective, and optional courses.
            </li>
            <li>
              MINIMUM OVERALL GPA: Maintain a minimum overall grade of a B or
              higher in all completed courses.
            </li>
            <li>
              BACHELOR'S THESIS OR COMPREHENSIVE EXAM: Upon completion of the
              program, the student must choose either to develop a theological
              thesis (worth 6 credits) on a relevant research topic or to take a
              comprehensive exam that assesses their mastery of the key areas of
              theology.
            </li>
            <li>
              STUDY MODE: The program is 100% online, with the option to study
              part-time or full-time. The maximum time allowed to complete the
              degree is five years.
            </li>
            <p>
              These requirements ensure that students enter and complete the
              program with a deep, biblically solid, and spiritually committed
              theological formation, in line with the highest standards of
              excellence at World Theology Academy.
            </p>
          </ul>
        </div>
      </mat-tab>

      <mat-tab label="Benefits">
        <div class="bodyContent">
          <p>
            The Bachelor of Divinity program at the Faculty of Divinities of
            World Theology Academy offers a comprehensive and practical
            theological formation designed to prepare students not only in their
            theoretical knowledge but also in their ministerial and vocational
            application. As a completely online program, it provides
            flexibility, accessibility, and thorough preparation for those
            seeking a career in religious ministry, spiritual leadership, or
            community engagement. Below are the main benefits of the program:
          </p>

          <h3>1. Flexibility of Online Study</h3>
          <p>
            All courses are offered 100% online, allowing students to study from
            anywhere in the world. This is ideal for those with work, family, or
            ministerial commitments, as the program can be adapted to their
            schedules and needs. Students can study full-time or at their own
            pace, which allows them to better balance their responsibilities.
          </p>

          <h3>2. Personalized and Vocational Training</h3>
          <p>
            The program offers students the opportunity to customize their
            curriculum according to their particular vocation. After the first
            year, they can choose from seven specializations:
          </p>
          <ul>
            <li>Pastoral Ministry</li>
            <li>Global and Community Engagement</li>
            <li>Religion and Academia</li>
            <li>Organizational Management</li>
            <li>Chaplaincy</li>
            <li>Interreligious Leadership</li>
            <li>Theology and the Arts</li>
          </ul>
          <p>
            This flexibility ensures that students receive training aligned with
            their personal and professional goals.
          </p>

          <h3>3. Balance Between Theory and Practice</h3>
          <p>
            The program combines rigorous academic courses in fundamental areas
            of theology, biblical studies, church history, and ethics with
            practical experiences through Contextual Education internships.
            These internships provide students the opportunity to apply what
            they have learned in real ministry settings, such as congregations,
            non-profit organizations, and community environments. This balance
            between theory and practice is essential for forming leaders who not
            only think theologically but also act effectively within their
            communities.
          </p>

          <h3>4. Spiritual Development and Personal Guidance</h3>
          <p>
            In addition to academic and practical training, the program focuses
            on the spiritual and personal growth of its students. Through
            Spiritual Guidance programs and opportunities for the Practice of
            Faith, students receive support in their emotional, ethical, and
            spiritual development. This comprehensive approach ensures that
            graduates are not only well-trained leaders but also individuals
            with a deep awareness of their own faith and purpose.
          </p>

          <h3>5. Preparation for Leadership in Diverse Contexts</h3>
          <p>
            Graduates are prepared to take on leadership roles in a variety of
            settings, including pastoral ministries, non-profit organizations,
            community leadership, and more. The specializations allow students
            to focus on specific areas of interest, such as Chaplaincy,
            Interreligious Leadership, or Organizational Management, providing
            them with the necessary tools to lead effectively in both
            traditional and emerging contexts.
          </p>

          <h3>6. Training in a Multicultural and Pluralistic World</h3>
          <p>
            The program places a strong emphasis on preparing students to serve
            in an increasingly diverse religious and cultural environment.
            Students learn to engage in interreligious dialogues, respect and
            value cultural differences, and minister in pluralistic settings.
            This is especially important for those who seek to work in
            multicultural communities or environments where interreligious
            cooperation is key.
          </p>

          <h3>7. Fulfillment of Ordination Requirements</h3>
          <p>
            The program is designed to meet the ordination requirements of most
            faith traditions. Students can tailor their studies, with the help
            of academic advisors, to ensure that they align with the specific
            demands of their denomination or religious community. This means
            that upon completion of the program, graduates will be
            well-positioned to pursue ordination or certification within their
            faith tradition.
          </p>

          <h3>8. Academic Support and Personalized Mentorship</h3>
          <p>
            Students receive strong academic support throughout the program.
            Each student works closely with an academic advisor who guides them
            in selecting courses and internships, ensuring that their formation
            is aligned with their vocational goals. Additionally, students have
            access to a network of experienced professors and mentors from
            various disciplines and ministerial contexts.
          </p>

          <h3>9. Development of Interdisciplinary Skills</h3>
          <p>
            Thanks to the flexibility of the program, students have the
            opportunity to develop interdisciplinary skills that extend beyond
            traditional religious ministry. This includes skills in areas such
            as organizational leadership, social justice, ecumenism, and
            interreligious studies, which broadens their career prospects and
            enables them to be effective leaders in a variety of fields and
            organizations.
          </p>

          <h3>10. Continuing Education and Lifelong Learning</h3>
          <p>
            The program fosters a mindset of continuous learning, encouraging
            students to develop study habits, reflection, and personal growth
            that will accompany them throughout their ministerial careers. This
            commitment to ongoing education is essential for those seeking to
            address the dynamic and complex challenges of ministry in the 21st
            century.
          </p>

          <p>
            The Bachelor of Divinity program at World Theology Academy offers a
            rich and multidimensional education that prepares students for
            leadership roles in a variety of religious and community settings.
            With its online flexibility, focus on personalized vocational
            training, and emphasis on personal and spiritual growth, it provides
            students with all the necessary tools to make a significant impact
            in the world.
          </p>
        </div>
      </mat-tab>
    </mat-tab-group>
  </div>
</main>
