<app-banner class="fadeIn" [banner]="flyer" [alt]="alt" />
<mat-dialog-content>
  <main class="fadeIn">
    <h2>MACC-IP-700 - Introducción a la Psicopatología</h2>
    <div class="line"></div>

    <div class="content fadeIn">
      <p>
        <span>Introducción a la Psicopatología</span> proporciona un resumen de
        los trastornos psicológicos más comunes, explorando sus síntomas,
        criterios de diagnóstico y implicaciones para el tratamiento en el
        ámbito clínico. Los estudiantes aprenderán las bases de la enfermedad
        mental y cómo se clasifica y identifica.
      </p>

      <h3>Objetivos del curso:</h3>
      <ul>
        <li>
          Identificar y describir los trastornos psicológicos principales
          basados en criterios de diagnóstico estándar (e.g., DSM-5).
        </li>
        <li>
          Entender las características y presentaciones clínicas de cada
          trastorno.
        </li>
        <li>
          Explorar los factores biológicos, psicológicos y sociales involucrados
          en la enfermedad mental.
        </li>
        <li>
          Reconocer el impacto de los trastornos en individuos, familias y
          comunidades.
        </li>
        <li>Introducir los métodos básicos de evaluación y intervención.</li>
      </ul>

      <h3>Temas principales:</h3>
      <ul>
        <li>Fundamentos de la psicopatología.</li>
        <li>
          Trastornos de ansiedad, trastornos de ánimo y trastornos depresivos.
        </li>
        <li>Trastornos psicóticos y trastornos de personalidad.</li>
        <li>
          Trastornos neurodesarrollados y trastornos relacionados con el trauma.
        </li>
        <li>Herramientas de diagnóstico y sistemas de clasificación.</li>
      </ul>

      <h3>Método de enseñanza:</h3>
      <p>
        Este curso incluye conferencias, análisis de casos, observación de
        videos, ejercicios de diagnóstico y discusiones en grupo para apoyar un
        entendimiento completo de los trastornos mentales.
      </p>

      <h3>Calificación:</h3>
      <p>La evaluación se basa en:</p>
      <ul>
        <li>
          Pruebas y exámenes sobre criterios de diagnóstico y terminología.
        </li>
        <li>Análisis de casos escritos y identificación de síntomas.</li>
        <li>Participación en clase y discusión de ejemplos clínicos.</li>
      </ul>

      <h3>Importancia del curso:</h3>
      <p>
        Este curso pone las bases para el entrenamiento avanzado clínico al
        equipar a los estudiantes con las herramientas para reconocer y
        comprender los trastornos de la salud mental en un entorno profesional.
      </p>
    </div>
  </main>
</mat-dialog-content>

<app-footer-modal />
