<app-banner class="fadeIn" [banner]="flyer" [alt]="alt" />
<mat-dialog-content>
  <main class="fadeIn">
    <h2>MAMH-CBTT-1300 - Cognitive Behavioral Therapy Theories</h2>

    <div class="line"></div>

    <div class="content fadeIn">
      <p>
        The course
        <span>MAMH-CBTT-1300 - Cognitive Behavioral Therapy Theories</span>
        provides an in-depth understanding of the theories and applications of
        Cognitive Behavioral Therapy (CBT). Students will learn how CBT can be
        applied to the treatment of disorders such as anxiety, depression, and
        conduct disorders.
      </p>

      <h3>Course Objectives:</h3>
      <ul>
        <li>
          Understand the theoretical foundations of Cognitive Behavioral
          Therapy.
        </li>
        <li>
          Explore the application of CBT in various psychological disorders.
        </li>
        <li>Analyze the processes of modifying thought and behavior.</li>
        <li>
          Develop practical skills for applying cognitive-behavioral techniques.
        </li>
        <li>Evaluate the effectiveness of CBT in various clinical contexts.</li>
      </ul>

      <h3>Main Topics:</h3>
      <ul>
        <li>Fundamentals and principles of Cognitive Behavioral Therapy.</li>
        <li>Identification and modification of dysfunctional thoughts.</li>
        <li>
          Behavioral techniques for changing habits and behavior patterns.
        </li>
        <li>Application of CBT in anxiety and depression disorders.</li>
        <li>Evaluating the effectiveness of CBT in clinical practice.</li>
        <li>Case studies and practical examples of CBT application.</li>
      </ul>

      <h3>Methodology:</h3>
      <p>
        The course is conducted through case studies, practical exercises, group
        discussions, and academic research analysis. Active learning is
        emphasized through the application of CBT techniques in simulated
        contexts.
      </p>

      <h3>Assessment:</h3>
      <p>Course assessment will include:</p>
      <ul>
        <li>Exams on CBT theories and models.</li>
        <li>Practical application of cognitive-behavioral techniques.</li>
        <li>Case study analysis on CBT treatment.</li>
        <li>Designing intervention plans based on CBT.</li>
        <li>
          Written reflections on the effectiveness of CBT in various disorders.
        </li>
      </ul>

      <h3>Importance of the Course:</h3>
      <p>
        Cognitive Behavioral Therapy is one of the most effective interventions
        in clinical psychology. This course equips students with practical
        knowledge to address psychological disorders in a structured,
        evidence-based manner.
      </p>
    </div>
  </main>
</mat-dialog-content>

<app-footer-modal />
