<app-banner class="fadeIn" [banner]="flyer" [alt]="alt" />
<mat-dialog-content>
    <main class="fadeIn">
        <h2>MATH-WPL-111 - Literatura de Sabiduría y Poética</h2>

        <div class="line"></div>

        <div class="content fadeIn">
            <p><span>Literatura de Sabiduría y Poética</span> se centra en los libros poéticos y sapienciales de la Biblia, explorando su contenido, estilo literario y los principios fundamentales de sabiduría y moralidad que transmiten.</p>

            <h3>Objetivos del Curso:</h3>
            <ul>
                <li>Estudiar los principales libros poéticos y sapienciales del Antiguo Testamento.</li>
                <li>Analizar el uso del lenguaje figurado y la poesía en los textos bíblicos.</li>
                <li>Explorar los principios de sabiduría y moralidad presentes en estos libros.</li>
                <li>Reflexionar sobre la aplicación de estos principios en la vida contemporánea.</li>
                <li>Desarrollar habilidades para interpretar y enseñar la literatura sapiencial de manera efectiva.</li>
            </ul>

            <h3>Temas Principales:</h3>
            <ul>
                <li>Introducción a la literatura sapiencial bíblica.</li>
                <li>El libro de los Salmos: poesía y oración.</li>
                <li>Proverbios y enseñanzas de sabiduría práctica.</li>
                <li>Eclesiastés: la búsqueda de sentido en un mundo incierto.</li>
                <li>Cantar de los Cantares: poesía amorosa y simbolismo.</li>
                <li>La sabiduría en el Antiguo Testamento y su relevancia en la vida cristiana.</li>
            </ul>

            <h3>Metodología:</h3>
            <p>Este curso combina la lectura y el análisis detallado de los libros poéticos y sapienciales con discusiones sobre sus significados y aplicaciones contemporáneas.</p>

            <h3>Evaluación:</h3>
            <ul>
                <li>Ensayos sobre los principales pasajes de sabiduría y poesía.</li>
                <li>Exámenes sobre la interpretación y los temas principales de los libros.</li>
                <li>Presentaciones sobre la relevancia de la sabiduría bíblica en la vida actual.</li>
                <li>Proyectos de investigación sobre la aplicación de los principios sapienciales en el ministerio y la vida cotidiana.</li>
            </ul>

            <h3>Importancia del Curso:</h3>
            <p>La literatura de sabiduría y poética bíblica ofrece una rica fuente de enseñanzas prácticas sobre cómo vivir una vida conforme a los principios de justicia, amor y fe.</p>
        </div>
    </main>
</mat-dialog-content>

<app-footer-modal />
