<p>
  El Doctorado en Divinidades se compone de cursos avanzados, seminarios
  especializados y oportunidades prácticas, diseñados para fortalecer
  competencias investigativas de alto nivel, análisis teológico riguroso y
  habilidades ministeriales en contextos globalizados y multiculturales. El
  programa incluye áreas fundamentales que permiten especializarse en
  disciplinas específicas, abordando tanto la teoría como la aplicación práctica
  del conocimiento:
</p>

<p>
  <strong>
    DOC-DIV-EAMTR-100 - Epistemología y Metodología Avanzada en Investigación
    Teológica -
  </strong>
  Profundización en métodos epistemológicos y metodológicos aplicados al
  desarrollo de investigaciones originales en el campo de la teología.
</p>
<button mat-button (click)="openDialog('100-doc-div-eamtr')">Ver más...</button>

<p>
  <strong
    >DOC-DIV-DRL-200 - Seminario de Investigación Doctoral: Formulación de Tesis
    Doctoral -
  </strong>
  Preparación y orientación para la formulación efectiva de propuestas
  doctorales y diseños metodológicos rigurosos.
</p>
<button mat-button (click)="openDialog('200-doc-div-drl')">Ver más...</button>

<p>
  <strong>
    DOC-DIV-DSOTD-300 - Supervisión Doctoral y Desarrollo de Tesis Original -
  </strong>
  Acompañamiento especializado en la investigación doctoral hasta la culminación
  y presentación de la tesis doctoral.
</p>
<button mat-button (click)="openDialog('300-doc-div-dsotd')">Ver más...</button>

<p>
  <strong>
    DOC-DIV-HCAST-400 - Hermenéutica Crítica y Análisis de Textos Sagrados -
  </strong>
  Aplicación avanzada de métodos críticos para la interpretación profunda y
  contextualizada de textos bíblicos.
</p>
<button mat-button (click)="openDialog('400-doc-div-hcast')">Ver más...</button>

<p>
  <strong
    >DOC-DIV-IHBS-500 - Introducción al Estudio de la Biblia Hebrea -
  </strong>
  Análisis detallado del contexto histórico, literario y teológico de los textos
  del Antiguo Testamento.
</p>
<button mat-button (click)="openDialog('500-doc-div-ihbs')">Ver más...</button>

<p>
  <strong
    >DOC-DIV-NTCM-600 - Nuevo Testamento: Contextos y Significado -
  </strong>
  Interpretación avanzada del Nuevo Testamento en su contexto histórico-cultural
  y teológico.
</p>
<button mat-button (click)="openDialog('600-doc-div-ntcm')">Ver más...</button>

<p>
  <strong
    >DOC-DIV-ASSCT-700 - Seminario Avanzado en Teología Sistemática y
    Contemporánea -
  </strong>
  Estudio en profundidad de los temas clave en la teología actual y sus
  implicaciones para la práctica ministerial.
</p>
<button mat-button (click)="openDialog('700-doc-div-assct')">Ver más...</button>

<p>
  <strong>DOC-DIV-ST-800 - Teología Sistemática - </strong> Análisis de grandes
  temas teológicos como Dios, salvación y vida cristiana desde perspectivas
  contemporáneas y diversas tradiciones religiosas.
</p>
<button mat-button (click)="openDialog('800-doc-div-st')">Ver más...</button>

<p>
  <strong
    >DOC-DIV-GE-900 - Ética Global y Compromiso Social desde la Perspectiva
    Teológica -</strong
  >
  Aplicación crítica de principios éticos teológicos a dilemas morales globales
  y contemporáneos.
</p>
<button mat-button (click)="openDialog('900-doc-div-ge')">Ver más...</button>

<p>
  <strong>DOC-DIV-CESA-1000 - Ética Cristiana y su Aplicación Social - </strong>
  Exploración de los principios éticos cristianos y su aplicación en justicia
  social, bioética y derechos humanos.
</p>
<button mat-button (click)="openDialog('1000-doc-div-cesa')">Ver más...</button>

<p>
  <strong
    >DOC-DIV-IE-1100 - Ética Interreligiosa: Diálogo y Cooperación -
  </strong>
  Fomento del diálogo ético entre religiones para enfrentar retos globales
  comunes.
</p>
<button mat-button (click)="openDialog('1100-doc-div-ie')">Ver más...</button>

<p>
  <strong
    >DOC-DIV-TLSMM-1200 - Liderazgo Transformacional y Gestión Ministerial
    Estratégica -</strong
  >
  Capacitación avanzada en liderazgo ético, estratégico y transformacional para
  ministerios y organizaciones religiosas.
</p>
<button mat-button (click)="openDialog('1200-doc-div-tlsmm')">
  Ver más...
</button>

<p>
  <strong> DOC-DIV-PLTP-1300 - Liderazgo Pastoral: Teoría y Práctica - </strong>
  Desarrollo de competencias para el liderazgo efectivo en comunidades
  religiosas diversas.
</p>
<button mat-button (click)="openDialog('1300-doc-div-pltp')">Ver más...</button>

<p>
  <strong
    >DOC-DIV-SCFTTA-1400 - Consejería Espiritual: Fundamentos y Enfoques
    Terapéuticos -
  </strong>
  Formación especializada para ofrecer apoyo emocional y espiritual en diversos
  contextos pastorales.
</p>
<button mat-button (click)="openDialog('1400-doc-div-scftta')">
  Ver más...
</button>

<p>
  <strong
    >DOC-DIV-LICSR-1500 - Liderazgo en Contextos de Crisis: Respuesta Espiritual
    y Comunitaria -
  </strong>
  Capacitación práctica en liderazgo espiritual durante situaciones de crisis
  sociales o humanitarias.
</p>
<button mat-button (click)="openDialog('1500-doc-div-licsr')">
  Ver más...
</button>

<p>
  <strong
    >DOC-DIV-IID-1600 - Diálogo Interreligioso e Intercultural: Retos y
    Oportunidades Globales -</strong
  >
  Estudio del diálogo interreligioso como medio para la comprensión mutua y
  cooperación internacional.
</p>
<button mat-button (click)="openDialog('1600-doc-div-iid')">Ver más...</button>

<p>
  <strong
    >DOC-DIV-CTIA-1700 - Teología Comparativa: Un Enfoque Interreligioso -
  </strong>
  Estudio comparativo de las principales religiones sobre temas teológicos
  esenciales.
</p>
<button mat-button (click)="openDialog('1700-doc-div-ctia')">Ver más...</button>

<p>
  <strong
    >DOC-DIV-RRP-1800 - Rituales y Prácticas Religiosas: Un Enfoque Comparativo
    -
  </strong>
  Análisis de las prácticas religiosas en diversas tradiciones y sus
  implicancias culturales y sociales.
</p>
<button mat-button (click)="openDialog('1800-doc-div-rrp')">Ver más...</button>

<p>
  <strong>DOC-DIV-HWR-1900 - Historia de las Religiones del Mundo - </strong>
  Análisis histórico y social profundo de las religiones mundiales más
  influyentes.
</p>
<button mat-button (click)="openDialog('1900-doc-div-hwr')">Ver más...</button>

<p>
  <strong
    >DOC-DIV-MMRR-2000 - Reformas y Movimientos Religiosos Modernos -
  </strong>
  Estudio crítico de movimientos reformistas dentro de las tradiciones
  religiosas contemporáneas.
</p>
<button mat-button (click)="openDialog('2000-doc-div-mmrr')">Ver más...</button>

<p>
  <strong>DOC-DIV-BH-2100 -Hebreo Bíblico - </strong> Dominio avanzado del
  idioma original de textos del Antiguo Testamento.
</p>
<button mat-button (click)="openDialog('2100-doc-div-bh')">Ver más...</button>

<p>
  <strong>DOC-DIV-BG-2200 - Griego Bíblico - </strong> Profundización en la
  lectura crítica y exegética del Nuevo Testamento en su idioma original.
</p>
<button mat-button (click)="openDialog('2200-doc-div-bg')">Ver más...</button>

<p>
  <strong>DOC-DIV-EL-2300 - Latín Eclesiástico - </strong> Competencia
  lingüística en latín, enfocado en textos históricos y doctrinales de la
  tradición cristiana.
</p>
<button mat-button (click)="openDialog('2300-doc-div-el')">Ver más...</button>

<p>
  <strong>DOC-DIV-PPRC-2400 - Prácticas en Comunidades Religiosas - </strong>
  Aplicación directa de conocimientos en contextos ministeriales reales bajo
  supervisión académica especializada.
</p>
<button mat-button (click)="openDialog('2400-doc-div-pprc')">Ver más...</button>

<p>
  <strong>DOC-DIV-TRS-2500 - Seminario de Investigación Teológica - </strong>
  Desarrollo y presentación de investigaciones académicas originales en áreas
  específicas de interés teológico.
</p>
<button mat-button (click)="openDialog('2500-doc-div-trs')">Ver más...</button>

<p>
  <strong>DOC-DIV-SOID-2600 - Seminario en Diálogo Interreligioso - </strong>
  Espacio académico para el análisis profundo de problemáticas contemporáneas
  del diálogo interreligioso.
</p>
<button mat-button (click)="openDialog('2600-doc-div-soid')">Ver más...</button>

<p>
  <strong>DOC-DIV-TOL-2700 - Teología de la Liberación - </strong> Análisis
  crítico del rol de la teología frente a desafíos contemporáneos de justicia
  social y equidad.
</p>
<button mat-button (click)="openDialog('2700-doc-div-tol')">Ver más...</button>

<p>
  <strong>DOC-DIV-SAC-2800 - Espiritualidad y Cambio Climático - </strong>
  Estudio de la responsabilidad espiritual y religiosa frente a desafíos
  ambientales globales.
</p>
<button mat-button (click)="openDialog('2800-doc-div-sac')">Ver más...</button>

<p>
  <strong>DOC-DIV-EC-2900 - Ecumenismo: Colaboración entre Iglesias - </strong>
  Exploración teórica y práctica de la cooperación entre diversas denominaciones
  cristianas.
</p>
<button mat-button (click)="openDialog('2900-doc-div-ec')">Ver más...</button>

<p>
  <strong>DOC-DIV-GMC-3000 - Misión Global y Cultura - </strong> Formación
  avanzada para la misión cristiana efectiva en contextos multiculturales.
</p>
<button mat-button (click)="openDialog('3000-doc-div-gmc')">Ver más...</button>

<p>
  Este conjunto integral de cursos permite que cada estudiante desarrolle
  plenamente su potencial académico e investigativo, fortaleciendo competencias
  avanzadas para ejercer liderazgo ético y transformacional en contextos
  internacionales y multiculturales diversos.
</p>
