<app-banner class="fadeIn" [banner]="flyer" [alt]="alt" />
<mat-dialog-content>
  <main class="fadeIn">
    <h2>MATH-CPR-503 - Plantación y Renovación de Iglesias</h2>

    <div class="line"></div>

    <div class="content fadeIn">
      <p><span>Plantación y Renovación de Iglesias</span> prepara a líderes para plantar nuevas iglesias o revitalizar congregaciones existentes, estableciendo comunidades vibrantes y sostenibles.</p>

      <h3>Objetivos del Curso:</h3>
      <ul>
        <li>Entender principios y estrategias de plantación de iglesias.</li>
        <li>Diseñar planes estratégicos para nuevas comunidades cristianas.</li>
        <li>Renovar iglesias estancadas con enfoque en misión y visión.</li>
        <li>Superar desafíos comunes en la plantación y renovación.</li>
        <li>Impactar la comunidad local mediante la expansión del Reino.</li>
      </ul>

      <h3>Temas Principales:</h3>
      <ul>
        <li>Visión y estrategia para plantación de iglesias.</li>
        <li>Formación de comunidades cristianas saludables.</li>
        <li>Logística y finanzas en la plantación de iglesias.</li>
        <li>Renovación y revitalización de iglesias.</li>
        <li>Impacto social y cultural de nuevas iglesias.</li>
      </ul>

      <h3>Metodología:</h3>
      <p>Clases teóricas, estudios de caso, simulaciones prácticas, proyectos de plantación y renovación realistas.</p>

      <h3>Evaluación:</h3>
      <ul>
        <li>Planes de plantación o renovación de iglesias.</li>
        <li>Estudios de caso de iglesias nuevas y revitalizadas.</li>
        <li>Presentación de proyectos viables de crecimiento eclesial.</li>
      </ul>

      <h3>Importancia del Curso:</h3>
      <p>Forma líderes preparados para expandir y revitalizar el Reino de Dios a través de iglesias sostenibles y dinámicas.</p>
    </div>
  </main>
</mat-dialog-content>
<app-footer-modal />
