<app-banner class="fadeIn" [banner]="flyer" [alt]="alt" />
<mat-dialog-content>
  <main class="fadeIn">
    <h2>BACC-PII-900 - Psicopatología II</h2>
    <div class="line"></div>

    <div class="content fadeIn">
      <p>
        El curso <span>Psicopatología II</span> es una continuación del estudio
        de los trastornos mentales, enfocándose en diagnósticos más complejos y
        condiciones clínicas menos comunes. Se profundiza en la comprensión de
        los síntomas, causas, y tratamientos avanzados para una intervención más
        efectiva.
      </p>

      <h3>Objetivos del curso:</h3>
      <ul>
        <li>
          Ampliar el conocimiento sobre trastornos mentales de mayor
          complejidad.
        </li>
        <li>
          Analizar diagnósticos diferenciales y comorbilidades frecuentes.
        </li>
        <li>
          Estudiar casos clínicos que requieren evaluaciones profundas y
          enfoques terapéuticos especializados.
        </li>
        <li>
          Fortalecer las habilidades clínicas para la observación, análisis e
          intervención.
        </li>
        <li>
          Integrar el conocimiento adquirido con la práctica ética y profesional
          de la consejería.
        </li>
      </ul>

      <h3>Temas principales:</h3>
      <ul>
        <li>Trastornos disociativos y del neurodesarrollo.</li>
        <li>Trastornos somatomorfos y psicosomáticos.</li>
        <li>Trastornos relacionados con traumas y factores de estrés.</li>
        <li>Diagnóstico diferencial y comorbilidades clínicas.</li>
        <li>Evaluación clínica avanzada y estrategias de intervención.</li>
      </ul>

      <h3>Metodología:</h3>
      <p>
        El curso se basa en clases magistrales, estudio de casos complejos,
        discusiones guiadas, lectura de artículos especializados y ejercicios
        prácticos de diagnóstico. Se promueve la integración de teoría y
        práctica.
      </p>

      <h3>Evaluación:</h3>
      <p>La evaluación del curso incluirá:</p>
      <ul>
        <li>Exámenes teóricos sobre diagnósticos complejos.</li>
        <li>Análisis clínico de casos con múltiples trastornos.</li>
        <li>Ensayos sobre temas especializados en psicopatología.</li>
        <li>Presentaciones sobre intervenciones clínicas avanzadas.</li>
      </ul>

      <h3>Importancia del curso:</h3>
      <p>
        Psicopatología II fortalece la capacidad de los estudiantes para abordar
        casos clínicos desafiantes con una perspectiva integral y profesional.
        Este conocimiento es esencial para brindar apoyo terapéutico eficaz y
        ético a personas que enfrentan condiciones mentales severas.
      </p>
      "
    </div>
  </main>
</mat-dialog-content>

<app-footer-modal />
