<app-banner class="fadeIn" [banner]="flyer" [alt]="alt" />
<mat-dialog-content>
  <main class="fadeIn">
    <h2>BACH-IAP-600 - Introducción a la Apologética</h2>

    <div class="line"></div>

    <div class="content fadeIn">
      <p>
        Este curso ofrece un estudio profundo de los principios fundamentales de
        la apologética cristiana, proporcionando a los estudiantes las
        herramientas necesarias para defender y explicar su fe con claridad,
        lógica y confianza en diversos contextos.
      </p>

      <h3>Objetivos del curso:</h3>
      <ul>
        <li>
          <strong
            >Fundamentos filosóficos y teológicos de la fe cristiana:</strong
          >
          Los estudiantes explorarán los fundamentos filosóficos que sostienen
          la existencia de Dios y cómo la teología cristiana se interrelaciona
          con la filosofía para defender las creencias fundamentales del
          cristianismo.
        </li>
        <li>
          <strong>Confianza y claridad en la defensa de la fe:</strong> A lo
          largo del curso, los estudiantes desarrollarán habilidades
          argumentativas para defender su fe de manera clara, lógica y
          respetuosa, abordando dudas y objeciones desde un enfoque teológico y
          filosófico.
        </li>
        <li>
          <strong>Desafíos contemporáneos a la cosmovisión cristiana:</strong>
          Se analizarán los principales desafíos contemporáneos a la cosmovisión
          cristiana, como el secularismo, el pluralismo religioso y las
          objeciones científicas al teísmo, equipando a los estudiantes con
          herramientas para responder a estos desafíos de manera efectiva.
        </li>
        <li>
          <strong
            >Desarrollo de habilidades dialógicas y argumentativas:</strong
          >
          A través de debates y ejercicios prácticos, los estudiantes aprenderán
          a presentar y defender sus creencias con respeto, utilizando
          estrategias dialógicas que faciliten el diálogo interreligioso y
          académico.
        </li>
      </ul>

      <h3>Metodología:</h3>
      <p>
        El curso se llevará a cabo mediante conferencias teóricas combinadas con
        ejercicios prácticos de argumentación. Los estudiantes participarán en
        debates, discusiones en línea y estudios de caso sobre los principales
        temas de la apologética cristiana, con un enfoque práctico en la defensa
        de la fe en contextos actuales.
      </p>

      <h3>Evaluación:</h3>
      <p>
        La evaluación del curso estará basada en la participación activa en
        debates, un trabajo de investigación sobre un tema apologético
        específico, y un examen final en el que los estudiantes demostrarán su
        habilidad para aplicar los principios apologéticos aprendidos durante el
        curso.
      </p>
    </div>
  </main>
</mat-dialog-content>

<app-footer-modal />
