<p>
  La Maestría en Salud Mental de World Theology University ofrece una amplia
  gama de cursos que cubren los fundamentos y conceptos clave de la psicología
  clínica y la salud mental. Cada curso está diseñado para proporcionar a los
  estudiantes tanto el conocimiento teórico como las habilidades prácticas
  necesarias para sobresalir en el campo. A continuación, se presentan los
  cursos del programa, con su respectivo código y descripción:
</p>

<ul>
  <li>
    <strong>
      MAMH-FMHCP-100 -Fundamentos de la Consejería para la Salud Mental y la
      Perspectiva:
    </strong>
    En este curso, los estudiantes examinan intervenciones para mejorar la
    enfermedad mental y promover el bienestar psicológico. Se integran modelos
    de investigación y tratamiento para considerar el bienestar mental en
    términos de patología y desarrollo óptimo psicológico y físico. Se exploran
    los significados de salud y enfermedad en diferentes identidades (como
    etnia, cultura, género, sexualidad, clase y edad). También se revisan
    trastornos como depresión, ansiedad, psicosis y constructos como
    resiliencia, esperanza, sabiduría y espiritualidad.
  </li>
  <button mat-button (click)="openDialog('mamhfmhcp100')">Ver más...</button>

  <li>
    <strong>
      MAMH-ICSL-200 -Laboratorio de Habilidades en Consejería Individual:
    </strong>
    Los estudiantes participan en un laboratorio práctico en grupos pequeños,
    utilizando simulaciones, modelado, y microconsejería. Este curso se centra
    en el aprendizaje de habilidades fundamentales de comunicación necesarias
    para entrevistas y consejería, aplicables a una amplia gama de situaciones
    profesionales, como consejería con niños, adolescentes y adultos.
  </li>
  <button mat-button (click)="openDialog('mamhicsl200')">Ver más...</button>

  <li>
    <strong> MAMH-ICTP-300 -Consejería Individual: Teoría y Proceso: </strong>
    Este curso revisa las principales teorías de consejería y su aplicación en
    el desarrollo social y emocional de individuos en diferentes etapas de la
    vida. Se aborda la aplicación de teorías clásicas y contemporáneas de la
    consejería, haciendo énfasis en el desarrollo normal y anormal de la
    personalidad, así como en la base de evidencia científica para las diversas
    teorías.
  </li>
  <button mat-button (click)="openDialog('mamhictp300')">Ver más...</button>

  <li>
    <strong> MAMH-HGD-400 - Crecimiento Humano y Desarrollo: </strong>
    En este curso, se exploran las principales teorías del crecimiento y
    desarrollo humano, cubriendo el ciclo de vida desde el nacimiento hasta la
    muerte. Los estudiantes aprenderán a evaluar los múltiples factores que
    influyen en el desarrollo humano, como la biología y la cultura, y aplicarán
    el conocimiento en situaciones reales con niños, adolescentes y adultos.
  </li>
  <button mat-button (click)="openDialog('mamhhgd400')">Ver más...</button>

  <li>
    <strong>
      MAMH-PCEI-500 -Orientación Profesional y Cuestiones Éticas en la
      Consejería para la Salud Mental:
    </strong>
    Este curso ofrece una visión profunda sobre la historia y las cuestiones
    éticas en la profesión de consejería en salud mental. Se discuten temas como
    los roles profesionales, licencias, certificaciones, y la ética aplicada en
    la toma de decisiones dentro del contexto de la consejería en salud mental.
    También se exploran los aspectos éticos de la intervención en situaciones de
    crisis.
  </li>
  <button mat-button (click)="openDialog('mamhpcei500')">Ver más...</button>

  <li>
    <strong>
      MAMH-PMHCP-600 - Práctica en Consejería para la Salud Mental y la
      Perspectiva:
    </strong>
    Los estudiantes aplican las habilidades de consejería aprendidas en entornos
    prácticos bajo supervisión profesional. Este curso requiere que los
    estudiantes completen al menos 100 -horas de experiencia práctica, con al
    menos 40 horas de contacto directo con los clientes, y participen en
    sesiones de supervisión semanal. Es un curso fundamental para desarrollar
    competencias como consejeros profesionales.
  </li>
  <button mat-button (click)="openDialog('mamhpmhcp600')">Ver más...</button>

  <li>
    <strong> MAMH-AP-700 - Psicología Anormal: </strong>
    Este curso examina los trastornos psicológicos más comunes, como los
    trastornos de ansiedad, trastornos del ánimo, trastornos de la conducta
    alimentaria, trastornos relacionados con sustancias, y más. Los estudiantes
    aprenderán sobre la clasificación, etiología, síntomas y tratamientos
    asociados con estos trastornos, así como el impacto que tienen en las
    personas a lo largo de su vida.
  </li>
  <button mat-button (click)="openDialog('mamhap700')">Ver más...</button>

  <li>
    <strong>
      MAMH-GDTP-800 -Investigación y Evaluación en las Ciencias del
      Comportamiento:
    </strong>
    Los estudiantes aprenderán a evaluar estudios de investigación en las
    ciencias del comportamiento, con un enfoque particular en la investigación a
    lo largo del ciclo de vida. Se pone énfasis en la metodología científica, el
    desarrollo de hipótesis, y la evaluación ética en la investigación aplicada
    en el campo de la psicología clínica.
  </li>
  <button mat-button (click)="openDialog('mamhrebs800')">Ver más...</button>

  <li>
    <strong> MAMH-VDD-900 -Dinámica de Grupos: Teoría y Práctica: </strong>
    Este curso ofrece una introducción a la teoría del proceso grupal y la
    dinámica subyacente a la consejería grupal. Los estudiantes desarrollarán
    una comprensión de las interacciones grupales y cómo utilizar grupos en
    intervenciones de consejería con niños, adolescentes y adultos. Se prestará
    atención a las dinámicas emocionales, comportamentales e interpersonales
    dentro del contexto grupal.
  </li>
  <button mat-button (click)="openDialog('mamhgdtp900')">Ver más...</button>

  <li>
    <strong> MAMH--1000 - Dinámicas del Desarrollo Vocacional: </strong>
    Este curso explora la naturaleza del trabajo, los patrones de carrera, la
    elección de ocupaciones y la satisfacción laboral. Los estudiantes
    analizarán cómo factores como el trabajo, el ocio y la educación influyen en
    el desarrollo vocacional, y cómo estos aspectos pueden aplicarse al contexto
    de la consejería.
  </li>
  <button mat-button (click)="openDialog('mamhvdd1000')">Ver más...</button>

  <li>
    <strong> MAMH-IC-1100 - Consejería Intercultural: </strong>
    Este curso examina cómo el comportamiento y la experiencia de los individuos
    son influenciados por la cultura y la interseccionalidad. Los estudiantes
    aumentarán su autoconciencia y aprenderán a aplicar teorías y técnicas de
    consejería en contextos culturales diversos, mejorando sus habilidades para
    trabajar con poblaciones de diferentes orígenes.
  </li>
  <button mat-button (click)="openDialog('mamhic1100')">Ver más...</button>

  <li>
    <strong> MAMH-POV-1200 - Psicología de la Violencia: </strong>
    Este curso ofrece un análisis profundo de los efectos psicológicos de la
    violencia y cómo estos pueden tratarse desde la perspectiva de la psicología
    clínica. Los estudiantes estudiarán los diferentes tipos de violencia, su
    impacto en las víctimas y las estrategias de intervención más eficaces para
    su tratamiento.
  </li>
  <button mat-button (click)="openDialog('mamhpov1200')">Ver más...</button>

  <li>
    <strong>
      MAMH-CBTT-1300 - Teorías de la Terapia Cognitivo-Conductual
    </strong>
    Este curso proporciona una comprensión profunda de las teorías y
    aplicaciones de la terapia cognitivo-conductual (TCC). Los estudiantes
    aprenderán cómo la TCC puede aplicarse al tratamiento de trastornos como la
    ansiedad, la depresión y los trastornos de conducta.
  </li>
  <button mat-button (click)="openDialog('mamhcbtt1300')">Ver más...</button>

  <li>
    <strong> MAMH-PSYP-1400 - Psicofarmacología: </strong>
    En este curso, se introduce el uso de medicamentos en el tratamiento de
    trastornos psicológicos. Los estudiantes aprenderán sobre los diferentes
    tipos de fármacos utilizados en la psicología clínica, su funcionamiento, y
    sus efectos en los pacientes, además de estudiar la interacción entre los
    medicamentos y la psicoterapia.
  </li>
  <button mat-button (click)="openDialog('mamhpsyp1400')">Ver más...</button>

  <li>
    <strong> MAMH-PSYP-1500 - Neuropsicología Rehabilitativa: </strong>
    Este curso se enfoca en el estudio de la neuropsicología y su aplicación en
    la rehabilitación de pacientes con trastornos neurológicos. Los estudiantes
    aprenderán sobre la evaluación y tratamiento de problemas cognitivos,
    emocionales y conductuales relacionados con daños cerebrales.
  </li>
  <button mat-button (click)="openDialog('mamhnr1500')">Ver más...</button>

  <li>
    <strong> MAMH-NR-1600 -Intervención en Crisis Psicológicas: </strong>
    Este curso capacita a los estudiantes en cómo intervenir de manera efectiva
    en situaciones de crisis, como suicidio, abuso, traumas graves o desastres.
    Los estudiantes aprenderán técnicas de intervención inmediata y el manejo de
    la estabilidad emocional del paciente a corto y largo plazo.
  </li>
  <button mat-button (click)="openDialog('mamhipc1600')">Ver más...</button>

  <li>
    <strong> MAMH-IPC-1700 - Técnicas Avanzadas en Psicoterapia </strong>
    En este curso, se abordan las técnicas terapéuticas avanzadas como la
    terapia dialéctico-conductual (DBT) y la psicoterapia psicodinámica. Los
    estudiantes aprenderán cómo integrar estas técnicas en el tratamiento de
    trastornos complejos como el trastorno límite de la personalidad.
  </li>
  <button mat-button (click)="openDialog('mamhapt1700')">Ver más...</button>

  <li>
    <strong> MAMH-APT-1800 - Psicología Infantil y Adolescente </strong>
    Este curso profundiza en los trastornos psicológicos comunes en niños y
    adolescentes, abordando su diagnóstico, tratamiento y el desarrollo
    emocional de los más jóvenes. Se cubren trastornos como el TDAH, la
    depresión infantil, y la ansiedad en jóvenes.
  </li>
  <button mat-button (click)="openDialog('mamhcap1800')">Ver más...</button>

  <li>
    <strong> MAMH-FCT-1900 - Terapia Familiar y de Pareja: </strong>
    Este curso enseña a los estudiantes a trabajar con familias y parejas en
    crisis, utilizando enfoques terapéuticos que mejoren la dinámica familiar.
    Se abordan temas como la violencia doméstica, los trastornos relacionales y
    el manejo de conflictos.
  </li>
  <button mat-button (click)="openDialog('mamhfct1900')">Ver más...</button>

  <li>
    <strong>
      MAMH-CAP-2000 -Psicología del Envejecimiento y Trastornos Geriátricos:
    </strong>
    Este curso explora el envejecimiento desde una perspectiva psicológica,
    abordando trastornos como la demencia y la depresión en la vejez. Los
    estudiantes aprenderán estrategias para apoyar a los pacientes mayores y
    mejorar su calidad de vida.
  </li>
  <button mat-button (click)="openDialog('mamhpagd2000')">Ver más...</button>

  <li>
    <strong> MAMH-FCT-2100 - Psicología Social Aplicada: </strong>
    Los estudiantes examinarán cómo los factores sociales influyen en el
    comportamiento y las decisiones individuales. Este curso trata sobre el
    comportamiento grupal, los prejuicios y la discriminación, y cómo estos
    fenómenos impactan en la salud mental de las personas.
  </li>
  <button mat-button (click)="openDialog('mamhasp2100')">Ver más...</button>

  <li>
    <strong> MAMH-PAGD-2200 -Trastornos de la Conducta Alimentaria: </strong>
    Este curso cubre los trastornos alimentarios más comunes, como la anorexia y
    la bulimia. Los estudiantes aprenderán sobre las causas psicológicas y
    biológicas, así como las estrategias de tratamiento efectivas en este campo.
  </li>
  <button mat-button (click)="openDialog('mamhed2200')">Ver más...</button>

  <li>
    <strong> MAMH-FP-2300 - Psicología Forense: </strong>
    Este curso proporciona una comprensión de cómo la psicología se aplica en el
    contexto legal, abordando temas como la evaluación de la competencia y la
    violencia criminal. Los estudiantes aprenderán a utilizar herramientas
    psicológicas dentro del sistema judicial.
  </li>
  <button mat-button (click)="openDialog('mamhfp2300')">Ver más...</button>
</ul>
