<app-banner class="fadeIn" [banner]="flyer" [alt]="alt" />
<mat-dialog-content>
  <main class="fadeIn">
    <h2>MATH-RSPD-702 - Seminario de Investigación I: Diseño de Proyecto</h2>

    <div class="line"></div>

    <div class="content fadeIn">
      <p><span>Seminario de Investigación I: Diseño de Proyecto</span> guía a los estudiantes en el diseño de proyectos de investigación sólidos, desde la formulación de preguntas hasta la elaboración de un plan de estudio estructurado y ético.</p>

      <h3>Objetivos del Curso:</h3>
      <ul>
        <li>Formular preguntas de investigación claras y específicas.</li>
        <li>Seleccionar metodologías adecuadas y justificarlas.</li>
        <li>Realizar revisiones de literatura identificando vacíos de conocimiento.</li>
        <li>Elaborar planes de investigación detallados y viables.</li>
        <li>Presentar y defender propuestas de investigación.</li>
      </ul>

      <h3>Temas Principales:</h3>
      <ul>
        <li>Formulación de preguntas e hipótesis.</li>
        <li>Selección de metodologías de investigación.</li>
        <li>Diseño de plan de investigación.</li>
        <li>Presentación y defensa de proyectos.</li>
      </ul>

      <h3>Metodología:</h3>
      <p>Presentaciones teóricas, discusiones grupales, diseño de proyectos individuales y sesiones de retroalimentación.</p>

      <h3>Evaluación:</h3>
      <ul>
        <li>Propuesta de investigación.</li>
        <li>Revisión de literatura.</li>
        <li>Plan detallado de investigación.</li>
        <li>Presentación final del proyecto.</li>
      </ul>

      <h3>Importancia del Curso:</h3>
      <p>Fundamental para construir bases sólidas en el proceso investigativo académico y profesional.</p>
    </div>
  </main>
</mat-dialog-content>
<app-footer-modal />
