<app-banner class="fadeIn" [banner]="flyer" [alt]="alt" />
<mat-dialog-content>
  <main class="fadeIn">
    <h2>BACH-IAP-600 - Introduction to apologetics</h2>

    <div class="line"></div>

    <div class="content fadeIn">
      <p>
        This course offers an in-depth study of the fundamental principles of
        Christian apologetics, providing students with the necessary tools to
        defend and explain their faith with clarity, logic, and confidence in
        various contexts.
      </p>

      <h3>Course Objectives:</h3>
      <ul>
        <li>
          <strong
            >Philosophical and theological foundations of the Christian
            faith:</strong
          >
          Students will explore the philosophical foundations that support the
          existence of God and how Christian theology interrelates with
          philosophy to defend the core beliefs of Christianity.
        </li>
        <li>
          <strong>Confidence and clarity in defending the faith:</strong>
          Throughout the course, students will develop argumentative skills to
          defend their faith in a clear, logical, and respectful manner,
          addressing doubts and objections from a theological and philosophical
          perspective.
        </li>
        <li>
          <strong>Contemporary challenges to the Christian worldview:</strong>
          The course will analyze the major contemporary challenges to the
          Christian worldview, such as secularism, religious pluralism, and
          scientific objections to theism, equipping students with tools to
          effectively respond to these challenges.
        </li>
        <li>
          <strong>Development of dialogical and argumentative skills:</strong>
          Through debates and practical exercises, students will learn to
          present and defend their beliefs with respect, using dialogical
          strategies that facilitate interreligious and academic dialogue.
        </li>
      </ul>

      <h3>Methodology:</h3>
      <p>
        The course will be conducted through theoretical lectures combined with
        practical argumentation exercises. Students will participate in debates,
        online discussions, and case studies on key topics of Christian
        apologetics, with a practical focus on defending the faith in current
        contexts.
      </p>

      <h3>Evaluation:</h3>
      <p>
        The course evaluation will be based on active participation in debates,
        a research paper on a specific apologetic topic, and a final exam where
        students will demonstrate their ability to apply the apologetic
        principles learned throughout the course.
      </p>
    </div>
  </main>
</mat-dialog-content>

<app-footer-modal />
