.routerLinkActive {
  background: var(--primary-dark);
  // pointer-events: none;
}

.navPc {
  width: 100%;
  height: auto;
  background: var(--primary);
  padding: 0;
  margin: 0;
  position: relative;
  top: 0;
  left: 0;
  z-index: 2;
}

.logo {
  width: 100%;
  max-width: 70px;
  height: auto;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  // background-color: #fefefd;
  a {
    text-decoration: none;
    color: #fefefd;
    text-align: center;
    transition: all 0.2s ease;

    &:hover {
      transform: scale(1.01) translateY(-3px);
    }
  }

  img {
    width: auto;
    // max-width: 150px;
    max-width: 70px;
    height: auto;
    border-radius: 0.3rem;
    padding: 0.3rem;
    transition: all 0.2s ease;

    &:hover {
      transform: scale(1.1);
    }

    &:active {
      transform: scale(0.95);
    }
  }
}

nav {
  width: 100%;
  height: auto;
  max-width: 1100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
  margin: 0 auto;
  color: #fefefd;
  z-index: 1;
}

ul {
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
}

nav ul li {
  list-style: none;
  padding: 0;
  margin: 0;
  cursor: pointer;
}

ul li a {
  text-decoration: none;
  color: #fefefd;
  padding: 1.5rem 1rem;
  font-size: 1rem;
  font-weight: 400;
  display: block;
  text-wrap: nowrap;
  cursor: pointer;
  transition: all 0.2s ease;

  &:hover {
    background: rgba(0, 0, 0, 0.4);
  }

  &:active {
    transform: scale(0.95);
  }
}

nav ul li img {
  width: 50px;
  height: auto;
  object-fit: cover;
  object-position: center;
  border-radius: 0.3rem;
  cursor: pointer;
  margin-top: 0.5rem;
  transition: all 0.2s ease;

  &:hover {
    transform: scale(1.1);
    background: rgba(0, 0, 0, 0.4);
  }

  &:active {
    transform: scale(0.95);
  }
}

.language {
  display: flex;
  align-items: center;
  gap: 0.2rem;
  cursor: pointer;

  span {
    transition: all 0.2s ease;
    font-size: 1.5rem;
    color: #fefefd;
    display: block;
    padding: 1rem;
    border-radius: 0.5rem;
    &:hover {
      background: rgba(0, 0, 0, 0.4);
    }
  }
}
.flag {
  width: 30px;
  height: 30px;
  padding-bottom: 1rem;
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    padding: 0 !important;
    margin: 0 !important;
  }
}

.active {
  background: var(--primary-dark);
}

.verticalLine {
  width: 1px;
  height: 30px;
  background: #afafaf;
}

/* =========================================
**** @media only screen and (max-width: 786px)
    NAVIGATION MOBILE
========================================= */
.navMobile {
  display: none;
}

@media only screen and (max-width: 920px) {
  .navPc,
  .overflow {
    display: none;
  }

  .navMobile {
    display: block;
  }

  .menuMobile {
    display: block;
    background: var(--primary);
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
    // position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
  }

  .title {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;

    h3 {
      color: #fefefd;
      font-size: 1.2rem;
      font-weight: 400;
      flex-wrap: nowrap;
      margin: 0;
      padding: 1rem;
    }
  }

  .toggleMenu {
    position: relative;
    z-index: 1;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fefefd;
    padding: 0.8rem 0 0.8rem 0.5rem;
    margin: 0;
    background: var(--primary);

    mat-icon {
      font-size: 2.4rem;
      width: 45px;
      height: 35px;
    }
  }

  .sidebar {
    left: 0;
    width: 100%;
    height: auto;
    min-height: calc(100vh - 50px);

    background: linear-gradient(
      to bottom right,
      var(--primary),
      var(--primary-dark)
    );
    animation-duration: 0.4s;
    // oklch(63.7% 0.237 25.331)
    animation-timing-function: ease;
  }

  .menuSidebar {
    position: absolute;
    z-index: 2;
    top: 60px;
    left: 0;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;

    li {
      width: 100%;
      height: auto;
      text-align: center;
      border-bottom: 1px solid rgba(243, 243, 243, 0.5);
      cursor: pointer;
    }
  }

  .logo {
    width: 100%;
    height: auto;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;

    img {
      width: auto;
      height: 80px;

      border-radius: 0.3rem;
      padding: 1rem;
      transition: all 0.2s ease;

      &:hover {
        transform: scale(1.1);
      }

      &:active {
        transform: scale(0.95);
      }
    }
  }

  .language {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
  }
}

@keyframes slideIn {
  from {
    transform: translateX(-100%);
  }

  to {
    transform: translateX(0);
  }
}

@keyframes slideOut {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(-100%);
  }
}
