<app-banner class="fadeIn" [banner]="flyer" [alt]="alt" />
<mat-dialog-content>
  <main class="fadeIn">
    <h2>MAMH-PAGD-2000 - Psychology of Aging and Geriatric Disorders</h2>

    <div class="line"></div>

    <div class="content fadeIn">
      <p>
        The course
        <span
          >MAMH-PAGD-2000 - Psychology of Aging and Geriatric Disorders</span
        >
        explores aging from a psychological perspective, addressing disorders
        such as dementia and depression in old age. Students will learn
        strategies to support older patients and improve their quality of life.
      </p>

      <h3>Course Objectives:</h3>
      <ul>
        <li>Understand cognitive and emotional changes in aging.</li>
        <li>
          Identify and assess geriatric disorders such as dementia and
          depression.
        </li>
        <li>
          Apply intervention strategies to improve the well-being of older
          adults.
        </li>
        <li>
          Explore the impact of aging on mental health and quality of life.
        </li>
        <li>
          Analyze the role of family and community in supporting the elderly.
        </li>
      </ul>

      <h3>Main Topics:</h3>
      <ul>
        <li>Cognitive and emotional processes in aging.</li>
        <li>
          Diagnosis and treatment of dementia and other geriatric disorders.
        </li>
        <li>Strategies for psychological intervention in older adults.</li>
        <li>Social and cultural factors in aging.</li>
        <li>The role of caregivers and family support.</li>
        <li>Models of mental health care for the elderly population.</li>
      </ul>

      <h3>Methodology:</h3>
      <p>
        The course combines theoretical classes, case studies, supervised
        practices, and analysis of therapeutic interventions in older adults.
        Experiential learning and the application of strategies in clinical and
        community settings are emphasized.
      </p>

      <h3>Assessment:</h3>
      <p>Course assessment will include:</p>
      <ul>
        <li>Exams on psychology of aging and geriatric disorders.</li>
        <li>Case analysis in older adults.</li>
        <li>Essays on psychological intervention strategies in aging.</li>
        <li>Presentations on the impact of aging on mental health.</li>
        <li>
          Debates on the role of society in the well-being of the elderly.
        </li>
      </ul>

      <h3>Importance of the Course:</h3>
      <p>
        Understanding the psychology of aging and geriatric disorders is
        essential to provide adequate care for the older population. This course
        provides key tools for clinical practice and professional development in
        geriatric psychology.
      </p>
    </div>
  </main>
</mat-dialog-content>

<app-footer-modal />
