<app-banner class="fadeIn" [banner]="flyer" [alt]="alt" />
<mat-dialog-content>
    <main class="fadeIn">
        <h2>MATH-BT1-106 - Exégesis del Antiguo Testamento</h2>

        <div class="line"></div>

        <div class="content fadeIn">
            <p><span>Exégesis del Antiguo Testamento</span> introduce a los estudiantes en el análisis crítico y la interpretación profunda de los textos del Antiguo Testamento, utilizando herramientas hermenéuticas y contextuales para comprender su significado original y relevancia contemporánea.</p>

            <h3>Objetivos del Curso:</h3>
            <ul>
                <li>Dominar los principios básicos de la exégesis bíblica aplicada al Antiguo Testamento.</li>
                <li>Analizar los textos considerando su contexto histórico, cultural y literario.</li>
                <li>Aplicar métodos hermenéuticos para una interpretación responsable.</li>
                <li>Relacionar los mensajes del Antiguo Testamento con la vida actual y el ministerio.</li>
                <li>Desarrollar habilidades de investigación y presentación de estudios bíblicos.</li>
            </ul>

            <h3>Temas Principales:</h3>
            <ul>
                <li>Introducción a la exégesis del Antiguo Testamento.</li>
            </ul>
        </div>
    </main>
</mat-dialog-content>

<app-footer-modal />
