.alphabet {
  margin-top: 2rem;
}

.header {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem;
  border: 1px solid var(--primary);
  border-radius: 0.3rem;
  margin-top: 0.3rem;
  cursor: pointer;
  font-size: 1rem;
  font-weight: 500;
  color: var(--primary);

  transition: all 0.2s ease;

  &:hover {
    background-color: var(--primary);
    color: #fefefe;
  }
}

.body {
  width: 100%;
  height: auto !important;
  padding: 1rem 0.5rem 2rem 1rem;
  margin: 0.5rem 0 1rem 0;
  box-shadow: 0 0 8px 3px rgba(0, 0, 0, 0.1);
  border-radius: 0.3rem;
  cursor: normal;

  &:hover {
    background: #fefefe;
    cursor: copy;
  }

  ul {
    padding: 0 0 0 1rem;
    margin: 0;
  }

  p,
  li {
    font-size: 1rem;
    font-weight: 400;
    color: #555353;
    line-height: 1.3rem;
  }

  h3 {
    font-size: 1.3rem;
    font-weight: 500;
    color: var(--primary);
    padding: 0;
    margin: 0;
    line-height: 1.3rem;
  }

  h5 {
    font-size: 1.2rem;
    font-weight: 500;
    color: var(--secondary);
    padding: 0;
    margin: 0;
  }

  h2,
  h3,
  h5,
  li,
  p {
    margin-top: 0.5rem;
  }

  .linksPath {
    display: flex;
    flex-wrap: wrap;
    margin-top: 0.5rem;

    a {
      color: var(--secondary);
      text-decoration: none;
      font-weight: 500;
      font-size: 1rem;
      border: 1px solid var(--secondary);
      display: inline-block;
      padding: 0.5rem 1rem;
      border-radius: 0.3rem;
      transition: all 0.2s ease;

      &:hover {
        color: #fefefe;
        background: var(--secondary);
      }
    }
  }
}
