<app-banner class="fadeIn" [banner]="flyer" [alt]="alt" />
<mat-dialog-content>
  <main class="fadeIn">
    <h2>MATH-ITOT-100 - Introducción al Antiguo Testamento</h2>

    <div class="line"></div>

    <div class="content fadeIn">
      <p><span>Introducción al Antiguo Testamento</span> ofrece una visión general de los aspectos históricos,
        literarios y teológicos del Antiguo Testamento. Los estudiantes explorarán los temas principales, figuras clave
        y el contexto histórico de los textos bíblicos, obteniendo una comprensión fundamental de su significado y
        mensaje.</p>

      <h3>Objetivos del Curso:</h3>
      <ul>
        <li>Comprender el trasfondo histórico y cultural del Antiguo Testamento.</li>
        <li>Identificar y analizar los temas y mensajes principales de los libros del Antiguo Testamento.</li>
        <li>Desarrollar habilidades para interpretar los textos del Antiguo Testamento en su contexto histórico y
          literario.</li>
        <li>Explorar las contribuciones teológicas del Antiguo Testamento a la fe y práctica cristiana.</li>
        <li>Fomentar una apreciación de la relevancia del Antiguo Testamento en la vida contemporánea.</li>
      </ul>

      <h3>Temas Principales:</h3>
      <ul>
        <li>Resumen del Pentateuco, Libros Históricos, Literatura Sapiencial y Profetas</li>
        <li>Temas teológicos clave: pacto, ley, profecía, realeza y sabiduría</li>
        <li>Contexto histórico de Israel y sus pueblos vecinos</li>
        <li>Métodos de interpretación del Antiguo Testamento</li>
        <li>Aplicación de las enseñanzas del Antiguo Testamento en la actualidad</li>
      </ul>

      <h3>Metodología:</h3>
      <p>El curso incluye clases magistrales, lecturas asignadas, discusiones grupales, estudios temáticos y ensayos
        reflexivos para mejorar la comprensión y el pensamiento crítico sobre las Escrituras del Antiguo Testamento.</p>

      <h3>Evaluación:</h3>
      <ul>
        <li>Cuestionarios y tareas de lectura</li>
        <li>Ensayos escritos sobre temas o libros clave</li>
        <li>Presentaciones grupales sobre temas históricos y teológicos</li>
        <li>Examen final que abarca los conceptos principales</li>
      </ul>

      <h3>Importancia del Curso:</h3>
      <p>Este curso proporciona una alfabetización bíblica esencial y herramientas críticas para quienes desean
        comprender los fundamentos de la tradición judeocristiana, preparando a los estudiantes para estudios teológicos
        avanzados y crecimiento espiritual personal.</p>

    </div>
  </main>
</mat-dialog-content>

<app-footer-modal />
