<app-banner class="fadeIn" [banner]="flyer" [alt]="alt" />
<mat-dialog-content>
  <main class="fadeIn">
    <h2>BACH-PD-200 - Psicología del desarrollo</h2>
    <div class="line"></div>

    <div class="content fadeIn">
      <p>
        Este curso ofrece una introducción exhaustiva al desarrollo humano a lo
        largo del ciclo vital, proporcionando una base teórica y aplicada para
        comprender las dimensiones emocionales, psicológicas y espirituales de
        las personas en diferentes etapas de su vida. Es un componente esencial
        para los futuros capellanes, ya que les permitirá entender mejor las
        necesidades espirituales y emocionales de las personas que acompañan,
        adaptando su servicio pastoral a las distintas fases del desarrollo
        humano.
      </p>

      <h3>Objetivos del curso:</h3>
      <p>
        Al finalizar el curso, los estudiantes estarán capacitados para
        identificar y comprender las necesidades emocionales, psicológicas y
        espirituales de las personas en diversas etapas del ciclo vital. Los
        objetivos específicos del curso incluyen:
      </p>
      <ol>
        <li>
          <strong
            >Desarrollo de una comprensión integral del ciclo vital:</strong
          >
          Los estudiantes explorarán las principales etapas del desarrollo
          humano, desde la infancia hasta la vejez, con un enfoque en cómo estas
          etapas afectan la vida espiritual, emocional y social de las personas.
        </li>
        <li>
          <strong>Estudio de teorías del desarrollo humano:</strong> Se
          abordarán teorías clave sobre el desarrollo cognitivo, emocional y
          social, como las de Piaget, Erikson, y Vygotsky, aplicándolas al
          contexto de la capellanía.
        </li>
        <li>
          <strong
            >Identificación de necesidades espirituales específicas:</strong
          >
          Los estudiantes aprenderán a reconocer las necesidades espirituales
          que surgen en diferentes fases del ciclo vital, como el sentido de
          identidad en la adolescencia o la aceptación de la mortalidad en la
          vejez.
        </li>
        <li>
          <strong
            >Reconocimiento de factores que influyen en el desarrollo
            humano:</strong
          >
          Se estudiarán factores como la resiliencia, las crisis existenciales,
          las experiencias traumáticas y la formación de la identidad
          espiritual.
        </li>
        <li>
          <strong>Aplicación práctica en la capellanía:</strong> Los estudiantes
          aprenderán a aplicar estos conocimientos en situaciones reales,
          adaptando su labor pastoral y de consejería a las diferentes
          necesidades que presentan las personas a lo largo de su vida.
        </li>
      </ol>

      <h3>Metodología:</h3>
      <p>
        El curso se basa en una metodología activa que incluirá estudios de
        caso, análisis de situaciones reales y discusiones grupales. A través de
        estas metodologías, los estudiantes podrán reflexionar sobre cómo los
        diferentes modelos de desarrollo humano se aplican en el trabajo
        pastoral. Además, se fomentará el aprendizaje práctico, en el que los
        estudiantes podrán reflexionar sobre sus propias experiencias y
        aplicarlas en su labor como futuros capellanes.
      </p>

      <h3>Evaluación:</h3>
      <p>
        La evaluación del curso será continua, y se basará en la participación
        activa de los estudiantes en discusiones, la realización de estudios de
        caso prácticos, y una evaluación final que medirá la comprensión de los
        modelos de desarrollo humano y su aplicación en el contexto de la
        capellanía. Los estudiantes deberán demostrar su capacidad para
        identificar y abordar las necesidades espirituales y emocionales de las
        personas en diferentes etapas de su vida.
      </p>

      <p>
        Este curso es una parte fundamental de la Licenciatura en Ciencias en
        Capellanía, ya que proporciona a los futuros capellanes las herramientas
        necesarias para acompañar a las personas de manera efectiva en cada
        etapa de su vida. Los graduados del curso estarán mejor preparados para
        ofrecer apoyo pastoral basado en una comprensión profunda de las fases
        de desarrollo humano, adaptando su labor para promover el bienestar
        integral y el crecimiento espiritual de las personas a las que sirven.
      </p>
    </div>
  </main>
</mat-dialog-content>

<app-footer-modal />
