<app-banner class="fadeIn" [banner]="flyer" [alt]="alt" />
<mat-dialog-content>
  <main class="fadeIn">
    <h2>BACC-PPC-3400 - Professional for professional certification</h2>
    <div class="line"></div>

    <div class="content fadeIn">
      <p>
        The course <span>Professional Certification Preparation</span> is
        designed to equip students with the knowledge, skills, and strategies
        necessary to successfully take professional certification exams in
        clinical psychology and counseling.
      </p>

      <h3>Course Objectives:</h3>
      <ul>
        <li>
          Review key content required for professional certification exams.
        </li>
        <li>
          Familiarize students with the format and structure of standardized
          assessments.
        </li>
        <li>Develop effective study and time management strategies.</li>
        <li>
          Identify individual areas for improvement through mock exams and
          diagnostic assessments.
        </li>
        <li>
          Strengthen emotional readiness and self-confidence to face
          certification exams.
        </li>
      </ul>

      <h3>Main Topics:</h3>
      <ul>
        <li>Review of theories and approaches in clinical psychology.</li>
        <li>Professional ethics and legal regulations.</li>
        <li>Counseling and intervention models.</li>
        <li>Psychological assessment and psychopathology.</li>
        <li>Professional practices and applied clinical case studies.</li>
      </ul>

      <h3>Methodology:</h3>
      <p>
        The course combines intensive theoretical classes, mock exams, practical
        exercises, group and individual tutoring, as well as feedback sessions
        aimed at improving students’ academic and emotional performance.
      </p>

      <h3>Assessment:</h3>
      <p>The course assessment will include:</p>
      <ul>
        <li>Mock exams with detailed feedback.</li>
        <li>Short quizzes on specific exam topics.</li>
        <li>Practical activities and clinical case resolution.</li>
        <li>
          Ongoing evaluation of individual progress throughout the course.
        </li>
      </ul>

      <h3>Importance of the Course:</h3>
      <p>
        This course is essential to ensure that future professionals are
        adequately prepared to obtain certification in clinical psychology and
        counseling, which represents a crucial step toward practicing with
        credibility and professional recognition.
      </p>
    </div>
  </main>
</mat-dialog-content>

<app-footer-modal />
