<app-banner class="fadeIn" [banner]="flyer" [alt]="alt" />
<mat-dialog-content>
  <main class="fadeIn">
    <h2>BACC-EDA-2600 - Trastornos de la Conducta Alimentaria y Adicciones</h2>
    <div class="line"></div>

    <div class="content fadeIn">
      <p>
        El curso
        <span>Trastornos de la Conducta Alimentaria y Adicciones</span> aborda
        las principales problemáticas asociadas con las adicciones y los
        trastornos de la conducta alimentaria. Se analizan sus causas,
        características clínicas, diagnóstico y abordajes terapéuticos desde una
        perspectiva integral.
      </p>

      <h3>Objetivos del curso:</h3>
      <ul>
        <li>
          Identificar los tipos y características de los trastornos alimentarios
          y las adicciones.
        </li>
        <li>
          Comprender los factores psicológicos, biológicos y sociales que
          influyen en estas problemáticas.
        </li>
        <li>Explorar estrategias de intervención clínica y comunitaria.</li>
        <li>
          Desarrollar habilidades para el acompañamiento terapéutico de personas
          con estas condiciones.
        </li>
        <li>
          Fomentar una actitud empática y ética en el abordaje profesional.
        </li>
      </ul>

      <h3>Temas principales:</h3>
      <ul>
        <li>Clasificación y diagnóstico de trastornos alimentarios.</li>
        <li>Tipos de adicciones: sustancias, conductuales y tecnológicas.</li>
        <li>Factores de riesgo y modelos explicativos.</li>
        <li>Tratamientos multidisciplinarios y enfoque terapéutico.</li>
        <li>Prevención, educación y reinserción social.</li>
      </ul>

      <h3>Metodología:</h3>
      <p>
        El curso se desarrolla mediante clases teóricas, análisis de casos
        clínicos, discusiones en grupo, revisión de literatura científica y
        simulaciones de intervenciones terapéuticas.
      </p>

      <h3>Evaluación:</h3>
      <p>La evaluación del curso incluirá:</p>
      <ul>
        <li>Exámenes teóricos sobre adicciones y trastornos alimentarios.</li>
        <li>
          Presentaciones grupales sobre casos clínicos reales o hipotéticos.
        </li>
        <li>Ensayos críticos sobre modelos de intervención.</li>
        <li>Participación en foros de discusión y actividades prácticas.</li>
      </ul>

      <h3>Importancia del curso:</h3>
      <p>
        Este curso capacita a los estudiantes para identificar, comprender y
        abordar eficazmente dos de las problemáticas de salud mental más comunes
        en la sociedad actual. Es fundamental para el desarrollo de una práctica
        clínica informada, sensible y efectiva.
      </p>
    </div>
  </main>
</mat-dialog-content>

<app-footer-modal />
