<app-banner class="fadeIn" [banner]="flyer" [alt]="alt" />
<mat-dialog-content>
  <main class="fadeIn">
    <h2>BACH-PE-800 - Pentateuch</h2>

    <div class="line"></div>

    <div class="content fadeIn">
      <p>
        Este curso ofrece un análisis exhaustivo de los primeros cinco libros de
        la Biblia—Génesis, Éxodo, Levítico, Números y Deuteronomio—explorando su
        contenido, estructura y significado dentro del marco de la teología
        bíblica.
      </p>

      <h3>Objetivos del curso:</h3>
      <ul>
        <li>
          <strong>Estudio exegético y hermenéutico del Pentateuco:</strong> Los
          estudiantes analizarán en profundidad los primeros cinco libros de la
          Biblia, estudiando su contexto histórico y cultural para comprender su
          significado original y su relevancia teológica.
        </li>
        <li>
          <strong>Temas centrales del Pentateuco:</strong> Se examinarán los
          temas fundamentales que atraviesan estos libros, como la creación, el
          pacto abrahámico, la ley mosaica, el éxodo de Israel y la santidad de
          Dios.
        </li>
        <li>
          <strong>Relación entre Dios y su pueblo:</strong> Se abordará la
          manera en que el Pentateuco describe la relación especial entre Dios y
          su pueblo elegido, explorando cómo estos textos definen el pacto y la
          obediencia a la ley divina.
        </li>
        <li>
          <strong>Aplicación teológica y ética:</strong> Los estudiantes
          aprenderán a aplicar las enseñanzas del Pentateuco a la vida cristiana
          contemporánea, incluyendo su impacto en la formación doctrinal y la
          ética cristiana.
        </li>
        <li>
          <strong>Formación doctrinal y ministerial:</strong> Se discutirá cómo
          el Pentateuco contribuye a la enseñanza y predicación en el ministerio
          pastoral, proporcionando una base sólida para la predicación y la
          formación espiritual.
        </li>
      </ul>

      <h3>Metodología:</h3>
      <p>
        El curso combinará lecturas académicas, clases magistrales, estudios de
        caso y ejercicios de interpretación bíblica. Los estudiantes llevarán a
        cabo un análisis exegético detallado de los textos, con el objetivo de
        aplicar principios hermenéuticos que les permitan interpretar el
        Pentateuco con profundidad y claridad.
      </p>

      <h3>Evaluación:</h3>
      <p>
        La evaluación del curso se basará en la participación activa en
        discusiones, la elaboración de trabajos exegéticos sobre pasajes clave
        del Pentateuco, y un examen final que medirá la comprensión general de
        los temas tratados en el curso, así como la capacidad de aplicar los
        principios aprendidos a la vida cristiana y el ministerio pastoral.
      </p>
    </div>
  </main>
</mat-dialog-content>

<app-footer-modal />
