<app-banner class="fadeIn" [banner]="flyer" [alt]="alt" />
<mat-dialog-content>
  <main class="fadeIn">
    <h2>MATH-RSTP-703 - Seminario de Investigación II: Tesis y Presentación</h2>

    <div class="line"></div>

    <div class="content fadeIn">
      <p><span>Seminario de Investigación II: Tesis y Presentación</span> lleva a los estudiantes a desarrollar, redactar, presentar y defender su tesis final, aplicando los principios metodológicos aprendidos previamente.</p>

      <h3>Objetivos del Curso:</h3>
      <ul>
        <li>Redactar una tesis basada en el proyecto de investigación.</li>
        <li>Aplicar principios metodológicos y de análisis de datos.</li>
        <li>Preparar y presentar la tesis de manera clara y argumentativa.</li>
        <li>Defender la tesis ante un comité académico.</li>
      </ul>

      <h3>Temas Principales:</h3>
      <ul>
        <li>Estructura de tesis académica.</li>
        <li>Análisis de resultados e interpretación crítica.</li>
        <li>Preparación para defensa oral.</li>
      </ul>

      <h3>Metodología:</h3>
      <p>Reuniones de tutoría, revisiones de capítulos, presentaciones grupales de avances y prácticas de defensa.</p>

      <h3>Evaluación:</h3>
      <ul>
        <li>Entrega progresiva de capítulos.</li>
        <li>Presentación de avances.</li>
        <li>Defensa final ante comité académico.</li>
      </ul>

      <h3>Importancia del Curso:</h3>
      <p>Clave para culminar exitosamente el proceso de formación académica y hacer aportaciones significativas al campo de estudio.</p>
    </div>
  </main>
</mat-dialog-content>
<app-footer-modal />
