<app-banner class="fadeIn" [banner]="flyer" [alt]="alt" />
<mat-dialog-content>
  <main class="fadeIn">
    <h2>BACH-IPT-300 - Introducción a la Teología Práctica</h2>

    <div class="line"></div>

    <div class="content fadeIn">
      <p>
        El curso
        <span>BACH-IPT-300 - Introducción a la Teología Práctica</span> brinda a
        los estudiantes una comprensión profunda sobre cómo aplicar los
        principios teológicos en contextos reales. A través de un enfoque
        integral, este curso prepara a los futuros capellanes para abordar
        situaciones prácticas con base en conocimientos teológicos sólidos y
        herramientas ministeriales efectivas.
      </p>

      <h3>Objetivos del curso:</h3>
      <ul>
        <li>
          Desarrollar una comprensión clara de la teología práctica y su
          aplicación en el ministerio.
        </li>
        <li>
          Explorar el papel del capellán en diversos entornos y su impacto en la
          comunidad.
        </li>
        <li>
          Fomentar la capacidad de integrar principios teológicos en el servicio
          pastoral.
        </li>
        <li>
          Capacitar a los estudiantes en la resolución de problemas éticos y
          espirituales dentro de su práctica ministerial.
        </li>
        <li>
          Promover el desarrollo de habilidades para la consejería y el
          acompañamiento espiritual.
        </li>
      </ul>

      <h3>Temas principales:</h3>
      <ul>
        <li>
          Fundamentos de la teología práctica y su relevancia en la capellanía.
        </li>
        <li>Modelos de ministerio pastoral y liderazgo espiritual.</li>
        <li>
          El papel del capellán en hospitales, instituciones militares,
          prisiones y comunidades.
        </li>
        <li>Ética ministerial y toma de decisiones informadas.</li>
        <li>Estrategias para la consejería y el acompañamiento espiritual.</li>
      </ul>

      <h3>Metodología:</h3>
      <p>
        El curso se imparte completamente en línea, a través de lecturas,
        estudios de caso, foros de discusión y ejercicios prácticos que fomentan
        la aplicación de la teología en situaciones reales.
      </p>

      <h3>Evaluación:</h3>
      <p>
        La evaluación incluye participación en foros, análisis de casos
        ministeriales, exámenes en línea y un proyecto final donde los
        estudiantes demostrarán su capacidad para aplicar principios teológicos
        en contextos prácticos.
      </p>

      <h3>Importancia del curso:</h3>
      <p>
        Este curso es esencial para los estudiantes que buscan un ministerio
        efectivo, ya que proporciona herramientas prácticas y conocimientos
        teológicos fundamentales para su labor como capellanes en diversos
        contextos.
      </p>
    </div>
  </main>
</mat-dialog-content>

<app-footer-modal />
