.overflow {
  width: 100%;
  height: auto;
  min-height: calc(100dvh - 60px);
  position: fixed;
  background: rgba(3, 4, 20, 0.8);
  top: 60px;
  left: 0;
  z-index: 2;
}

.childOverflow {
  width: 100%;
  max-width: 1100px;
  height: auto;
  max-height: calc(100dvh - 60px);
  min-height: calc(95dvh - 60px);
  overflow-y: auto;
  margin: 0 auto;
  height: auto;
  position: relative;
  opacity: 1;

  top: 0;
  left: 0;
  z-index: 1;
  padding: 0;

  // Estilos personalizados para scrollbar
  &::-webkit-scrollbar {
    width: 1px;
  }

  &::-webkit-scrollbar-track {
    background: transparent; // o el color que prefieras
  }

  &::-webkit-scrollbar-thumb {
    background-color: rgb(145, 145, 145);
    border-radius: 10px;
  }

  // Firefox (opcional, limitado)
  scrollbar-width: thin;
  scrollbar-color: rgb(160, 160, 160) transparent;

  // .close {
  //   width: 100%;
  //   height: 50px;
  //   display: flex;
  //   justify-content: flex-end;
  //   align-items: center;
  //   padding: 0 1rem;
  //   margin-top: 1rem;
  //   cursor: pointer;

  //   mat-icon {
  //     font-size: 2.3rem;
  //     width: 45px;
  //     height: 45px;
  //     border-radius: 50%;
  //     background: var(--dark);
  //     border: 1px solid #fefefd;
  //     color: #fefefd;
  //     padding: 0.1rem 0 0 0.2rem;
  //     transition: all 0.2s ease;

  //     &:hover {
  //       transform: scale(1.1);
  //       background: #fefefd;
  //       color: var(--dark);
  //       border: 1px solid var(--dark);
  //     }

  //     &:active {
  //       transform: scale(0.95);
  //     }
  //   }
  // }

  li {
    list-style: none;
    width: 100%;
    height: auto;
    padding: 0;
    margin: 0;
    border-bottom: 1px solid rgba(243, 243, 243, 0.5);
    cursor: pointer;
    background-color: var(--primary);

    transition: all 0.2s ease;

    a {
      color: #fefefd;
      text-decoration: none;
      display: block;
      text-align: center;
      padding: 1rem;
      margin: 0;
      font-weight: 400;
      font-size: 1.2rem;
    }
    &:hover {
      color: #fefefd;
      background-color: var(--dark);
    }

    &:active {
      transform: scale(0.95);
    }
  }
}

ul,
li {
  padding: 0;
  margin: 0;
}
