<!-- <app-banner class="fadeIn" [banner]="flyer" [alt]="alt" /> -->

<main class="pages">
  <div class="content">
    <h2>{{ labelsNames().title }}</h2>
    <div class="line"></div>
    <form [formGroup]="contactForm">
      <div class="grid2Form">
        <app-input-text
          [label]="labelsNames().first_name"
          [control]="getControl('first_name')"
          (clearField)="clearField('first_name')"
          [minLength]="3"
          [maxLength]="60"
        />

        <app-input-text
          [label]="labelsNames().last_name"
          [control]="getControl('last_name')"
          (clearField)="clearField('last_name')"
          [minLength]="3"
          [maxLength]="60"
        />

        <app-input-phone
          [label]="labelsNames().phone"
          [control]="getControl('phone')"
          (clearField)="clearField('phone')"
          [minLength]="5"
          [maxLength]="20"
        />

        <app-input-email
          label="Email"
          [control]="getControl('email')"
          (clearField)="clearField('email')"
          [maxLength]="30"
        />

        <app-input-text
          [label]="labelsNames().subject"
          [control]="getControl('subject')"
          (clearField)="clearField('subject')"
          [minLength]="3"
          [maxLength]="60"
        />
      </div>

      <div class="mt-2">
        <app-input-textarea
          [label]="labelsNames().message"
          [control]="getControl('message')"
          (clearField)="clearField('message')"
          [minLength]="10"
          [maxLength]="240"
        />
      </div>
    </form>

    <div class="boxBtnsEnd">
      @if (contactForm.valid) {
        <div class="btnValid" (click)="validarForm()">
          {{ labelsNames().send }}
        </div>
      } @else {
        <div class="btnError" (click)="formLoginInvalid()">
          {{ labelsNames().send }}
        </div>
      }
    </div>
  </div>
</main>
