<app-banner class="fadeIn" [banner]="flyer" [alt]="alt" />
<mat-dialog-content>
  <main class="fadeIn">
    <h2>MAMH-AP-700 - Abnormal Psychology</h2>

    <div class="line"></div>

    <div class="content fadeIn">
      <p>
        The course <span>MAMH-AP-700 - Abnormal Psychology</span> examines the
        most common psychological disorders, including anxiety disorders, mood
        disorders, eating disorders, and substance-related disorders. Students
        will learn about the classification, etiology, symptoms, and treatments
        of these disorders, as well as their impact on individuals throughout
        their lives.
      </p>

      <h3>Course Objectives:</h3>
      <ul>
        <li>
          Understand the classification and characteristics of psychological
          disorders.
        </li>
        <li>
          Explore the causes and risk factors associated with mental disorders.
        </li>
        <li>Analyze treatment approaches and intervention strategies.</li>
        <li>
          Examine the impact of disorders on individuals' development and daily
          functioning.
        </li>
        <li>
          Reflect on ethical and social aspects in the assessment and treatment
          of psychological disorders.
        </li>
      </ul>

      <h3>Main Topics:</h3>
      <ul>
        <li>Introduction to psychopathology and clinical diagnosis.</li>
        <li>Anxiety disorders and mood disorders.</li>
        <li>Eating disorders and substance-related disorders.</li>
        <li>Psychotic disorders and personality disorders.</li>
        <li>
          Therapeutic approaches in the treatment of psychological disorders.
        </li>
        <li>
          Biological, social, and environmental factors in psychopathology.
        </li>
      </ul>

      <h3>Methodology:</h3>
      <p>
        The course is developed through theoretical classes, case studies,
        scientific research analysis, and group debates. Emphasis is placed on
        applying knowledge in the assessment and treatment of psychological
        disorders in various contexts.
      </p>

      <h3>Assessment:</h3>
      <p>Course assessment will include:</p>
      <ul>
        <li>
          Theoretical exams on the classification and diagnosis of disorders.
        </li>
        <li>Case study analysis of patients with different disorders.</li>
        <li>
          Written reflections on the application of therapeutic approaches.
        </li>
        <li>
          Participation in debates on ethical dilemmas in the treatment of
          mental disorders.
        </li>
        <li>
          Final paper on a specific disorder and its clinical implications.
        </li>
      </ul>

      <h3>Importance of the Course:</h3>
      <p>
        Knowledge of abnormal psychology is essential for understanding and
        effectively addressing mental disorders. This course provides the
        theoretical and practical foundations necessary for identifying,
        assessing, and intervening in mental health problems, contributing to
        individuals' well-being and improving quality of life.
      </p>
    </div>
  </main>
</mat-dialog-content>

<app-footer-modal />
