<p>
  La Maestría en Consejería Clínica ofrece una amplia gama de cursos diseñados
  para proporcionar una formación integral en consejería clínica y psicología. A
  continuación se presenta un listado de las asignaturas que los estudiantes
  cursarán durante el programa:
</p>

<p>
  <strong>MACC-FC-100 - Fundamentos de la Consejería:</strong> Principios
  básicos de la consejería, su práctica profesional y los enfoques utilizados en
  diversos contextos.
</p>
<button mat-button (click)="openDialog('macc-fc-100')">Ver más...</button>

<p>
  <strong>MACC-GP-200 - Psicología General:</strong> Conceptos básicos de
  psicología, con énfasis en el comportamiento humano y su relación con la salud
  mental.
</p>
<button mat-button (click)="openDialog('macc-gp-200')">Ver más...</button>

<p>
  <strong>MACC-HD-300 - Desarrollo Humano:</strong> Estudio de las etapas del
  desarrollo humano desde la infancia hasta la vejez.
</p>
<button mat-button (click)="openDialog('macc-hd-300')">Ver más...</button>

<p>
  <strong>MACC-FP-400 - Fundamentos de la Psicoterapia:</strong> Introducción a
  las principales técnicas psicoterapéuticas utilizadas en la práctica clínica.
</p>
<button mat-button (click)="openDialog('macc-fp-400')">Ver más...</button>

<p>
  <strong>MACC-DPS-500- Psicología del Desarrollo y la Espiritualidad:</strong>
  Estudio de cómo el desarrollo humano influye en las creencias, valores y
  procesos psicológicos.
</p>
<button mat-button (click)="openDialog('macc-dps-500')">Ver más...</button>

<p>
  <strong>MACC-EMC-600 - Ética y Moral en la Consejería:</strong> Principios
  éticos en la práctica de la consejería clínica, con énfasis en la toma de
  decisiones éticas en situaciones difíciles.
</p>
<button mat-button (click)="openDialog('macc-emc-600')">Ver más...</button>

<p>
  <strong>MACC-IP-700 - Introducción a la Psicopatología:</strong> Estudio de
  los trastornos psicológicos comunes y su diagnóstico en el ámbito clínico.
</p>
<button mat-button (click)="openDialog('macc-ip-700')">Ver más...</button>

<p>
  <strong>MACC-IC-800 - Consejería Integral:</strong> Enfoques integrados de
  consejería aplicando diferentes teorías psicológicas y prácticas de
  intervención.
</p>
<button mat-button (click)="openDialog('macc-ic-800')">Ver más...</button>

<p>
  <strong> MACC-ACP-900 - Psicología Clínica Aplicada:</strong> Aplicación de
  los principios de la psicología clínica en diferentes entornos profesionales
  de consejería.
</p>
<button mat-button (click)="openDialog('macc-acp-900')">Ver más...</button>

<p>
  <strong>MACC-FC-1000 - Consejería Familiar:</strong> Técnicas de consejería
  para trabajar con familias y resolver conflictos familiares.
</p>
<button mat-button (click)="openDialog('macc-fc-1000')">Ver más...</button>

<p>
  <strong>Asesoramiento psicológico</strong> - ¿Te interesa acompañar y
  transformar vidas? Consejería Psicológica te brinda herramientas clave para
  intervenir en contextos clínicos, desarrollando empatía, escucha activa y
  aplicando modelos terapéuticos con una base ética y práctica.
</p>
<button mat-button (click)="openDialog('macc-pc-1100')">Ver más...</button>

<p>
  <strong>MACC-PP-1200 - Psicología de la Personalidad:</strong> Estudio de la
  psicología de la personalidad y su impacto en las relaciones interpersonales y
  el bienestar emocional.
</p>
<button mat-button (click)="openDialog('macc-pp-1200')">Ver más...</button>

<p>
  <strong>MACC-CC-1300 - Consejería en Crisis:</strong> Técnicas para intervenir
  en crisis emocionales graves, como pérdidas, trastornos de ansiedad y
  conflictos familiares.
</p>
<button mat-button (click)="openDialog('macc-cc-1300')">Ver más...</button>

<p>
  <strong> MACC-MC-1400 - Consejería en el Matrimonio:</strong> Principios y
  técnicas para ofrecer consejería a parejas, incluyendo la resolución de
  conflictos y la restauración de relaciones.
</p>
<button mat-button (click)="openDialog('macc-mc-1400')">Ver más...</button>

<p>
  <strong
    >MACC-PMD-1500 - Psicología de los Trastornos del Estado de Ánimo:</strong
  >
  Estudio de trastornos como la depresión y el trastorno bipolar, y su
  tratamiento en el contexto clínico.
</p>
<button mat-button (click)="openDialog('macc-pmd-1500')">Ver más...</button>

<p>
  <strong>MACC-CYA-1600 - Consejería para Jóvenes y Adolescentes:</strong>
  Estrategias para acompañar a los jóvenes en su desarrollo emocional y
  psicológico.
</p>
<button mat-button (click)="openDialog('macc-cya-1600')">Ver más...</button>

<p>
  <strong>MACC-CA-1700 - Consejería para Adicciones:</strong> Estrategias para
  tratar la adicción al alcohol, las drogas y otras conductas adictivas.
</p>
<button mat-button (click)="openDialog('macc-ca-1700')">Ver más...</button>

<p>
  <strong>MACC-PCP-1800 - Psicopatología Clínica:</strong> Estudio de los
  trastornos mentales más comunes, incluyendo depresión, ansiedad, y trastornos
  de la conducta.
</p>
<button mat-button (click)="openDialog('macc-pcp-1800')">Ver más...</button>

<p>
  <strong>MACC-TP-1900 - Psicología del Trauma:</strong> Teoría y práctica de la
  intervención en casos de trauma, como abuso, violencia doméstica y otros
  eventos traumáticos.
</p>
<button mat-button (click)="openDialog('macc-tp-1900')">Ver más...</button>

<p>
  <strong>MACC-CGL-2000 - Consejería en el Duelo y la Pérdida:</strong> Técnicas
  para acompañar a personas que atraviesan procesos de duelo, por muerte o
  separación.
</p>
<button mat-button (click)="openDialog('macc-cgl-2000')">Ver más...</button>

<p>
  <strong>MACC-FPC-2100 - Psicología Familiar y Consejería:</strong> Estudio de
  la psicología familiar aplicada a la consejería, con un enfoque en la
  restauración de relaciones familiares.
</p>
<button mat-button (click)="openDialog('macc-fpc-2100')">Ver más...</button>

<p>
  <strong>MACC-CMH-2200 - Consejería para la Salud Mental:</strong> Estrategias
  para integrar la salud mental en el entorno comunitario y promover el
  bienestar emocional en la población.
</p>
<button mat-button (click)="openDialog('macc-cmh-2200')">Ver más...</button>

<p>
  <strong>MACC-DCP-2300 - Desarrollo de Programas de Consejería:</strong> Los
  estudiantes aprenderán a diseñar, implementar y gestionar programas de
  consejería en diversas organizaciones y comunidades.
</p>
<button mat-button (click)="openDialog('macc-dcp-2300')">Ver más...</button>

<p>
  <strong>MACC-CEC-2400 - Consejería en Crisis Extrema:</strong> Técnicas
  avanzadas para intervenir en crisis extremas, como desastres naturales,
  suicidios y traumas masivos.
</p>
<button mat-button (click)="openDialog('macc-cec-2400')">Ver más...</button>

<p>
  <strong>MACC-RCC-2500 - Investigación en Consejería Clínica:</strong> Los
  estudiantes desarrollarán proyectos de investigación para contribuir al avance
  de la consejería clínica y la psicología aplicada.
</p>
<button mat-button (click)="openDialog('macc-rcc-2500')">Ver más...</button>

<p>
  <strong>MACC-ACP-2600 - Prácticas Clínicas Avanzadas:</strong> Realización de
  prácticas supervisadas avanzadas en entornos clínicos, abordando casos más
  complejos y desafiantes.
</p>
<button mat-button (click)="openDialog('macc-acp-2600')">Ver más...</button>

<p>
  <strong>MACC-APE-2700 - Ética Profesional Avanzada:</strong> Estudio de los
  dilemas éticos en la práctica profesional de la consejería clínica, con
  énfasis en la toma de decisiones éticas en situaciones complejas.
</p>
<button mat-button (click)="openDialog('macc-ape-2700')">Ver más...</button>

<p>
  <strong>MACC-MT-2800 - Tesis de Maestría:</strong> Los estudiantes deben
  realizar una investigación original sobre un tema de su interés dentro de la
  consejería clínica.
</p>
<button mat-button (click)="openDialog('macc-mt-2800')">Ver más...</button>

<p>
  <strong>MACC-CE-2900 - Examen Comprensivo:</strong> Los estudiantes deberán
  presentar un examen que cubre los temas más importantes del programa,
  evaluando su dominio del material.
</p>
<button mat-button (click)="openDialog('macc-ce-2900')">Ver más...</button>
