<app-banner class="fadeIn" [banner]="flyer" [alt]="alt" />
<mat-dialog-content>
  <main class="fadeIn">
    <h2>MATH-PTAP-705 - Public Theology and Academic Publishing</h2>

    <div class="line"></div>

    <div class="content fadeIn">
      <p><span>Public Theology and Academic Publishing</span> explores how theology engages with the public sphere and how to communicate theological ideas through academic and non-academic formats, including journals, books, blogs, and public media, promoting theology's impact on society.</p>

      <h3>Course Objectives:</h3>
      <ul>
        <li>Analyze the role of theology in public discourse.</li>
        <li>Develop skills for writing academic theological articles.</li>
        <li>Understand the publication process in academic contexts.</li>
        <li>Communicate theology effectively to broader audiences.</li>
      </ul>

      <h3>Main Topics:</h3>
      <ul>
        <li>Theology in the public sphere.</li>
        <li>Writing theological topics for academic and general audiences.</li>
        <li>Academic publishing: writing, peer review, and ethics.</li>
        <li>Theology, social change, and justice promotion.</li>
      </ul>

      <h3>Methodology:</h3>
      <p>Students participate in writing workshops, analyze examples of public theology, and develop academic articles, while discussing the societal relevance of theology today.</p>

      <h3>Assessment:</h3>
      <ul>
        <li>Essay on theology's public impact.</li>
        <li>Academic article writing project.</li>
        <li>Participation in discussions on public theology and publishing ethics.</li>
      </ul>

      <h3>Importance of the Course:</h3>
      <p>This course is essential for theologians aiming to influence both academic debate and public thought, using theology as a tool for cultural, social, and spiritual engagement.</p>
    </div>
  </main>
</mat-dialog-content>
<app-footer-modal />
