<app-banner class="fadeIn" [banner]="flyer" [alt]="alt" />
<mat-dialog-content>
  <main class="fadeIn">
    <h2>MAMH-GDTP-900 - Group Dynamics: Theory and Practice</h2>

    <div class="line"></div>

    <div class="content fadeIn">
      <p>
        The course
        <span>MAMH-GDTP-900 - Group Dynamics: Theory and Practice</span>
        introduces students to the study of the group process and underlying
        dynamics in group counseling. It focuses on the analysis of interactions
        within groups and the use of group strategies in therapeutic
        interventions with diverse populations, including children, adolescents,
        and adults.
      </p>

      <h3>Course Objectives:</h3>
      <ul>
        <li>Understand the main theories of group dynamics.</li>
        <li>
          Analyze the role of group counseling in psychological intervention.
        </li>
        <li>Develop skills to facilitate and manage therapeutic groups.</li>
        <li>
          Explore emotional, behavioral, and interpersonal interactions in the
          group context.
        </li>
        <li>
          Apply leadership strategies and effective communication in group
          counseling.
        </li>
      </ul>

      <h3>Main Topics:</h3>
      <ul>
        <li>Fundamentals of group theory.</li>
        <li>Roles and dynamics in group interactions.</li>
        <li>Stages of therapeutic group development.</li>
        <li>Interventions in group counseling.</li>
        <li>Conflict resolution and crisis management in groups.</li>
        <li>Ethics and cultural considerations in group dynamics.</li>
      </ul>

      <h3>Methodology:</h3>
      <p>
        The course is developed through interactive classes, group simulations,
        case analysis, and practical group facilitation exercises. Experiential
        learning and reflection on professional practice are emphasized.
      </p>

      <h3>Assessment:</h3>
      <p>Course assessment will include:</p>
      <ul>
        <li>Exams on group theory and its application.</li>
        <li>Case analysis on group interactions.</li>
        <li>Observation and evaluation of group sessions.</li>
        <li>Development of intervention plans in group counseling.</li>
        <li>Reflections on group facilitation practice.</li>
      </ul>

      <h3>Importance of the Course:</h3>
      <p>
        Group dynamics is essential in counseling practice as it allows for
        effective interventions in contexts of mutual support and personal
        development. This course prepares students to lead therapeutic groups,
        improve communication, and foster emotional growth in various
        professional settings.
      </p>
    </div>
  </main>
</mat-dialog-content>

<app-footer-modal />
