<app-banner class="fadeIn" [banner]="flyer" [alt]="alt" />
<mat-dialog-content>
  <main class="fadeIn">
    <h2>MACC-PCP-1800 - Psicopatología en la Práctica Clínica</h2>
    <div class="line"></div>

    <div class="content fadeIn">
      <p>
        El curso <span>Psicopatología en la Práctica Clínica</span> ofrece un
        estudio profundo de los trastornos mentales desde una perspectiva
        clínica y diagnóstica. Los estudiantes examinarán sistemas de
        clasificación como el DSM y la CIE, explorarán la sintomatología y
        desarrollarán estrategias para la evaluación y la planificación del
        tratamiento en contextos clínicos reales.
      </p>

      <h3>Objetivos del curso:</h3>
      <ul>
        <li>
          Comprender las principales categorías de trastornos mentales y sus
          criterios diagnósticos.
        </li>
        <li>
          Identificar los síntomas, causas y evolución de condiciones
          psicológicas comunes y complejas.
        </li>
        <li>
          Aprender a realizar entrevistas clínicas y evaluaciones diagnósticas.
        </li>
        <li>
          Integrar el conocimiento diagnóstico con enfoques terapéuticos
          adecuados.
        </li>
        <li>
          Explorar consideraciones éticas y culturales en el diagnóstico y la
          intervención.
        </li>
      </ul>

      <h3>Temas principales:</h3>
      <ul>
        <li>Marcos diagnósticos: DSM-5 y CIE-11</li>
        <li>
          Trastornos de ansiedad, del estado de ánimo, psicóticos y de la
          personalidad
        </li>
        <li>Trastornos del neurodesarrollo y neurocognitivos</li>
        <li>Trastornos relacionados con traumas y factores de estrés</li>
        <li>Instrumentos de evaluación y entrevistas diagnósticas</li>
        <li>Formulación de casos y planificación del tratamiento</li>
      </ul>

      <h3>Metodología:</h3>
      <p>
        El curso utiliza estudios de caso clínicos, simulaciones diagnósticas,
        clases magistrales, dramatizaciones y discusiones grupales para reforzar
        el aprendizaje y la aplicación de los principios psicopatológicos.
      </p>

      <h3>Evaluación:</h3>
      <ul>
        <li>Exámenes escritos y pruebas diagnósticas</li>
        <li>Presentaciones de estudios de caso</li>
        <li>Observación clínica y elaboración de informes</li>
        <li>Participación en ejercicios diagnósticos grupales</li>
      </ul>

      <h3>Importancia del curso:</h3>
      <p>
        Este curso proporciona a los estudiantes la comprensión clínica y las
        habilidades diagnósticas necesarias para identificar y abordar
        trastornos mentales en contextos profesionales de consejería y atención
        en salud mental.
      </p>
    </div>
  </main>
</mat-dialog-content>

<app-footer-modal />
