<app-banner class="fadeIn" [banner]="flyer" [alt]="alt" />
<mat-dialog-content>
  <main class="fadeIn">
    <h2>MAMH-APT-1700 - Advanced Techniques in Psychotherapy</h2>

    <div class="line"></div>

    <div class="content fadeIn">
      <p>
        The course
        <span>MAMH-APT-1700 - Advanced Techniques in Psychotherapy</span>
        covers advanced therapeutic strategies, including dialectical-behavioral
        therapy (DBT) and psychodynamic psychotherapy. Students will learn how
        to integrate these techniques in treating complex disorders, such as
        borderline personality disorder.
      </p>

      <h3>Course Objectives:</h3>
      <ul>
        <li>
          Understand the fundamental principles of advanced psychotherapy
          techniques.
        </li>
        <li>Develop skills to apply DBT and psychodynamic psychotherapy.</li>
        <li>
          Evaluate the effectiveness of different therapeutic approaches in
          complex clinical cases.
        </li>
        <li>
          Explore intervention strategies in the treatment of severe disorders.
        </li>
        <li>
          Analyze ethical aspects in the application of advanced
          psychotherapeutic techniques.
        </li>
      </ul>

      <h3>Main Topics:</h3>
      <ul>
        <li>Fundamentals of dialectical-behavioral therapy (DBT).</li>
        <li>Psychodynamic psychotherapy and its clinical application.</li>
        <li>Advanced strategies for managing personality disorders.</li>
        <li>
          Intervention in self-destructive behaviors and emotional
          dysregulation.
        </li>
        <li>
          Use of evidence-based psychotherapy in various psychological
          disorders.
        </li>
        <li>Ethics and legal considerations in advanced psychotherapy.</li>
      </ul>

      <h3>Methodology:</h3>
      <p>
        The course combines theoretical classes, case studies, clinical
        simulations, and professional supervision sessions. Practical skill
        development is emphasized through interactive exercises and teamwork.
      </p>

      <h3>Assessment:</h3>
      <p>Course assessment will include:</p>
      <ul>
        <li>Exams on theories and advanced psychotherapy techniques.</li>
        <li>Analysis of cases of personality disorders.</li>
        <li>Essays on the application of therapeutic strategies.</li>
        <li>Presentations on innovations in psychotherapy.</li>
        <li>Debates on ethical dilemmas in psychotherapeutic treatment.</li>
      </ul>

      <h3>Importance of the Course:</h3>
      <p>
        The knowledge and mastery of advanced psychotherapy techniques are
        fundamental for the effective treatment of complex disorders. This
        course provides essential tools for clinical practice and professional
        development in the field of psychotherapy.
      </p>
    </div>
  </main>
</mat-dialog-content>

<app-footer-modal />
