<app-banner class="fadeIn" [banner]="flyer" [alt]="alt" />
<mat-dialog-content>
  <main class="fadeIn">
    <h2>MATH-PGE-113 - Pauline and General Epistles</h2>

    <div class="line"></div>

    <div class="content fadeIn">
      <p><span>Pauline and General Epistles</span> is a course focused on the study of the letters in the New Testament, both those written by the Apostle Paul (Pauline Epistles) and those written by other apostles (General Epistles). The course delves into the theological content, teachings, and practical applications of these letters for contemporary Christians.</p>

      <h3>Course Objectives:</h3>
      <ul>
        <li>Study the Pauline and General Epistles in the New Testament.</li>
        <li>Analyze key theological themes of these letters, such as justification, sanctification, and the Christian life.</li>
        <li>Examine the historical and cultural context of the epistles to understand their message in their time.</li>
        <li>Reflect on the relevance of Paul's and other apostles' teachings for Christians today.</li>
        <li>Develop skills to interpret and apply these writings in a contemporary context.</li>
      </ul>

      <h3>Main Topics:</h3>
      <ul>
        <li>Introduction to the Pauline Epistles</li>
        <li>The General Epistles: James, Peter, John, Jude</li>
        <li>The theology of justification by faith in Paul's Epistles</li>
        <li>The role of the Epistles in Christian ethical and moral teaching</li>
        <li>Application of the Pauline and General Epistles to modern Christian life</li>
      </ul>

      <h3>Methodology:</h3>
      <p>This course combines the study of biblical letters with theological analysis and practical application. Students will engage in guided readings, class discussions, and research projects to deepen their understanding of the epistles' meaning and their relevance today.</p>

      <h3>Assessment:</h3>
      <ul>
        <li>Essays on the key teachings and themes of the epistles.</li>
        <li>Exams on the historical, theological, and pastoral content of the epistles.</li>
        <li>Presentations on the application of the epistles' teachings to modern Christian life.</li>
        <li>Research projects on specific topics within the Pauline and General Epistles.</li>
      </ul>

      <h3>Importance of the Course:</h3>
      <p>This course is essential for those who wish to understand the apostolic letters of the New Testament and their relevance both to the early church and to Christians today. Students will gain a deeper understanding of Paul's and other apostles' teachings and their impact on Christian theology and practice.</p>
    </div>
  </main>
</mat-dialog-content>
<app-footer-modal />
