<app-banner class="fadeIn" [banner]="flyer" [alt]="alt" />
<mat-dialog-content>
  <main class="fadeIn">
    <h2>MATH-ICT-802 - Teología Indígena y Contextual</h2>

    <div class="line"></div>

    <div class="content fadeIn">
      <p><span>Teología Indígena y Contextual</span> examina cómo las cosmovisiones indígenas enriquecen la teología cristiana, proponiendo un enfoque respetuoso, descolonizador y contextualizado de la fe.</p>

      <h3>Objetivos del Curso:</h3>
      <ul>
        <li>Explorar la integración de cosmovisiones indígenas en la teología cristiana.</li>
        <li>Analizar tensiones y oportunidades en el diálogo entre culturas y fe cristiana.</li>
        <li>Reflexionar sobre el impacto de la colonización en las teologías indígenas.</li>
      </ul>

      <h3>Temas Principales:</h3>
      <ul>
        <li>Teología contextual y comunidades indígenas.</li>
        <li>Descolonización de la teología cristiana.</li>
        <li>Evangelización y respeto cultural.</li>
      </ul>

      <h3>Metodología:</h3>
      <p>Lecturas, estudios de campo, entrevistas y análisis de casos reales.</p>

      <h3>Evaluación:</h3>
      <ul>
        <li>Ensayo sobre la teología indígena y cristiana.</li>
        <li>Presentación de caso práctico de integración cultural.</li>
        <li>Investigación sobre prácticas de evangelización y su impacto.</li>
      </ul>

      <h3>Importancia del Curso:</h3>
      <p>Clave para fomentar un cristianismo respetuoso de la diversidad cultural y para enriquecer la teología desde las voces indígenas.</p>
    </div>
  </main>
</mat-dialog-content>
<app-footer-modal />
