<app-banner class="fadeIn" [banner]="flyer" [alt]="alt" />
<mat-dialog-content>
  <main class="fadeIn">
    <h2>MACC-FC-100 - Fundamentos de la Consejería</h2>
    <div class="line"></div>

    <div class="content fadeIn">
      <p>
        <span>Fundamentos de la Consejería</span> introduce a los estudiantes a los
        principios básicos de la consejería, la ética y responsabilidades de
        la práctica profesional, y una visión general de los diferentes enfoques
        de consejería utilizados en diversos entornos.
      </p>

      <h3>Objetivos del Curso:</h3>
      <ul>
        <li>Comprender los principios fundamentales y el propósito de la consejería.</li>
        <li>
          Identificar los roles y responsabilidades éticas de los consejeros
          profesionales.
        </li>
        <li>Explorar los principales enfoques teóricos en la consejería.</li>
        <li>
          Reconocer cómo se aplica la consejería en diversos contextos culturales
          y clínicos.
        </li>
        <li>
          Desarrollar habilidades fundamentales para interacciones efectivas
          entre consejero y cliente.
        </li>
      </ul>

      <h3>Temas Principales:</h3>
      <ul>
        <li>Definición y alcance de la consejería.</li>
        <li>Estándares éticos y consideraciones legales.</li>
        <li>
          Teorías de la consejería (centrada en la persona, cognitivo-conductual, etc.).
        </li>
        <li>Relación consejero-cliente y habilidades de comunicación.</li>
        <li>Competencia cultural y consejería en diferentes entornos.</li>
      </ul>

      <h3>Metodología:</h3>
      <p>
        El curso combina conferencias, lecturas, análisis de casos prácticos,
        debates y actividades de juego de roles para promover la comprensión y
        aplicación de conocimientos y habilidades fundamentales en consejería.
      </p>

      <h3>Evaluación:</h3>
      <p>El desempeño del estudiante será evaluado a través de:</p>
      <ul>
        <li>Reflexiones escritas y ensayos de respuesta.</li>
        <li>Pruebas sobre contenido teórico y terminología.</li>
        <li>Participación en discusiones de clase y juegos de roles.</li>
        <li>
          Un proyecto final o examen que evalúa la comprensión de los materiales del curso.
        </li>
      </ul>

      <h3>Importancia del Curso:</h3>
      <p>
        Este curso es esencial para cualquier persona que ingrese al campo de la
        consejería, ya que establece las bases para estudios y práctica posteriores,
        proporcionando una comprensión integrada de los componentes éticos,
        teóricos y prácticos de la profesión.
      </p>
    </div>
  </main>
</mat-dialog-content>

<app-footer-modal />
