<app-banner class="fadeIn" [banner]="flyer" [alt]="alt" />
<mat-dialog-content>
  <main class="fadeIn">
    <h2>MATH-CSPF-507 - Christian Spirituality and Personal Formation</h2>

    <div class="line"></div>

    <div class="content fadeIn">
      <p><span>Christian Spirituality and Personal Formation</span> is a course that explores the foundational principles of Christian spirituality and how these principles impact the personal development and spiritual life of believers. The course is designed to help students cultivate a deeper faith life, promoting a closer relationship with God and a more conscious commitment to the Christian mission in the world. Spiritual practices that foster Christian maturity, including prayer, meditation, fasting, service, and Bible study, will be explored.</p>

      <h3>Course Objectives:</h3>
      <ul>
        <li>Understand the theological and practical foundations of Christian spirituality.</li>
        <li>Develop a spiritual life that fosters a personal relationship with God.</li>
        <li>Explore how Christian spirituality influences personal character, morals, and ethics.</li>
        <li>Establish daily spiritual practices that promote personal and spiritual growth.</li>
        <li>Reflect on the integration of spirituality in daily life and service to others.</li>
      </ul>

      <h3>Main Topics:</h3>
      <ul>
        <li>The theological foundations of Christian spirituality.</li>
        <li>Personal relationship with God: prayer, meditation, and reflection.</li>
        <li>Spiritual practices that foster personal growth: fasting, service, and Bible study.</li>
        <li>Christian ethics and its impact on daily life.</li>
        <li>Spiritual formation throughout the Christian life.</li>
        <li>The role of the Christian community in personal and spiritual formation.</li>
      </ul>

      <h3>Methodology:</h3>
      <p>This course will combine lectures, readings, personal reflection exercises, and group activities. Students will be encouraged to practice the spiritual disciplines taught in the course and reflect on their impact on daily life. Dialogue and discussion will be encouraged on how spiritual practices contribute to the development of Christian character.</p>

      <h3>Assessment:</h3>
      <ul>
        <li>Written reflections on the practice of spiritual disciplines.</li>
        <li>Final project on integrating Christian spirituality into daily life.</li>
        <li>Presentations on the fundamental principles of Christian spirituality.</li>
      </ul>

      <h3>Importance of the Course:</h3>
      <p>This course is essential for those seeking to deepen their spiritual life and relationship with God. It offers practical and theological tools for living a holistic Christian spirituality that influences both personal growth and service to others, promoting spiritual and ethical maturity in the Christian context.</p>
    </div>
  </main>
</mat-dialog-content>
<app-footer-modal />
