<app-banner class="fadeIn" [banner]="flyer" [alt]="alt" />
<mat-dialog-content>
  <main class="fadeIn">
    <h2>MAMH-FCT-1900 - Terapia Familiar y de Pareja</h2>

    <div class="line"></div>

    <div class="content fadeIn">
      <p>
        El curso
        <span>MAMH-FCT-1900 - Terapia Familiar y de Pareja</span> enseña a los
        estudiantes a trabajar con familias y parejas en crisis, utilizando
        enfoques terapéuticos que mejoren la dinámica familiar. Se abordan temas
        como la violencia doméstica, los trastornos relacionales y el manejo de
        conflictos.
      </p>

      <h3>Objetivos del curso:</h3>
      <ul>
        <li>
          Comprender las dinámicas familiares y de pareja en diferentes
          contextos.
        </li>
        <li>
          Identificar y evaluar problemas relacionales dentro de familias y
          parejas.
        </li>
        <li>
          Aplicar estrategias terapéuticas para mejorar la comunicación y la
          resolución de conflictos.
        </li>
        <li>
          Explorar el impacto de la violencia doméstica en la salud mental.
        </li>
        <li>
          Analizar técnicas de intervención para fortalecer la estructura
          familiar.
        </li>
      </ul>

      <h3>Temas principales:</h3>
      <ul>
        <li>Fundamentos de la terapia familiar y de pareja.</li>
        <li>Teorías y modelos de intervención en terapia familiar.</li>
        <li>Manejo de conflictos y resolución de problemas en parejas.</li>
        <li>Impacto de la violencia doméstica en la salud mental.</li>
        <li>Estrategias de comunicación y mediación familiar.</li>
        <li>Intervenciones terapéuticas en crisis familiares.</li>
      </ul>

      <h3>Metodología:</h3>
      <p>
        El curso combina clases teóricas, estudios de caso, prácticas
        supervisadas y simulaciones terapéuticas. Se fomenta la aplicación de
        estrategias en escenarios clínicos y el trabajo colaborativo.
      </p>

      <h3>Evaluación:</h3>
      <p>La evaluación del curso incluirá:</p>
      <ul>
        <li>Exámenes sobre teorías de terapia familiar y de pareja.</li>
        <li>Análisis de casos clínicos en dinámicas familiares.</li>
        <li>Ensayos sobre estrategias de intervención terapéutica.</li>
        <li>
          Presentaciones sobre trastornos relacionales y violencia doméstica.
        </li>
        <li>
          Debates sobre la importancia de la terapia en la estabilidad familiar.
        </li>
      </ul>

      <h3>Importancia del curso:</h3>
      <p>
        Comprender la terapia familiar y de pareja es esencial para abordar
        crisis relacionales y fortalecer los vínculos emocionales. Este curso
        proporciona herramientas clave para la práctica clínica y el desarrollo
        profesional en la consejería familiar.
      </p>
    </div>
  </main>
</mat-dialog-content>

<app-footer-modal />
