<app-banner class="fadeIn" [banner]="flyer" [alt]="alt" />
<mat-dialog-content>
  <main class="fadeIn">
    <h2>BACH-ETH-1100 - Ética en la capellanía</h2>

    <div class="line"></div>

    <div class="content fadeIn">
      <p>
        Este curso proporciona un estudio profundo de los principios éticos
        fundamentales en la práctica de la capellanía, preparando a los
        estudiantes para enfrentar dilemas morales con integridad,
        discernimiento y responsabilidad.
      </p>

      <h3>Objetivos del curso:</h3>
      <ul>
        <li>
          <strong
            >Principios filosóficos y teológicos de la ética cristiana:</strong
          >
          Los estudiantes explorarán las bases filosóficas y teológicas de la
          ética cristiana, comprendiendo su aplicación en el ejercicio del
          ministerio capellánico y cómo estos principios guían la toma de
          decisiones éticas.
        </li>
        <li>
          <strong>Confidencialidad pastoral:</strong> Se estudiará el valor
          fundamental de la confidencialidad en la capellanía y su impacto en la
          confianza entre el capellán y las personas a quienes sirven.
        </li>
        <li>
          <strong>Resolución de dilemas éticos:</strong> Los estudiantes
          aprenderán a tomar decisiones éticas informadas en situaciones
          críticas, equilibrando principios bíblicos con las demandas de los
          contextos ministeriales.
        </li>
        <li>
          <strong>Respeto a la diversidad religiosa y cultural:</strong> Se
          abordará cómo manejar la diversidad religiosa y cultural de manera
          respetuosa, promoviendo la inclusión y el entendimiento dentro del
          ministerio.
        </li>
        <li>
          <strong>Fe personal y regulaciones institucionales:</strong> Se
          discutirá el equilibrio entre la fe personal del capellán y las
          regulaciones y políticas institucionales, enseñando cómo navegar este
          equilibrio con integridad y profesionalismo.
        </li>
      </ul>

      <h3>Metodología:</h3>
      <p>
        El curso se llevará a cabo mediante clases teóricas, análisis de
        estudios de caso y discusiones en grupo. Los estudiantes evaluarán
        situaciones éticas reales en diversos contextos de capellanía, como
        hospitales, cárceles y fuerzas armadas, utilizando los principios
        aprendidos para resolver conflictos y ofrecer orientación moral.
      </p>

      <h3>Evaluación:</h3>
      <p>
        La evaluación del curso incluirá la participación en debates y estudios
        de caso, un ensayo que demuestre la aplicación práctica de los
        principios éticos en el contexto capellánico, y un examen final que
        medirá la capacidad de los estudiantes para enfrentar dilemas éticos con
        discernimiento y responsabilidad.
      </p>
    </div>
  </main>
</mat-dialog-content>

<app-footer-modal />
