<div class="bodyContent">
  <h3>Program Courses</h3>

  <p>
    The Master's in Clinical Counseling offers a wide range of courses designed
    to provide comprehensive training in clinical counseling and psychology.
    Below is a list of the courses that students will take during the program:
  </p>

  <P>
    <strong>MACC-FC-100 - Foundations of Counseling:</strong> Basic principles
    of counseling, professional practice, and the approaches used in various
    contexts.
  </P>
  <button mat-button (click)="openDialog('macc-fc-100')">Learn more...</button>

  <P>
    <strong>MACC-GP-200 -General Psychology:</strong> Basic concepts of
    psychology, with an emphasis on human behavior and its relation to mental
    health.
  </P>
  <button mat-button (click)="openDialog('macc-gp-200')">Learn more...</button>
  <P>
    <strong>MACC-HD-300 - Human Development:</strong> Study of the stages of
    human development from childhood to old age.
  </P>
  <button mat-button (click)="openDialog('macc-hd-300')">Learn more...</button>
  <P>
    <strong>MACC-FP-400 - Fundamentals of Psychotherapy:</strong> Introduction
    to the major psychotherapeutic techniques used in clinical practice.
  </P>
  <button mat-button (click)="openDialog('macc-fp-400')">Learn more...</button>
  <P>
    <strong>MACC-DPS-500 - Developmental Psychology and Spirituality:</strong>
    Study of how human development influences beliefs, values, and psychological
    processes.
  </P>
  <button mat-button (click)="openDialog('macc-dps-500')">Learn more...</button>
  <P>
    <strong>MACC-EMC-600 - Ethics and Morality in Counseling:</strong> Ethical
    principles in the practice of clinical counseling, with an emphasis on
    decision-making in difficult situations.
  </P>
  <button mat-button (click)="openDialog('macc-emc-600')">Learn more...</button>
  <P>
    <strong>MACC-IP-700 - Introduction to Psychopathology:</strong> Study of
    common psychological disorders and their diagnosis in the clinical setting.
  </P>
  <button mat-button (click)="openDialog('macc-ip-700')">Learn more...</button>
  <P>
    <strong>MACC-IC-800 - Integrated Counseling:</strong> Integrated approaches
    to counseling by applying different psychological theories and intervention
    practices.
  </P>
  <button mat-button (click)="openDialog('macc-ic-800')">Learn more...</button>
  <P>
    <strong>MACC-ACP-900 - Applied Clinical Psychology:</strong> Application of
    the principles of clinical psychology in various professional counseling
    environments.
  </P>
  <button mat-button (click)="openDialog('macc-acp-900')">Learn more...</button>

  <P>
    <strong> MACC-FC-1000 - Family Counseling:</strong> Counseling techniques
    for working with families and resolving family conflicts.
  </P>
  <button mat-button (click)="openDialog('macc-fc-1000')">Learn more...</button>

  <p>
    <strong>MACC-PC-1100 - Psychological Counseling</strong> - Are you
    interested in supporting and transforming lives? Psychological Counseling
    provides key tools to intervene in clinical settings, developing empathy,
    active listening, and applying therapeutic models with a strong ethical and
    practical foundation.
  </p>
  <button mat-button (click)="openDialog('macc-pc-1100')">Learn more...</button>

  <P>
    <strong>MACC-PP-1200 - Personality Psychology:</strong> Study of personality
    psychology and its impact on interpersonal relationships and emotional
    well-being.
  </P>
  <button mat-button (click)="openDialog('macc-pp-1200')">Learn more...</button>
  <P>
    <strong>MACC-CC-1300 - Crisis Counseling:</strong> Techniques for
    intervening in severe emotional and spiritual crises, such as loss, anxiety
    disorders, and family conflicts.
  </P>
  <button mat-button (click)="openDialog('macc-cc-1300')">Learn more...</button>
  <P>
    <strong>MACC-MC-1400 - Marriage Counseling:</strong> Principles and
    techniques for offering counseling to couples, including conflict resolution
    and relationship restoration.
  </P>
  <button mat-button (click)="openDialog('macc-mc-1400')">Learn more...</button>
  <P>
    <strong>MACC-PMD-1500 - Psychology of Mood Disorders:</strong> Study of
    disorders such as depression and bipolar disorder, and their treatment in
    the clinical context.
  </P>
  <button mat-button (click)="openDialog('macc-pmd-1500')">
    Learn more...
  </button>
  <P>
    <strong>MACC-CYA-1600 - Counseling for Youth and Adolescents:</strong>
    Strategies for supporting youth in their emotional and psychological
    development.
  </P>
  <button mat-button (click)="openDialog('macc-cya-1600')">
    Learn more...
  </button>
  <P>
    <strong>MACC-CA-1700 - Counseling for Addictions:</strong> Strategies for
    addressing addiction to alcohol, drugs, and other addictive behaviors.
  </P>
  <button mat-button (click)="openDialog('macc-ca-1700')">Learn more...</button>
  <P>
    <strong>MACC-PCP-1800 - Psychopathology in Clinical Practice:</strong> Study
    of mental disorders from a clinical perspective, with an emphasis on how to
    approach them in professional settings.
  </P>
  <button mat-button (click)="openDialog('macc-pcp-1800')">
    Learn more...
  </button>
  <P>
    <strong>MACC-TP-1900 - Trauma Psychology:</strong> Theory and practice of
    intervention in cases of trauma, such as abuse, domestic violence, and other
    traumatic events.
  </P>
  <button mat-button (click)="openDialog('macc-tp-1900')">Learn more...</button>
  <P>
    <strong>MACC-CGL-2000 - Counseling in Grief and Loss:</strong> Techniques
    for supporting individuals going through grief processes, whether due to
    death, separation, or other significant losses.
  </P>
  <button mat-button (click)="openDialog('macc-cgl-2000')">
    Learn more...
  </button>
  <P>
    <strong>MACC-FPC-2100 - Family Psychology and Counseling:</strong> Study of
    family psychology applied to counseling, with a focus on restoring family
    relationships.
  </P>
  <button mat-button (click)="openDialog('macc-fpc-2100')">
    Learn more...
  </button>
  <P>
    <strong>MACC-CMH-2200 - Counseling for Mental Health:</strong> Strategies
    for integrating mental health into community life and promoting emotional
    well-being within the congregation.
  </P>
  <button mat-button (click)="openDialog('macc-cmh-2200')">
    Learn more...
  </button>
  <P>
    <strong>MACC-DCP-2300 - Development of Counseling Programs:</strong>
    Students will learn how to design, implement, and manage counseling programs
    in various organizations and communities.
  </P>
  <button mat-button (click)="openDialog('macc-dcp-2300')">
    Learn more...
  </button>
  <P>
    <strong>MACC-CEC-2400 - Counseling in Extreme Crisis:</strong> Advanced
    techniques for intervening in extreme crises, such as natural disasters,
    suicides, and mass trauma.
  </P>
  <button mat-button (click)="openDialog('macc-cec-2400')">
    Learn more...
  </button>
  <P>
    <strong>MACC-RCC-2500 - Research in Clinical Counseling:</strong> Students
    will develop research projects that contribute to the advancement of
    clinical counseling and applied psychology.
  </P>
  <button mat-button (click)="openDialog('macc-rcc-2500')">
    Learn more...
  </button>
  <P>
    <strong>MACC-ACP-2600 - Advanced Clinical Practice:</strong> Completion of
    advanced supervised practice in clinical settings, addressing more complex
    and challenging cases.
  </P>
  <button mat-button (click)="openDialog('macc-acp-2600')">
    Learn more...
  </button>
  <P>
    <strong>MACC-APE-2700 - Advanced Professional Ethics:</strong> Study of
    ethical dilemmas in the professional practice of clinical counseling, with
    an emphasis on decision-making in complex situations.
  </P>
  <button mat-button (click)="openDialog('macc-ape-2700')">
    Learn more...
  </button>
  <P>
    <strong>MACC-MT-2800 - Master’s Thesis:</strong> Students must conduct
    original research on a topic of their interest within clinical counseling.
  </P>
  <button mat-button (click)="openDialog('macc-mt-2800')">Learn more...</button>
  <P>
    <strong>MACC-CE-2900 - Comprehensive Examination:</strong> Students will
    take an exam covering the most important topics of the program, evaluating
    their mastery of the material.
  </P>
  <button mat-button (click)="openDialog('macc-ce-2900')">Learn more...</button>
</div>
