<app-banner class="fadeIn" [banner]="flyer" [alt]="alt" />
<mat-dialog-content>
  <main class="fadeIn">
    <h2>BACC-PPC-3400 - Preparación para la certificación profesional</h2>
    <div class="line"></div>

    <div class="content fadeIn">
      <p>
        El curso <span>Preparación para la Certificación Profesional</span> está
        diseñado para equipar a los estudiantes con los conocimientos,
        habilidades y estrategias necesarias para rendir exitosamente los
        exámenes de certificación profesional en psicología clínica y
        consejería.
      </p>

      <h3>Objetivos del curso:</h3>
      <ul>
        <li>
          Revisar los contenidos clave exigidos en los exámenes de certificación
          profesional.
        </li>
        <li>
          Familiarizar a los estudiantes con el formato y estructura de las
          evaluaciones certificadas.
        </li>
        <li>
          Desarrollar estrategias efectivas de estudio y manejo del tiempo.
        </li>
        <li>
          Identificar áreas de mejora individual mediante simulacros y
          evaluaciones diagnósticas.
        </li>
        <li>
          Fortalecer la confianza y preparación emocional para afrontar la
          certificación.
        </li>
      </ul>

      <h3>Temas principales:</h3>
      <ul>
        <li>Revisión de teorías y enfoques en psicología clínica.</li>
        <li>Ética y legislación profesional.</li>
        <li>Modelos de intervención y consejería.</li>
        <li>Evaluación psicológica y psicopatología.</li>
        <li>Prácticas profesionales y casos clínicos aplicados.</li>
      </ul>

      <h3>Metodología:</h3>
      <p>
        El curso combina clases teóricas intensivas, simulacros de examen,
        ejercicios prácticos, tutorías grupales e individuales, así como
        sesiones de retroalimentación para mejorar el desempeño académico y
        emocional de los estudiantes.
      </p>

      <h3>Evaluación:</h3>
      <p>La evaluación del curso incluirá:</p>
      <ul>
        <li>Simulacros de exámenes con retroalimentación detallada.</li>
        <li>Pruebas cortas sobre temas específicos del examen.</li>
        <li>Actividades prácticas y resolución de casos clínicos.</li>
        <li>Evaluación de progreso individual durante el curso.</li>
      </ul>

      <h3>Importancia del curso:</h3>
      <p>
        Este curso es esencial para asegurar que los futuros profesionales estén
        adecuadamente preparados para obtener la certificación en psicología
        clínica y consejería, lo cual representa un paso fundamental para
        ejercer con respaldo y reconocimiento en el campo.
      </p>
    </div>
  </main>
</mat-dialog-content>

<app-footer-modal />
