<app-banner class="fadeIn" [banner]="flyer" [alt]="alt" />
<mat-dialog-content>
  <main class="fadeIn">
    <h2>MACC-DCP-2300 - Desarrollo de Programas de Consejería</h2>
    <div class="line"></div>

    <div class="content fadeIn">
      <p>
        El curso <span>Desarrollo de Programas de Consejería</span> introduce a
        los estudiantes en el proceso de creación, implementación y gestión de
        programas de consejería eficaces, adaptados a diversos entornos
        organizacionales y comunitarios. Se enfatiza la planificación práctica,
        la evaluación de necesidades, la asignación de recursos y la evaluación
        de resultados para garantizar el éxito y la sostenibilidad del programa.
      </p>

      <h3>Objetivos del curso:</h3>
      <ul>
        <li>
          Comprender las etapas del desarrollo de programas de consejería, desde
          la concepción hasta la ejecución.
        </li>
        <li>
          Realizar evaluaciones de necesidades en comunidades y organizaciones.
        </li>
        <li>
          Diseñar planes estratégicos alineados con los objetivos de consejería
          y las poblaciones a atender.
        </li>
        <li>
          Identificar recursos clave, alianzas estratégicas y oportunidades de
          financiamiento.
        </li>
        <li>
          Diseñar métodos de evaluación para medir la eficacia de los programas.
        </li>
      </ul>

      <h3>Temas principales:</h3>
      <ul>
        <li>Principios del desarrollo de programas</li>
        <li>Herramientas y técnicas para la evaluación de necesidades</li>
        <li>Planificación estratégica en consejería</li>
        <li>Implementación y gestión de programas</li>
        <li>Monitoreo, evaluación e informes</li>
        <li>
          Consideraciones éticas y culturales en el desarrollo de programas
        </li>
      </ul>

      <h3>Metodología:</h3>
      <p>
        Este curso combina clases magistrales, estudios de caso, talleres
        grupales y simulaciones de proyectos reales para preparar a los
        estudiantes en la aplicación práctica de los contenidos.
      </p>

      <h3>Evaluación:</h3>
      <ul>
        <li>
          Propuesta de programa basada en una necesidad comunitaria específica
        </li>
        <li>
          Proyecto grupal: diseño y presentación de un programa de consejería
        </li>
        <li>Análisis de estudios de caso</li>
        <li>
          Informe final escrito: plan de evaluación para una iniciativa de
          consejería
        </li>
      </ul>

      <h3>Importancia del curso:</h3>
      <p>
        Este curso proporciona a los estudiantes las competencias necesarias
        para liderar y diseñar iniciativas de consejería con impacto,
        respondiendo con profesionalismo y visión a las necesidades emocionales
        y psicológicas de personas en distintos contextos.
      </p>
    </div>
  </main>
</mat-dialog-content>

<app-footer-modal />
