.listPrograms {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  grid-gap: 1rem;
  padding: 2rem 0;

  a {
    text-decoration: none;
    background: var(--primary);
    text-align: center;
    padding: 2rem 1rem;
    box-shadow: 0 0 8px 3px rgba(224, 224, 224, 0.3) inset;
    border-radius: 0.5rem;
    transition: all 0.3s;
    cursor: pointer;

    h3 {
      padding: 0 1rem;
      margin: 0;
      text-align: center;
      text-wrap: balance;
      color: #cecaca;
    }

    &:hover {
      box-shadow: 0 0 8px 3px rgba(0, 0, 0, 0.3);
      transform: scale(1.02) translateY(-3px);

      h3 {
        color: #fefefe;
      }
    }
  }
}

img {
  width: 100%;
  height: auto;
  object-fit: cover;
}
