<app-banner class="fadeIn" [banner]="flyer" [alt]="alt" />
<mat-dialog-content>
  <main class="fadeIn">
    <h2>MAMH-NR-1500 - Neuropsychological Rehabilitation</h2>

    <div class="line"></div>

    <div class="content fadeIn">
      <p>
        The course <span>MAMH-NR-1500 - Neuropsychological Rehabilitation</span>
        focuses on the study of neuropsychology and its application in the
        rehabilitation of patients with neurological disorders. Students will
        learn about the evaluation and treatment of cognitive, emotional, and
        behavioral issues related to brain damage.
      </p>

      <h3>Course Objectives:</h3>
      <ul>
        <li>
          Understand the fundamentals of neuropsychology and its clinical
          relevance.
        </li>
        <li>Explore the main neuropsychological evaluation techniques.</li>
        <li>Analyze cognitive and behavioral rehabilitation processes.</li>
        <li>
          Evaluate intervention strategies in patients with neurological
          disorders.
        </li>
        <li>
          Identify ethical challenges in neuropsychological rehabilitation.
        </li>
      </ul>

      <h3>Main Topics:</h3>
      <ul>
        <li>Introduction to neuropsychology and its clinical applications.</li>
        <li>Neuropsychological evaluation and diagnostic tools.</li>
        <li>
          Cognitive rehabilitation strategies for patients with brain damage.
        </li>
        <li>
          Intervention in language, memory, and executive function disorders.
        </li>
        <li>Ethical considerations in neuropsychological practice.</li>
        <li>Case studies on neuropsychological rehabilitation.</li>
      </ul>

      <h3>Methodology:</h3>
      <p>
        The course combines theoretical classes, case studies, practical
        exercises, and discussions on recent research. The application of
        knowledge in real clinical contexts is promoted.
      </p>

      <h3>Assessment:</h3>
      <p>Course assessment will include:</p>
      <ul>
        <li>Exams on neuropsychological evaluation and rehabilitation.</li>
        <li>Analysis of case studies on neuropsychological treatments.</li>
        <li>
          Essays on intervention strategies for patients with brain damage.
        </li>
        <li>Presentations on advances in neuropsychological rehabilitation.</li>
        <li>
          Discussions on ethics and challenges in neuropsychological
          rehabilitation.
        </li>
      </ul>

      <h3>Importance of the Course:</h3>
      <p>
        Neuropsychological rehabilitation is fundamental for the recovery of
        patients with neurological disorders, providing strategies to improve
        their quality of life. This course provides a solid foundation for
        clinical intervention in the field of neuropsychology.
      </p>
    </div>
  </main>
</mat-dialog-content>

<app-footer-modal />
