<app-banner class="fadeIn" [banner]="flyer" [alt]="alt" />
<mat-dialog-content>
  <main class="fadeIn">
    <h2>MACC-IP-700 - Introduction to Psychopathology</h2>
    <div class="line"></div>

    <div class="content fadeIn">
      <p>
        <span>Introduction to Psychopathology</span> provides an overview of the
        most common psychological disorders, exploring their symptoms,
        diagnostic criteria, and implications for treatment in clinical
        practice. Students will learn the foundations of mental illness and how
        it is classified and identified.
      </p>

      <h3>Course Objectives:</h3>
      <ul>
        <li>
          Identify and describe major psychological disorders based on standard
          diagnostic criteria (e.g., DSM-5).
        </li>
        <li>
          Understand the clinical characteristics and presentations of each
          disorder.
        </li>
        <li>
          Explore biological, psychological, and social factors involved in
          mental illness.
        </li>
        <li>
          Recognize the impact of disorders on individuals, families, and
          communities.
        </li>
        <li>Introduce basic methods of assessment and intervention.</li>
      </ul>

      <h3>Main Topics:</h3>
      <ul>
        <li>Foundations of psychopathology.</li>
        <li>Anxiety, mood, and depressive disorders.</li>
        <li>Psychotic and personality disorders.</li>
        <li>Neurodevelopmental and trauma-related disorders.</li>
        <li>Diagnostic tools and classification systems.</li>
      </ul>

      <h3>Methodology:</h3>
      <p>
        This course includes lectures, case analysis, video observations,
        diagnostic exercises, and group discussions to support a comprehensive
        understanding of mental disorders.
      </p>

      <h3>Assessment:</h3>
      <p>Evaluation will be based on:</p>
      <ul>
        <li>Quizzes and exams on diagnostic criteria and terminology.</li>
        <li>Written case analysis and symptom identification.</li>
        <li>Class participation and discussion of clinical examples.</li>
      </ul>

      <h3>Importance of the Course:</h3>
      <p>
        This course lays the groundwork for advanced clinical training by
        equipping students with the tools to recognize and understand mental
        health disorders in a professional setting.
      </p>
      "
    </div>
  </main>
</mat-dialog-content>

<app-footer-modal />
