<h3>Class 100% online</h3>
<div class="tableWeks fadeIn">

  <table>
    <thead>
      <tr>
        <th>Days</th>
        <th>From</th>
        <th>To</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Monday</td>
        <td>9:00 AM</td>
        <td>7:00 PM</td>
      </tr>
      <tr>
        <td>Tuesday</td>
        <td>9:00 AM</td>
        <td>7:00 PM</td>
      </tr>
      <tr>
        <td>Wednesday</td>
        <td>9:00 AM</td>
        <td>7:00 PM</td>
      </tr>
      <tr>
        <td>Thursday</td>
        <td>9:00 AM</td>
        <td>7:00 PM</td>
      </tr>
      <tr>
        <td>Friday</td>
        <td>9:00 AM</td>
        <td>7:00 PM</td>
      </tr>
      <tr>
        <td>Saturday</td>
        <td>9:00 AM</td>
        <td>4:00 PM</td>
      </tr>
    </tbody>
  </table>
</div>