<app-banner class="fadeIn" [banner]="flyer" [alt]="alt" />
<mat-dialog-content>
  <main class="fadeIn">
    <h2>BACH-MSS-1200 - Methodical study of the scriptures</h2>

    <div class="line"></div>
    <div class="content fadeIn">
      <p>
        This course offers an in-depth study of advanced biblical interpretation
        techniques, providing students with the necessary tools to analyze,
        understand, and apply Scripture accurately and contextually.
      </p>

      <h3>Course Objectives:</h3>
      <ul>
        <li>
          <strong>Fundamental Principles of Hermeneutics:</strong> Students will
          learn the essential principles of hermeneutics, including exegetical
          analysis, grammatical and literary interpretation, and the study of
          the historical-cultural context of biblical texts.
        </li>
        <li>
          <strong>Relationship between the Old and New Testament:</strong> The
          course will explore how the texts of the Old and New Testament relate
          to and complement each other, providing a comprehensive understanding
          of biblical revelation.
        </li>
        <li>
          <strong>Contemporary Critical Approaches:</strong> Students will be
          introduced to contemporary critical approaches, such as theological,
          canonical, and narrative hermeneutics, and will learn how these
          approaches impact the teaching and preaching of Scripture.
        </li>
        <li>
          <strong>Practical Application of Biblical Interpretation:</strong> The
          course emphasizes the application of interpretation techniques in
          ministerial life, preparing students to use Scripture effectively in
          counseling, preaching, and teaching.
        </li>
        <li>
          <strong>Analysis of Key Texts:</strong> Through the study of key
          biblical passages, students will develop practical skills for
          interpreting Scripture with faithfulness and theological depth.
        </li>
      </ul>

      <h3>Methodology:</h3>
      <p>
        The course will combine theoretical classes with exegetical analysis and
        practical exercises. Students will study key biblical texts, participate
        in case studies, and work on interpretation exercises to apply what they
        have learned in real ministry situations.
      </p>

      <h3>Evaluation:</h3>
      <p>
        Evaluation will include participation in text discussions, the
        completion of an exegetical paper on a biblical passage, and a final
        exam that will assess the understanding of hermeneutical principles and
        the ability to apply them in the ministerial context.
      </p>
    </div>
  </main>
</mat-dialog-content>

<app-footer-modal />
