<app-banner class="fadeIn" [banner]="flyer" [alt]="alt" />

<main class="pages">
  <h2>Licenciatura en consejería clínica</h2>
  <div class="line"></div>

  <div class="content fadeIn">
    <mat-tab-group dynamicHeight>
      <mat-tab label="Presentación">
        <div class="bodyContent"></div>
      </mat-tab>

      <mat-tab label="Información">
        <div class="bodyContent"></div>
      </mat-tab>

      <mat-tab label="Objetivos">
        <div class="bodyContent"></div>
      </mat-tab>

      <mat-tab label="Cursos">
        <div class="bodyContent"></div>
      </mat-tab>

      <mat-tab label="Resumen">
        <div class="bodyContent"></div>
      </mat-tab>

      <mat-tab label="Requisitos">
        <div class="bodyContent"></div>
      </mat-tab>
    </mat-tab-group>
  </div>
</main>
