<app-banner class="fadeIn" [banner]="flyer" [alt]="alt" />
<mat-dialog-content>
  <main class="fadeIn">
    <h2>MATH-WPL-111 - Wisdom and Poetic Literature</h2>

    <div class="line"></div>

    <div class="content fadeIn">
      <p><span>Wisdom and Poetic Literature</span> focuses on the poetic and wisdom books of the Bible, exploring their content, literary style, and the fundamental principles of wisdom and morality they convey. The course includes an in-depth study of books such as Psalms, Proverbs, Ecclesiastes, and Song of Solomon, to understand how these scriptures offer teachings on life, suffering, justice, and the relationship with God.</p>

      <h3>Course Objectives:</h3>
      <ul>
        <li>Study the main wisdom and poetic books of the Old Testament.</li>
        <li>Analyze the use of figurative language and poetry in biblical texts.</li>
        <li>Explore the principles of wisdom and morality present in these books.</li>
        <li>Reflect on the application of these principles in contemporary life.</li>
        <li>Develop skills to effectively interpret and teach wisdom literature.</li>
      </ul>

      <h3>Main Topics:</h3>
      <ul>
        <li>Introduction to biblical wisdom literature</li>
        <li>The Book of Psalms: poetry and prayer</li>
        <li>Proverbs and teachings of practical wisdom</li>
        <li>Ecclesiastes: the search for meaning in an uncertain world</li>
        <li>Song of Solomon: love poetry and symbolism</li>
        <li>The wisdom in the Old Testament and its relevance for Christian life</li>
      </ul>

      <h3>Methodology:</h3>
      <p>This course combines reading and detailed analysis of the wisdom and poetic books, with discussions on their meanings and applications. Students will engage in debates and activities that will help them understand the deep messages of these texts and apply them in modern contexts.</p>

      <h3>Assessment:</h3>
      <ul>
        <li>Essays on key passages of wisdom and poetry.</li>
        <li>Exams on the interpretation and main themes of the books.</li>
        <li>Presentations on the relevance of biblical wisdom in today's life.</li>
        <li>Research projects on applying wisdom principles in ministry and everyday life.</li>
      </ul>

      <h3>Importance of the Course:</h3>
      <p>The biblical wisdom and poetic literature provides a rich source of teachings on how to live a life in accordance with principles of justice, love, and faith. This course equips students with the necessary tools to interpret and apply these texts in their daily lives and ministry.</p>
    </div>
  </main>
</mat-dialog-content>
<app-footer-modal />
