.breadcams {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  padding: 0 1rem;

  a {
    color: #727680;
    text-decoration: none;
    font-size: 1rem;
    font-weight: 400;
    white-space: nowrap;
    padding: 0 0.3rem;

    &:hover {
      color: var(--primary);
    }
  }
}
