<app-banner class="fadeIn" [banner]="flyer" [alt]="alt" />
<mat-dialog-content>
  <main class="fadeIn">
    <h2>MACC-IC-800 - Integración de la Consulta</h2>
    <div class="line"></div>

    <div class="content fadeIn">
      <p>
        <span>Integración de la Consulta</span> explora el uso de múltiples
        teorías psicológicas y modelos de intervención en un enfoque unificado
        para la consulta. Los estudiantes aprenderán a aplicar técnicas de
        diferentes frameworks para atender las necesidades diversas de los
        clientes de manera flexible y efectiva.
      </p>

      <h3>Objetivos del curso:</h3>
      <ul>
        <li>
          Entender las bases y principios de los modelos de integración de la
          consulta.
        </li>
        <li>
          Evaluar y comparar las teorías psicológicas principales y sus
          aplicaciones clínicas.
        </li>
        <li>
          Desarrollar planes de tratamiento individualizados basados en las
          necesidades del cliente.
        </li>
        <li>
          Practicar la integración de enfoques cognitivo, conductual, humanista
          y sistémico.
        </li>
        <li>
          Aplicar prácticas éticas y competentes culturalmente en la integración
          de la consulta.
        </li>
      </ul>

      <h3>Temas principales:</h3>
      <ul>
        <li>
          Desarrollo de teorías de la consulta (CBT, humanista, psicodinámico,
          sistémico, etc.).
        </li>
        <li>Principios de integración y eclectismo.</li>
        <li>Formulación de casos y planificación de intervención.</li>
        <li>
          Sensibilidad cultural y consideraciones éticas en la práctica
          integrada.
        </li>
        <li>Técnicas para combinar métodos en situaciones reales.</li>
      </ul>

      <h3>Método de enseñanza:</h3>
      <p>
        El curso incluye discusiones teóricas, demostraciones prácticas,
        simulaciones clínicas y análisis crítico de estudios de casos para
        fomentar un entendimiento profundo de la práctica integrada.
      </p>

      <h3>Calificación:</h3>
      <p>Los estudiantes serán evaluados a través de:</p>
      <ul>
        <li>Trabajos escritos y reflexiones teóricas.</li>
        <li>Desarrollo de planes de tratamiento integrados.</li>
        <li>Presentaciones de casos.</li>
        <li>Participación en discusiones y ejercicios prácticos.</li>
      </ul>

      <h3>Importancia del curso:</h3>
      <p>
        Este curso prepara a los estudiantes para ser flexibles y adaptativos,
        capaces de extraer de múltiples tradiciones terapéuticas para apoyar de
        manera efectiva a clientes diversos en diversos entornos.
      </p>
    </div>
  </main>
</mat-dialog-content>

<app-footer-modal />
