<app-banner class="fadeIn" [banner]="flyer" [alt]="alt" />
<mat-dialog-content>
    <main class="fadeIn">
        <h2>MATH-BTNT-109 - Teología Bíblica del Nuevo Testamento</h2>

        <div class="line"></div>

        <div class="content fadeIn">
            <p><span>Teología Bíblica del Nuevo Testamento</span> examina los principales temas teológicos que emergen en el Nuevo Testamento, su desarrollo y su relevancia para la comprensión completa de la revelación divina a través de la vida, enseñanza y obra de Jesucristo.</p>

            <h3>Objetivos del Curso:</h3>
            <ul>
                <li>Explorar los temas teológicos clave del Nuevo Testamento.</li>
                <li>Comprender el papel central de Jesucristo en la revelación divina.</li>
                <li>Analizar la relación entre los evangelios y las cartas apostólicas en el contexto teológico.</li>
                <li>Estudiar el desarrollo del pensamiento cristiano primitivo a través de los textos del Nuevo Testamento.</li>
                <li>Desarrollar habilidades para interpretar y aplicar los temas teológicos del Nuevo Testamento en el contexto contemporáneo.</li>
            </ul>

            <h3>Temas Principales:</h3>
            <ul>
                <li>Introducción a la Teología Bíblica del Nuevo Testamento.</li>
                <li>La centralidad de la figura de Jesucristo y su obra redentora.</li>
                <li>El Espíritu Santo y la vida de la iglesia.</li>
                <li>La relación entre las enseñanzas de Jesús y las epístolas paulinas.</li>
                <li>La escatología y la esperanza cristiana.</li>
            </ul>

            <h3>Metodología:</h3>
            <p>Este curso se basa en clases magistrales, estudios de pasajes claves, análisis de textos del Nuevo Testamento y discusiones grupales sobre los principales temas teológicos.</p>

            <h3>Evaluación:</h3>
            <ul>
                <li>Ensayos teológicos.</li>
                <li>Exámenes parciales y finales.</li>
                <li>Presentaciones orales sobre temas específicos.</li>
                <li>Investigación sobre la relación entre los evangelios y las cartas apostólicas.</li>
            </ul>

            <h3>Importancia del Curso:</h3>
            <p>Teología Bíblica del Nuevo Testamento proporciona una comprensión profunda de los temas clave del cristianismo, desde la vida y obra de Jesucristo hasta el desarrollo de la iglesia primitiva, ofreciendo una base sólida para la práctica teológica y ministerial.</p>
        </div>
    </main>
</mat-dialog-content>

<app-footer-modal />
