<section class="pages mt-2">
  <div class="content mt-2 fadeIn">
    <h1 class="fadeIn">Our Courses</h1>
    <div class="line fadeIn"></div>

    <p>
      At World Academy Theology, we believe education should be accessible,
      inspiring, and transformative.
    </p>
    <p>
      Our programs are designed to provide a balance between academic
      excellence, spiritual formation, and practical application, empowering
      students to lead with wisdom, compassion, and integrity.
    </p>

    <p>
      Through our 100% online and flexible model, you can study from anywhere in
      the world, at your own pace, while engaging with an international
      community of learners and professors. Each course is carefully crafted to
      combine rigorous study, faith in action, and the development of leadership
      skills needed to face today’s challenges.
    </p>

    <p>
      Whether you are starting your academic journey, seeking advanced studies,
      or simply deepening your knowledge, our programs open the door to a
      learning experience that transforms both your personal and professional
      life.
    </p>
  </div>
</section>
