<app-banner class="fadeIn" [banner]="flyer" [alt]="alt" />
<mat-dialog-content>
  <main class="fadeIn">
    <h2>MAMH-PSYP-1400 - Psychopharmacology</h2>

    <div class="line"></div>

    <div class="content fadeIn">
      <p>
        The course <span>MAMH-PSYP-1400 - Psychopharmacology</span> introduces
        the use of medications in the treatment of psychological disorders.
        Students will learn about the different types of drugs used in clinical
        psychology, how they function, and their effects on patients, as well as
        the interaction between medications and psychotherapy.
      </p>

      <h3>Course Objectives:</h3>
      <ul>
        <li>Understand the basic principles of psychopharmacology.</li>
        <li>
          Explore the different types of drugs used in clinical psychology.
        </li>
        <li>Analyze the effects of medications on the brain and behavior.</li>
        <li>
          Evaluate the interaction between pharmacotherapy and psychotherapy.
        </li>
        <li>
          Identify ethical and clinical considerations in the use of
          psychopharmaceuticals.
        </li>
      </ul>

      <h3>Main Topics:</h3>
      <ul>
        <li>
          Introduction to psychopharmacology and its relevance in clinical
          psychology.
        </li>
        <li>
          Classification of psychopharmaceuticals and their mechanisms of
          action.
        </li>
        <li>
          Use of medications in the treatment of anxiety and depression
          disorders.
        </li>
        <li>
          Side effects and ethical considerations in prescribing
          psychopharmaceuticals.
        </li>
        <li>Interaction between pharmacotherapy and psychotherapy.</li>
        <li>
          Case studies on the impact of psychopharmaceuticals in clinical
          treatment.
        </li>
      </ul>

      <h3>Methodology:</h3>
      <p>
        The course combines theoretical classes, case studies, academic research
        analysis, and group discussions. Critical understanding of the use of
        psychopharmaceuticals in the treatment of psychological disorders is
        emphasized.
      </p>

      <h3>Assessment:</h3>
      <p>Course assessment will include:</p>
      <ul>
        <li>Exams on pharmacology and its applications in psychology.</li>
        <li>Case study analysis on the use of psychopharmaceuticals.</li>
        <li>
          Essays on the relationship between pharmacotherapy and psychotherapy.
        </li>
        <li>
          Presentations on the impact of psychopharmaceuticals on mental health.
        </li>
        <li>
          Debates on ethics and regulations in the use of psychopharmaceuticals.
        </li>
      </ul>

      <h3>Importance of the Course:</h3>
      <p>
        Psychopharmacology is a key discipline in clinical psychology, allowing
        professionals to understand and evaluate the impact of medications on
        mental health. This course provides an essential foundation for
        interdisciplinary work in the treatment of psychological disorders.
      </p>
    </div>
  </main>
</mat-dialog-content>

<app-footer-modal />
