<app-banner class="fadeIn" [banner]="flyer" [alt]="alt" />

<main class="pages">


  <!-- <h2> Maestría en Consejería Clínica Pastoral </h2>
  <div class="line"></div> -->

  <div class="content fadeIn">

    <mat-tab-group dynamicHeight>

      <mat-tab label="Presentación">
        <div class="bodyContent">

          <p>La Maestría en Consejería Clínica Pastoral, está diseñada para pastores y líderes cristianos que desean
            adquirir conocimientos avanzados en el cuidado espiritual y emocional, utilizando principios psicológicos
            aplicados al contexto pastoral. Este programa ofrece un enfoque integral, combinando la sabiduría bíblica
            con técnicas de consejería clínica, con el objetivo de capacitar a los líderes para abordar las necesidades
            emocionales y espirituales de sus congregaciones de manera efectiva.</p>

          <h3>100% Online: Estudia desde cualquier lugar</h3>
          <p>Este programa es completamente en línea, lo que te permite estudiar desde la comodidad de tu hogar, sin
            importar dónde te encuentres. Podrás adaptar tu horario de estudio según tus responsabilidades ministeriales
            y familiares, mientras te conectas con una comunidad global de pastores y líderes que comparten tus valores.
          </p>

          <h3>Oportunidades profesionales</h3>
          <p>La maestría ofrece diversas oportunidades profesionales en el ámbito eclesiástico y comunitario. Los
            graduados estarán preparados para servir como consejeros clínicos pastorales en iglesias, organizaciones
            cristianas, ministerios, y centros de apoyo espiritual, brindando ayuda emocional y espiritual a personas en
            situaciones de crisis o con necesidades específicas.</p>

          <h3>Habilidades clave para la consejería pastoral</h3>
          <p>A lo largo del programa, desarrollarás habilidades críticas que te permitirán marcar una diferencia en tu
            ministerio y en la vida de aquellos a quienes sirves. Entre las habilidades más destacadas se encuentran:
          </p>
          <ul>
            <li><strong>Resolución de problemas y juicio crítico:</strong> Aplicarás principios bíblicos y psicológicos
              para abordar situaciones complejas.</li>
            <li><strong>Comunicación efectiva:</strong> Aprenderás a comunicarte de manera clara y compasiva, tanto
              verbalmente como por escrito.</li>
            <li><strong>Gestión de proyectos:</strong> Serás capaz de desarrollar y ejecutar programas de apoyo pastoral
              y consejería dentro de tu iglesia o ministerio.</li>
          </ul>

          <h3>Formación de clase mundial</h3>
          <p>Nuestro cuerpo académico incluye expertos en psicología clínica y consejería pastoral con experiencia
            internacional. Te beneficiarás de un programa que combina más de 50 años de investigación líder a nivel
            mundial en el ámbito de la psicología y la teología aplicada.</p>

          <h3>Red global de apoyo</h3>
          <p>Estudiarás junto a líderes cristianos de todo el mundo, creando conexiones que te ayudarán a crecer
            personal y profesionalmente. A través de nuestra plataforma de aprendizaje en línea, podrás participar en
            discusiones en tiempo real y colaborar en proyectos con colegas de diferentes culturas y contextos
            ministeriales.</p>

          <h3>Un enfoque transformador</h3>
          <p>La Maestría en Consejería Clínica Pastoral te permitirá adquirir una perspectiva integral sobre la salud
            mental y espiritual. Aprenderás a desarrollar programas de apoyo que impacten positivamente en tu comunidad,
            promoviendo el bienestar emocional y la restauración espiritual. Estarás equipado para abordar desafíos como
            el estrés, la ansiedad, la depresión, y problemas familiares dentro de un marco cristiano.</p>
          <p>Este programa está diseñado para ofrecer flexibilidad y profundidad, ayudándote a combinar tu llamado
            pastoral con las habilidades necesarias para proporcionar un apoyo efectivo y transformador en tu
            ministerio.</p>
        </div>
      </mat-tab>

      <mat-tab label="Información">
        <div class="bodyContent">

          <p>La Maestría en Consejería Clínica Pastoral está dirigida a pastores y líderes cristianos que buscan avanzar
            en su conocimiento y habilidades en consejería, combinando principios bíblicos con enfoques clínicos. Este
            programa ofrece una formación integral que prepara a los estudiantes para ofrecer apoyo emocional,
            psicológico y espiritual en sus comunidades. No se requiere haber cursado estudios previos en consejería o
            psicología para postularse, pero se recomienda contar con una base sólida en estudios teológicos o
            ministeriales.</p>

          <h3>Requisitos de Admisión</h3>
          <p>Para postularse a la Maestría en Consejería Clínica Pastoral, los solicitantes deben cumplir con los
            siguientes requisitos:</p>
          <ul>
            <li><strong>Transcripciones Académicas:</strong> Deben presentar las transcripciones oficiales de sus
              estudios universitarios previos.</li>
            <li><strong>Currículum Vitae o Hoja de Vida:</strong> Es necesario un CV actualizado que refleje la
              experiencia ministerial o profesional.</li>
            <li><strong>Declaración del Postulante:</strong> Los solicitantes deben redactar una declaración que
              explique sus motivos para realizar esta maestría, cómo planean aplicar lo aprendido en su ministerio, y
              qué los motiva a seguir una formación en consejería clínica pastoral.</li>
            <li><strong>Cartas de Recomendación:</strong> Se requieren dos cartas de recomendación de mentores,
              pastores, o líderes que puedan dar testimonio de su capacidad ministerial y aptitud para este programa.
            </li>
            <li><strong>Tarifa de Solicitud:</strong> El proceso de postulación incluye una tarifa no reembolsable.</li>
          </ul>

          <h3>Criterios de Selección</h3>
          <p>Los postulantes deben haber completado una licenciatura con un promedio académico mínimo de B o superior.
            Aunque no se exige que los solicitantes hayan cursado un programa de consejería o psicología previamente, se
            recomienda que tengan experiencia en liderazgo cristiano o trabajo pastoral. Aquellos con antecedentes en
            estudios teológicos o ministeriales serán considerados de manera preferencial.</p>

          <h3>Proceso de Postulación</h3>
          <p>El proceso de postulación es completamente en línea y puede completarse desde cualquier lugar del mundo.
            Para más información sobre los plazos de inscripción y detalles específicos sobre los requisitos de
            admisión, se recomienda revisar las instrucciones en la sección de admisiones del programa.</p>

          <p>Este enfoque garantiza que los candidatos tengan la preparación necesaria para tener éxito en la Maestría
            en Consejería Clínica Pastoral y para continuar con su desarrollo en el ministerio y el liderazgo cristiano.
          </p>
        </div>
      </mat-tab>

      <mat-tab label="Objetivos">
        <div class="bodyContent">

          <h3>Desarrollar habilidades en consejería pastoral</h3>
          <p>Los estudiantes adquirirán las competencias necesarias para brindar apoyo emocional, espiritual y
            psicológico, basándose en principios bíblicos y en la psicología clínica. Aprenderán a acompañar a
            individuos y familias en situaciones de crisis desde una perspectiva cristiana.</p>

          <h3>Integrar principios bíblicos con técnicas clínicas</h3>
          <p>El programa fomenta la integración de las enseñanzas bíblicas con los conocimientos de la psicología
            clínica para ofrecer una consejería más completa y efectiva en el ámbito ministerial y pastoral.</p>

          <h3>Fortalecer la capacidad para intervenir en crisis emocionales y espirituales</h3>
          <p>Los estudiantes aprenderán a intervenir de manera efectiva en crisis espirituales y emocionales, ofreciendo
            soluciones basadas en la combinación de fe y ciencia psicológica para ayudar a las personas a superar
            momentos difíciles.</p>

          <h3>Promover la salud mental dentro de las comunidades cristianas</h3>
          <p>El objetivo es preparar a los líderes y pastores para que promuevan la salud mental y el bienestar
            emocional dentro de sus comunidades, aplicando herramientas clínicas en la consejería cotidiana.</p>

          <h3>Formar líderes éticamente responsables</h3>
          <p>Los estudiantes serán equipados con una comprensión sólida de los principios éticos y morales aplicables a
            la consejería pastoral, ayudándolos a tomar decisiones éticamente correctas en su práctica profesional.</p>

          <h3>Preparar para la investigación y la enseñanza</h3>
          <p>A través de la tesis o el examen comprensivo, los estudiantes demostrarán su capacidad para investigar
            temas complejos relacionados con la consejería clínica pastoral, lo que les permitirá contribuir al avance
            del conocimiento en este campo o enseñar a otros.</p>

          <h3>Fomentar el crecimiento personal y ministerial</h3>
          <p>El programa busca no solo desarrollar habilidades profesionales, sino también fomentar el crecimiento
            personal de los pastores y líderes, ayudándolos a convertirse en consejeros más compasivos y efectivos en
            sus ministerios.</p>

          <p>Estos objetivos guiarán a los estudiantes en su formación integral, preparándolos para ser agentes de
            cambio dentro de sus comunidades, utilizando una mezcla equilibrada de espiritualidad y ciencia para ofrecer
            consejería efectiva.</p>
        </div>
      </mat-tab>

      <mat-tab label="Cursos">
        <div class="bodyContent">

          <app-accordion [accordionsData]="dataOverview" />

          <h3> Información curricular </h3>
          <app-accordion [accordionsData]="dataCurriculum" />

          <h3>Semestre 1 </h3>
          <app-accordion [accordionsData]="semester1" />

          <h3>Semestre 2 </h3>
          <app-accordion [accordionsData]="semester2" />

          <h3>Semestre 3 </h3>
          <app-accordion [accordionsData]="semester3" />

          <h3>Semestre 4 </h3>
          <app-accordion [accordionsData]="semester4" />

          <h3>Asignaturas Electivas</h3>
          <p><strong>Créditos de Electivas: 15</strong></p>
          <p><strong>Total de Créditos: 62</strong></p>

          <p>Las asignaturas electivas permiten a los estudiantes personalizar su formación en consejería clínica
            pastoral. Pueden elegir entre una variedad de cursos avanzados que complementen los principios de consejería
            pastoral y psicología clínica. Las electivas también pueden ser utilizadas para profundizar en áreas de
            interés específico. Si se seleccionan múltiples cursos dentro de la misma categoría, uno de ellos contará
            como electiva.</p>

          <p><strong>Nota:</strong> El programa puede completarse a tiempo parcial o completo. Todo el trabajo del
            curso, junto con la tesis o el examen comprensivo, debe completarse en un plazo máximo de cinco años.</p>

          <h3>Requisitos Adicionales del Programa</h3>
          <h3>Tesis de Maestría / Examen Comprensivo</h3>
          <p>Los estudiantes deben elegir entre completar una tesis de maestría o un examen comprensivo escrito para
            demostrar su dominio en las áreas clave de consejería clínica pastoral. Este requisito otorga un total de 6
            créditos.</p>


        </div>
      </mat-tab>

      <mat-tab label="Resumen">
        <div class="bodyContent">

          <p>La Maestría en Consejería Clínica Pastoral es un programa 100% en línea, diseñado específicamente para
            pastores y líderes cristianos que desean profundizar en el acompañamiento emocional y espiritual. Combina
            principios bíblicos con técnicas de psicología clínica, proporcionando una formación integral que capacita a
            los estudiantes para abordar crisis emocionales y espirituales en sus comunidades.</p>

          <h3>Créditos y Asignaturas</h3>
          <p>El programa consta de un total de 62 créditos, distribuidos entre asignaturas clave, optativas y electivas,
            lo que permite a los estudiantes personalizar su aprendizaje. Las asignaturas clave incluyen temas como:</p>
          <ul>
            <li>Consejería pastoral</li>
            <li>Psicología clínica</li>
            <li>Intervención en crisis</li>
            <li>Terapia familiar cristiana</li>
          </ul>
          <p>Las asignaturas electivas ofrecen la oportunidad de explorar áreas especializadas de interés.</p>

          <h3>Tesis o Examen Comprensivo</h3>
          <p>Al finalizar el programa, los estudiantes deben optar por realizar una tesis o un examen comprensivo, que
            les permitirá demostrar su dominio en los conceptos aprendidos. El programa está diseñado para completarse a
            tiempo parcial o completo, dentro de un plazo máximo de cinco años.</p>

          <h3>Objetivos del Programa</h3>
          <p>El objetivo principal es formar pastores y líderes éticamente responsables, capaces de integrar la fe y la
            ciencia en la consejería, promoviendo la salud mental y el bienestar dentro de sus comunidades. Además,
            prepara a los estudiantes para roles de liderazgo, enseñanza e investigación en el campo de la consejería
            pastoral.</p>

          <h3>Crecimiento Personal y Ministerial</h3>
          <p>Este programa no solo fortalece la práctica profesional, sino que también impulsa el crecimiento personal y
            ministerial, permitiendo a los graduados convertirse en agentes de cambio positivo dentro de sus
            congregaciones y más allá.</p>
        </div>
      </mat-tab>

      <mat-tab label="Requisitos">
        <div class="bodyContent">

          <p>Los solicitantes de la Maestría en Consejería Clínica Pastoral deben cumplir con una serie de requisitos
            que garantizan su preparación y capacidad para completar el programa con éxito. A continuación, se detallan
            los requisitos necesarios:</p>

          <h3>Transcripciones Académicas Oficiales</h3>
          <p>Se deben presentar las transcripciones académicas oficiales de todos los estudios de pregrado o programas
            de educación superior previamente cursados. El solicitante debe haber completado un programa de licenciatura
            o equivalente en cualquier disciplina con un promedio general mínimo de B o superior. No es necesario tener
            un título en consejería o psicología, aunque se valorarán positivamente estudios previos en áreas
            relacionadas con el ministerio, teología o ciencias humanas.</p>

          <h3>Currículum Vitae o Hoja de Vida</h3>
          <p>El solicitante debe proporcionar un currículum vitae actualizado que incluya su experiencia profesional y
            ministerial relevante, así como cualquier formación o capacitación en consejería pastoral, psicología o
            liderazgo dentro de la iglesia o en su comunidad. Este documento debe reflejar la trayectoria profesional y
            destacar las competencias adquiridas en el campo ministerial.</p>

          <h3>Declaración del Postulante</h3>
          <p>Esta declaración es una carta de motivación donde el solicitante debe explicar sus razones para aplicar a
            la Maestría en Consejería Clínica Pastoral. Debe incluir cómo el programa contribuirá a sus metas
            ministeriales y profesionales, y cómo planea aplicar los conocimientos adquiridos dentro de su comunidad o
            congregación. También debe demostrar un entendimiento claro de la importancia de integrar la consejería
            pastoral con los principios de la psicología clínica.</p>

          <h3>Cartas de Recomendación</h3>
          <p>Se requieren al menos dos cartas de recomendación de líderes ministeriales, pastores, o mentores que puedan
            dar fe de las capacidades del solicitante en el área de liderazgo, servicio pastoral y consejería. Las
            cartas deben abordar la idoneidad del candidato para el programa y su potencial para aplicar lo aprendido en
            un contexto práctico.</p>

          <h3>Experiencia Ministerial o de Liderazgo</h3>
          <p>Aunque no es un requisito formal, se recomienda que los solicitantes tengan al menos dos años de
            experiencia en un rol de liderazgo dentro de una iglesia o comunidad cristiana. Esta experiencia puede
            incluir actividades de consejería pastoral informal, enseñanza, predicación, o trabajo en programas de apoyo
            espiritual.</p>

          <h3>Entrevista Personal</h3>
          <p>En algunos casos, el comité de admisiones puede solicitar una entrevista personal o en línea con el
            solicitante. Esta entrevista tiene como objetivo evaluar el compromiso del postulante con el programa, su
            preparación académica y personal, así como su visión ministerial.</p>

          <h3>Tarifa de Solicitud</h3>
          <p>Todos los solicitantes deben pagar una tarifa de solicitud no reembolsable al momento de presentar su
            postulación. Esta tarifa cubre los costos administrativos relacionados con la revisión de la solicitud.</p>

          <h3>Conocimientos Previos Recomendados</h3>
          <p>Aunque no es obligatorio, se recomienda que los solicitantes hayan completado cursos previos en temas
            relacionados con la consejería pastoral, psicología, o estudios bíblicos. Estos conocimientos previos
            facilitarán la comprensión de los temas avanzados que se abordan en el programa.</p>

          <h3>Requisitos Académicos Durante el Programa</h3>
          <p>Una vez admitido en el programa, el estudiante debe cumplir con los siguientes requisitos académicos para
            completar la Maestría en Consejería Clínica Pastoral:</p>

          <ul>
            <li><strong>Créditos Totales:</strong> El estudiante debe completar un total de 62 créditos, distribuidos
              entre asignaturas clave, electivas y optativas.</li>
            <li><strong>Promedio General Mínimo:</strong> Se debe mantener un promedio general de B o superior en todas
              las asignaturas para poder avanzar en el programa y completar el trabajo final de tesis o examen
              comprensivo.</li>
            <li><strong>Tesis de Maestría o Examen Comprensivo:</strong> Al final del programa, los estudiantes deben
              elegir entre desarrollar una tesis de investigación (6 créditos) enfocada en la consejería pastoral o
              presentar un examen comprensivo que evalúe su dominio en las áreas clave del programa.</li>
            <li><strong>Modalidad de Estudio:</strong> El programa es 100% en línea y se puede completar a tiempo
              parcial o completo, según las necesidades del estudiante. Sin embargo, se requiere que todo el trabajo
              académico y el proyecto final (tesis o examen) se completen en un plazo máximo de cinco años.</li>
          </ul>

          <p>Estos requisitos aseguran que los estudiantes estén adecuadamente preparados tanto académica como
            espiritualmente para realizar el trabajo de consejería clínica pastoral en sus comunidades, combinando un
            enfoque bíblico con los principios de la psicología clínica.</p>
        </div>
        
      </mat-tab>

    </mat-tab-group>

  </div>

</main>