<app-banner class="fadeIn" [banner]="flyer" [alt]="alt" />
<mat-dialog-content>
  <main class="fadeIn">
    <h2>BACH-IBC-700 - Introducción a la consejería bíblica</h2>

    <div class="line"></div>

    <div class="content fadeIn">
      <p>
        Este curso proporciona una formación integral en los fundamentos
        teológicos y metodológicos de la consejería cristiana, equipando a los
        estudiantes con las herramientas necesarias para brindar apoyo
        espiritual y emocional basado en las Escrituras.
      </p>

      <h3>Objetivos del curso:</h3>
      <ul>
        <li>
          <strong>Fundamentos de la consejería bíblica:</strong> Los estudiantes
          explorarán los principios esenciales que sustentan la consejería
          cristiana, comprendiendo el rol fundamental de la Palabra de Dios como
          guía en la orientación pastoral.
        </li>
        <li>
          <strong
            >El papel del Espíritu Santo en la transformación personal:</strong
          >
          Se estudiará cómo el Espíritu Santo juega un papel clave en la
          transformación espiritual y emocional de los individuos, promoviendo
          el crecimiento en la fe y el bienestar integral.
        </li>
        <li>
          <strong>Aplicación práctica de las Escrituras:</strong> Se abordarán
          estrategias para aplicar las enseñanzas bíblicas en situaciones de
          conflicto, restauración de relaciones y fortalecimiento de la fe,
          ofreciendo soluciones prácticas para acompañar a las personas en
          crisis.
        </li>
        <li>
          <strong>Apoyo en áreas emocionales críticas:</strong> Los estudiantes
          aprenderán a brindar apoyo en áreas específicas como el duelo, la
          ansiedad, la depresión, y cómo acompañar a aquellos que enfrentan
          desafíos emocionales y espirituales significativos.
        </li>
        <li>
          <strong>Desarrollo de habilidades de consejería:</strong> El curso
          proporcionará herramientas para desarrollar habilidades de escucha
          activa, empatía y discernimiento espiritual, necesarias para guiar a
          otros con amor, sabiduría y verdad bíblica.
        </li>
      </ul>

      <h3>Metodología:</h3>
      <p>
        El curso combinará enseñanza teórica con ejercicios prácticos,
        utilizando estudios de caso, simulaciones de consejería y debates en
        línea. Los estudiantes practicarán sus habilidades de escucha y
        acompañamiento a través de interacciones en situaciones simuladas,
        fomentando el aprendizaje experiencial.
      </p>

      <h3>Evaluación:</h3>
      <p>
        La evaluación será continua e incluirá la participación en discusiones y
        simulaciones de consejería, la elaboración de un proyecto práctico donde
        los estudiantes demuestren sus habilidades en la aplicación de los
        principios aprendidos, y un examen final que evalúe tanto el
        conocimiento teórico como las habilidades prácticas en consejería
        cristiana.
      </p>
    </div>
  </main>
</mat-dialog-content>

<app-footer-modal />
