<app-banner class="fadeIn" [banner]="flyer" [alt]="alt" />
<mat-dialog-content>
  <main class="fadeIn">
    <h2>MAMH-IC-1100 - Intercultural Counseling</h2>

    <div class="line"></div>

    <div class="content fadeIn">
      <p>
        The course <span>MAMH-IC-1100 - Intercultural Counseling</span> examines
        how individual behavior and experience are influenced by culture and
        intersectionality. Students will increase their self-awareness and learn
        to apply counseling theories and techniques in diverse cultural
        contexts, enhancing their skills to work with populations from different
        backgrounds.
      </p>

      <h3>Course Objectives:</h3>
      <ul>
        <li>
          Understand the influence of culture on individual experience and
          behavior.
        </li>
        <li>
          Develop cultural sensitivity and competence in counseling practice.
        </li>
        <li>Apply counseling theories in multicultural contexts.</li>
        <li>
          Identify challenges and opportunities in intercultural counseling.
        </li>
        <li>Promote inclusion and equity in professional practice.</li>
      </ul>

      <h3>Main Topics:</h3>
      <ul>
        <li>Key concepts of intercultural counseling.</li>
        <li>Impact of culture and identity in the counseling process.</li>
        <li>Intersectionality and diversity in working with clients.</li>
        <li>Challenges and strategies in intercultural communication.</li>
        <li>
          Culturally sensitive therapeutic approaches and intervention models.
        </li>
        <li>
          Ethics and professional responsibility in intercultural counseling.
        </li>
      </ul>

      <h3>Methodology:</h3>
      <p>
        The course is conducted through case analysis, studies on cultural
        diversity, counseling simulations, and forum discussions. Experiential
        learning and critical reflection on the role of culture in counseling
        practice are emphasized.
      </p>

      <h3>Assessment:</h3>
      <p>Course assessment will include:</p>
      <ul>
        <li>Exams on intercultural counseling theories.</li>
        <li>Case analysis on cultural diversity in counseling.</li>
        <li>
          Development of strategies for intervention in multicultural contexts.
        </li>
        <li>
          Written reflections on cultural identity and professional practice.
        </li>
        <li>Participation in debates on inclusion and equity in counseling.</li>
      </ul>

      <h3>Importance of the Course:</h3>
      <p>
        In an increasingly diverse world, the ability to offer culturally
        sensitive counseling is essential. This course prepares students to
        understand and address the needs of individuals from different
        backgrounds, promoting inclusive and equitable professional practice.
      </p>
    </div>
  </main>
</mat-dialog-content>

<app-footer-modal />
