<app-banner class="fadeIn" [banner]="flyer" [alt]="alt" />

<main class="pages">
  <div class="content fadeIn">
    <!--
    <app-breadcams />

    <h2> Doctorado en Ciencias en Estudios Bíblicos </h2>
    <div class="line"></div> -->

    <mat-tab-group dynamicHeight>
      <mat-tab label="Presentación">
        <div class="bodyContent">
          <p>
            El Doctorado en Ciencia en Estudios Bíblicos de World Theology
            University es una puerta hacia un nivel más profundo de comprensión
            y análisis de las Escrituras, diseñado para aquellos que desean
            contribuir significativamente al estudio y enseñanza de los textos
            bíblicos. Este programa, completamente en línea y acreditado a nivel
            nacional por la , se distingue por su enfoque riguroso y flexible,
            ofreciendo a los estudiantes la posibilidad de realizar
            investigaciones innovadoras desde cualquier parte del mundo.
          </p>
          <p>
            El programa está especialmente dirigido a aquellos con una pasión
            por la enseñanza y la investigación en la educación teológica
            superior. Si deseas profundizar en las verdades bíblicas del Antiguo
            y el Nuevo Testamento, y al mismo tiempo desarrollar habilidades
            para escribir, investigar y presentar tus descubrimientos de manera
            profesional, este programa es para ti. A lo largo del programa,
            recibirás mentoría personalizada y apoyo académico constante, lo que
            te permitirá crecer tanto en el ámbito académico como en el personal
            y espiritual.
          </p>

          <h3>
            Guía Completa de Cursos y Requisitos para la Disertación en el
            Doctorado de Estudios Bíblicos
          </h3>
          <div class="mt-1"></div>
          <app-accordion [accordionsData]="coursesData" />

          <h3>Preguntas frecuentes</h3>
          <div class="mt-1"></div>
          <app-accordion [accordionsData]="faqsData" />
        </div>
      </mat-tab>

      <mat-tab label="Información">
        <div class="bodyContent">
          <h3>Información</h3>
          <p>
            El programa de Doctorado en Ciencia en Estudios Bíblicos tiene una
            duración aproximada de 36 meses y requiere la finalización de 45
            horas de crédito. Todo el contenido es accesible en línea, lo que
            significa que no tendrás que trasladarte ni asistir presencialmente
            a un campus. Esto permite a los estudiantes equilibrar sus estudios
            con otras responsabilidades personales y profesionales, brindando
            una experiencia educativa flexible pero rigurosa.
          </p>
          <p>
            A lo largo del programa, tendrás la oportunidad de trabajar en
            estrecha colaboración con un mentor que te guiará en tu
            investigación y en la redacción de tu disertación doctoral. Este
            acompañamiento personalizado te ayudará a profundizar en temas clave
            de los Estudios Bíblicos, mientras te prepara para compartir tus
            descubrimientos con la comunidad académica y más allá.
          </p>
          <ul>
            <li>
              <strong>Duración del programa:</strong> El doctorado se puede
              completar en un plazo de hasta 36 meses, dependiendo del progreso
              del estudiante en su investigación.
            </li>
            <li>
              <strong>Créditos requeridos:</strong> Se requieren 45 horas de
              crédito que se distribuyen entre cursos avanzados en estudios
              bíblicos y competencias en lenguajes de investigación.
            </li>
            <li>
              <strong>Modalidad:</strong> Todo el programa se ofrece de manera
              completamente en línea, permitiendo la participación desde
              cualquier parte del mundo.
            </li>
            <li>
              <strong>Acreditación:</strong> El programa está acreditado por la
              Asociación de Escuelas Teológicas , lo que garantiza la calidad y
              el reconocimiento de los estudios.
            </li>
          </ul>
        </div>
      </mat-tab>

      <mat-tab label="Objetivos">
        <div class="bodyContent">
          <p>
            El Doctorado en Estudios Bíblicos de World Theology University tiene
            como meta principal formar académicos altamente capacitados que
            puedan contribuir de manera significativa al campo de los estudios
            bíblicos y a la educación teológica superior. Estos son algunos de
            los objetivos clave que el programa busca alcanzar:
          </p>
          <ul>
            <li>
              **Desarrollar competencias avanzadas en investigación:** Los
              estudiantes serán capacitados en métodos rigurosos de
              investigación académica que les permitirán explorar las Escrituras
              desde una perspectiva crítica e innovadora. Esto les ayudará a
              producir investigaciones originales y significativas.
            </li>
            <li>
              **Profundizar en la comprensión de las Escrituras:** El programa
              está diseñado para ofrecer un enfoque integral y profundo sobre la
              autoridad funcional de las Escrituras. Los estudiantes explorarán
              cómo aplicar y contextualizar las enseñanzas bíblicas en diversos
              contextos académicos y prácticos.
            </li>
            <li>
              **Fomentar la excelencia en la enseñanza:** Además de preparar a
              los estudiantes como investigadores, el programa también les
              brinda las herramientas necesarias para enseñar de manera efectiva
              en instituciones académicas. Desarrollarán habilidades pedagógicas
              que les permitirán guiar a las futuras generaciones en su
              formación teológica.
            </li>
            <li>
              **Contribuir al conocimiento teológico:** Los egresados del
              programa serán capaces de aportar nuevas ideas y perspectivas al
              campo de los estudios bíblicos a través de publicaciones,
              conferencias y otros medios académicos.
            </li>
            <li>
              **Preparar líderes académicos:** El programa forma a sus
              estudiantes para que asuman roles de liderazgo en instituciones
              educativas y teológicas, tanto a nivel nacional como
              internacional.
            </li>
          </ul>
        </div>
      </mat-tab>

      <mat-tab label="Cursos">
        <div class="bodyContent">
          <p>
            El Doctorado en Filosofía en Estudios Bíblicos de World Theology
            University ofrece un plan de estudios cuidadosamente diseñado para
            equipar a los estudiantes con las habilidades necesarias para la
            investigación avanzada y el análisis profundo de las Escrituras. A
            lo largo del programa, los estudiantes participarán en cursos que
            abarcan desde cuestiones metodológicas hasta el desarrollo de
            competencias en lenguas bíblicas y de investigación, lo que les
            preparará para redactar una disertación de alto nivel académico.
          </p>

          <ul>
            <li>
              <strong
                >DPHBIWU 4100 Cuestiones y Métodos en Estudios Bíblicos (3.00
                horas crédito):</strong
              >
              Explora temas contemporáneos en los estudios del Antiguo y Nuevo
              Testamento, revisando los avances en hebreo y griego, así como los
              métodos clave de interpretación bíblica. Los estudiantes
              identificarán un tema relacionado con su disertación y lo
              investigarán a fondo.
            </li>

            <li>
              <strong
                >DPHBIWU 4200 Principios de Enseñanza, Aprendizaje y Diseño de
                Cursos (3.00 horas crédito):</strong
              >
              Revisa las perspectivas bíblicas sobre la enseñanza y el
              aprendizaje, con un enfoque en la educación para adultos. Los
              estudiantes aprenderán a diseñar cursos que faciliten el
              aprendizaje y aplicarán estas habilidades a la creación de un
              curso relacionado con su disertación.
            </li>

            <li>
              <strong
                >DPHBIWU 4400 Propuesta de Disertación en Estudios Bíblicos
                (3.00 horas crédito):</strong
              >
              Este curso prepara a los estudiantes para redactar su propuesta de
              disertación. A través de la investigación bibliográfica guiada,
              aprenderán a desarrollar un problema de investigación, identificar
              métodos adecuados, y escribir una propuesta doctoral que será
              evaluada por un comité.
            </li>

            <li>
              <strong
                >BLG 4340 Competencia en Lenguas Bíblicas (0.00 horas
                crédito):</strong
              >
              Los estudiantes deben demostrar competencia en hebreo o griego, lo
              que será evaluado por el cuerpo docente de estudios bíblicos.
            </li>

            <li>
              <strong
                >DPHBIWU 4401-4405 Investigación y Redacción de Disertación I-V
                en Estudios Bíblicos (3-6 horas crédito cada uno,
                repetibles):</strong
              >
              Estos cursos representan la fase de investigación y redacción de
              la disertación. Los estudiantes trabajarán bajo la supervisión de
              un profesor para redactar una disertación de entre 40,000 y
              110,000 palabras. A medida que progresan, continuarán refinando y
              completando su trabajo de investigación.
            </li>

            <li>
              <strong
                >DPHBIWU 4406 Revisión y Defensa de Disertación (3.00 horas
                crédito):</strong
              >
              Una vez completada la disertación, los estudiantes defenderán su
              trabajo ante un comité de evaluación. Este proceso incluye la
              revisión exhaustiva del contenido y una defensa oral ante un panel
              de expertos.
            </li>

            <li>
              <strong
                >RES 4340 Competencia en Lengua de Investigación I (0.00 horas
                crédito):</strong
              >
              Los estudiantes deben demostrar competencia en una lengua de
              investigación relacionada con su disertación, lo que les permitirá
              acceder a la literatura académica más relevante para su tema.
            </li>

            <li>
              <strong
                >RES 1321 Competencia en Lengua de Investigación II (0.00 horas
                crédito):</strong
              >
              Además de la primera lengua de investigación, los estudiantes
              deberán demostrar competencia en una segunda lengua, que les
              proporcionará una comprensión aún mayor de los textos relevantes
              para su disertación.
            </li>
          </ul>

          <p>
            A través de estos cursos, los estudiantes no solo desarrollarán
            habilidades técnicas y metodológicas avanzadas, sino que también
            recibirán una formación completa que les permitirá hacer una
            contribución significativa al campo de los estudios bíblicos.
          </p>
        </div>
      </mat-tab>

      <mat-tab label="Resumen">
        <div class="bodyContent">
          <p>
            El Doctorado en Ciencia en Estudios Bíblicos de World Theology
            University ofrece una experiencia educativa completa, con un enfoque
            en la investigación profunda y el crecimiento académico. Los
            estudiantes tienen la oportunidad de participar en discusiones
            académicas avanzadas, tanto en formato sincrónico como asincrónico,
            lo que fomenta un ambiente de aprendizaje colaborativo. A lo largo
            del programa, recibirás apoyo continuo no solo de tu mentor, sino
            también de tus compañeros, lo que enriquecerá aún más tu experiencia
            de aprendizaje.
          </p>
          <p>
            Este programa no solo te prepara para realizar investigaciones
            originales y contribuir a la comunidad académica, sino que también
            te forma como un educador completo, listo para impactar
            positivamente en la educación teológica superior. Con tres áreas de
            concentración disponibles—Estudios Bíblicos, Estudios Teológicos y
            Teología Práctica—el programa ofrece una amplia gama de
            oportunidades para especializarse en el área de tu interés.
          </p>
          <p>
            La modalidad en línea permite que los estudiantes continúen sus
            estudios sin interrumpir sus vidas profesionales o personales. Esta
            flexibilidad es especialmente valiosa para aquellos que buscan
            avanzar en sus carreras mientras obtienen un título doctoral
            reconocido internacionalmente.
          </p>
        </div>
      </mat-tab>

      <mat-tab label="Requisitos">
        <div class="bodyContent">
          <h3>Requisitos de Admisión</h3>
          <p>
            Para ser admitido en el programa de Doctorado en Ciencia en Estudios
            Bíblicos de World Theology University, es necesario cumplir con los
            siguientes requisitos:
          </p>
          <ul>
            <li>
              <strong>Solicitud en línea:</strong> Debes completar un formulario
              de solicitud en línea proporcionando tus datos personales y
              académicos.
            </li>
            <li>
              <strong>Transcripciones oficiales:</strong> Se deben enviar las
              transcripciones oficiales de todas las instituciones académicas
              previas, demostrando un historial académico sólido en estudios de
              posgrado.
            </li>
            <li>
              <strong>Título de PDrTh completado:</strong> Se requiere haber
              completado un título de PDrTh (PhD en Teología) con un promedio
              mínimo de 3.5.
            </li>
            <li>
              <strong>Trabajo de investigación:</strong> Debes presentar un
              trabajo de investigación relevante, de entre 20 y 24 páginas, que
              demuestre tu capacidad para realizar investigaciones académicas de
              alto nivel.
            </li>
            <li>
              <strong>Tema de investigación propuesto:</strong> Presenta un tema
              de investigación anticipado en una página, acompañado de una
              bibliografía preliminar.
            </li>
            <li>
              <strong>Referencias académicas:</strong> Dos cartas de
              recomendación de académicos que puedan hablar de tus habilidades y
              competencias en investigación y enseñanza.
            </li>
            <li>
              <strong>Entrevista:</strong> Los candidatos seleccionados serán
              entrevistados por el comité de admisiones para evaluar su aptitud
              para el programa.
            </li>
            <li>
              <strong>Requisitos internacionales:</strong> Los estudiantes
              internacionales deben cumplir con requisitos adicionales, como
              pruebas de dominio del idioma en el cual se va a dictar la clase,
              en caso de ser necesario.
            </li>
          </ul>
        </div>
      </mat-tab>

      <mat-tab label="Beneficios">
        <div class="bodyContent">
          <h3>
            Beneficios de estudiar esta carrera en World Theology University
          </h3>
          <p>
            Estudiar el Doctorado en Ciencia en Estudios Bíblicos en World
            Theology University ofrece numerosos beneficios que enriquecen la
            experiencia académica y profesional de los estudiantes. Entre los
            más destacados se encuentran:
          </p>
          <ul>
            <li>
              <strong>Modalidad 100% en línea:</strong> El programa ofrece total
              flexibilidad, permitiéndote estudiar desde cualquier parte del
              mundo sin la necesidad de trasladarte. Esto es ideal para quienes
              buscan combinar sus estudios con otras responsabilidades laborales
              o personales.
            </li>
            <li>
              <strong>Acreditación de calidad:</strong> World Theology
              University cuenta con la acreditación de la Asociación de Escuelas
              Teológicas , lo que garantiza un alto estándar académico y el
              reconocimiento internacional de tu título.
            </li>
            <li>
              <strong>Mentoría personalizada:</strong> Cada estudiante tiene
              acceso a un mentor dedicado, un experto en su campo que guiará su
              investigación y desarrollo académico, proporcionando orientación
              personalizada a lo largo del programa.
            </li>
            <li>
              <strong>Enfoque en la investigación avanzada:</strong>
              Desarrollarás habilidades de investigación y escritura académica
              de alto nivel que te prepararán para realizar aportes
              significativos al campo de los Estudios Bíblicos y a la educación
              teológica superior.
            </li>
            <li>
              <strong>Oportunidades de especialización:</strong> Tendrás la
              oportunidad de enfocarte en áreas específicas dentro de los
              Estudios Bíblicos, como el Antiguo y Nuevo Testamento, lenguajes
              bíblicos, teología y hermenéutica, lo que te permitirá
              personalizar tu aprendizaje de acuerdo a tus intereses académicos.
            </li>
            <li>
              <strong>Comunidad académica colaborativa:</strong> A pesar de la
              modalidad en línea, serás parte de una comunidad académica
              internacional donde podrás participar en discusiones y
              colaboraciones con compañeros y profesores, enriqueciendo tu
              experiencia educativa.
            </li>
            <li>
              <strong>Costo competitivo:</strong> El programa ofrece una
              matrícula asequible que puede ser hasta un 50% más baja que la de
              otros programas doctorales de seminarios, incluyendo el costo de
              los libros de texto, lo que representa un ahorro significativo.
            </li>
            <li>
              <strong>Duración accesible:</strong> El doctorado se puede
              completar en tan solo 36 meses, permitiéndote obtener tu título en
              un período razonable sin sacrificar la calidad del aprendizaje.
            </li>
          </ul>
          <p>
            Estos beneficios hacen del Doctorado en Estudios Bíblicos en World
            Theology University una opción atractiva para quienes buscan avanzar
            en sus estudios teológicos y académicos, mientras disfrutan de la
            flexibilidad y calidad que la educación en línea puede ofrecer.
          </p>
        </div>
      </mat-tab>
    </mat-tab-group>
  </div>
</main>
