<app-banner class="fadeIn" [banner]="flyer" [alt]="alt" />
<mat-dialog-content>
  <main class="fadeIn">
    <h2>MACC-CC-1300 - Consejería en Crisis</h2>
    <div class="line"></div>

    <div class="content fadeIn">
      <p>
        <span>Consejería en Crisis</span> proporciona formación en técnicas
        eficaces para intervenir en crisis emocionales y espirituales. El curso
        cubre cómo apoyar a individuos experimentando eventos traumáticos como
        dolor, ansiedad, ideación suicida o conflictos familiares.
      </p>

      <h3>Objetivos del curso:</h3>
      <ul>
        <li>
          Identificar los diferentes tipos de crisis psicológica y espiritual.
        </li>
        <li>Aplicar modelos de intervención en crisis.</li>
        <li>
          Desarrollar habilidades de escucha empática y respuesta inmediata.
        </li>
        <li>Entender el impacto del trauma en la salud emocional.</li>
        <li>
          Proveer apoyo breve y referencias apropiadas cuando sea necesario.
        </li>
      </ul>

      <h3>Temas principales:</h3>
      <ul>
        <li>
          Teoría y modelos de intervención en crisis (e.g., Modelo ABC de
          Intervención en Crisis).
        </li>
        <li>Manejo de dolor, trauma y pérdida repentina.</li>
        <li>Ansiedad y respuestas de pánico.</li>
        <li>Dimensiones espirituales de la consejería en crisis.</li>
        <li>Consideraciones éticas y culturales en situaciones de crisis.</li>
      </ul>

      <h3>Método de enseñanza:</h3>
      <p>
        Este curso incluye lecciones, simulaciones de role-playing, análisis de
        casos, diarios reflexivos y discusiones de grupo para desarrollar
        habilidades aplicadas en consejería en crisis.
      </p>

      <h3>Calificación:</h3>
      <p>Los estudiantes serán evaluados a través de:</p>
      <ul>
        <li>
          Exámenes escritos sobre teoría y técnicas de intervención en crisis.
        </li>
        <li>Simulaciones de intervención y feedback.</li>
        <li>Análisis de casos y planes de intervención.</li>
        <li>Reflexiones personales sobre trauma y recuperación.</li>
      </ul>

      <h3>Importancia del curso:</h3>
      <p>
        Este curso prepara a los estudiantes para responder de manera efectiva a
        individuos en situación de desesperación, ayudando a estabilizar la
        salud emocional y espiritual durante situaciones de crisis aguda, y
        formando la base para el recuperación a largo plazo.
      </p>
    </div>
  </main>
</mat-dialog-content>

<app-footer-modal />
