<app-banner class="fadeIn" [banner]="flyer" [alt]="alt" />
<mat-dialog-content>
  <main class="fadeIn">
    <h2>MATH-AAAT-803 - African and African American Theology</h2>

    <div class="line"></div>

    <div class="content fadeIn">
      <p><span>African and African American Theology</span> examines theological expressions rooted in African and African American experiences, highlighting how faith, culture, and resistance shaped theology addressing issues of oppression, justice, and liberation.</p>

      <h3>Course Objectives:</h3>
      <ul>
        <li>Study historical and cultural roots of African and African American theology.</li>
        <li>Analyze contributions of key theological figures.</li>
        <li>Explore the relationship between Christianity and African traditions.</li>
        <li>Reflect on the impact of racism and oppression on theological development.</li>
      </ul>

      <h3>Main Topics:</h3>
      <ul>
        <li>Historical and cultural foundations of African theological thought.</li>
        <li>Theology of resistance and liberation.</li>
        <li>Christian faith and African traditional beliefs.</li>
        <li>African and African American liberation theology.</li>
      </ul>

      <h3>Methodology:</h3>
      <p>The course involves readings, case studies, text analysis, and discussions on key thinkers and historical experiences of African and African American communities.</p>

      <h3>Assessment:</h3>
      <ul>
        <li>Essay on African traditions in Christian theology.</li>
        <li>Presentation on an influential African or African American theologian.</li>
        <li>Research project on slavery's impact on Christian thought.</li>
      </ul>

      <h3>Importance of the Course:</h3>
      <p>Essential for understanding how faith intertwines with social justice and cultural identity, offering a theological response to historical and contemporary oppression.</p>
    </div>
  </main>
</mat-dialog-content>
<app-footer-modal />
