<app-banner class="fadeIn" [banner]="flyer" [alt]="alt" />
<mat-dialog-content>
  <main class="fadeIn">
    <h2>MATH-TCS-309 - Theology of the Cross and Suffering</h2>

    <div class="line"></div>

    <div class="content fadeIn">
      <p><span>Theology of the Cross and Suffering</span> is a course that explores the theological understanding of human suffering in light of Christ's cross. The course examines how suffering is addressed in the Bible and how the cross of Christ becomes the center of the redemption of suffering. The theological and spiritual meanings of human suffering are studied, and how pain and adversity are redeemed through Jesus' sacrifice. Students will reflect on the relationship between the cross and suffering in Christian life and its relevance in the contemporary world.</p>

      <h3>Course Objectives:</h3>
      <ul>
        <li>Understand the theology of suffering and its relationship with the cross of Christ.</li>
        <li>Study the meaning of human suffering in the biblical context.</li>
        <li>Analyze how the cross of Christ redeems suffering and adversity.</li>
        <li>Explore the impact of suffering in Christian life and the understanding of salvation.</li>
        <li>Reflect on the implications of suffering in the contemporary world, especially in pastoral contexts.</li>
      </ul>

      <h3>Main Topics:</h3>
      <ul>
        <li>Suffering in the Old Testament: The promise of redemption.</li>
        <li>The cross of Christ as the center of the theology of suffering.</li>
        <li>The suffering of Jesus and its theological meaning: Theology of atonement.</li>
        <li>Suffering in Christian life: Participation in the suffering of Christ.</li>
        <li>Suffering in the contemporary world: Pastoral and theological challenges.</li>
      </ul>

      <h3>Methodology:</h3>
      <p>The course will be taught through reading key theological texts, biblical studies on suffering and the cross, and in-class debates on how Christians can face suffering in light of Christ's cross. Students will be challenged to integrate these teachings into their pastoral life and understanding of human suffering.</p>

      <h3>Assessment:</h3>
      <ul>
        <li>Essays on the theology of suffering and the cross.</li>
        <li>Presentations on the pastoral application of the theology of suffering.</li>
        <li>Exams on suffering in the Bible and Christian life.</li>
        <li>Personal reflection on suffering and the cross in today's context.</li>
      </ul>

      <h3>Importance of the Course:</h3>
      <p>This course is essential for those seeking a deep understanding of the theology of suffering, especially through Jesus' sacrifice on the cross. Students will be able to apply these insights practically in pastoral ministry, helping those facing difficulties and challenges in their lives.</p>
    </div>
  </main>
</mat-dialog-content>
<app-footer-modal />
