<app-banner class="fadeIn" [banner]="flyer" [alt]="alt" />
<mat-dialog-content>
  <main class="fadeIn">
    <h2>BACH-CII-10- Comunicación e interacción intercultural</h2>
    <div class="line"></div>

    <div class="content fadeIn">
      <p>
        Este curso es una oportunidad integral para adquirir una comprensión
        profunda de las estrategias de comunicación necesarias para interactuar
        de manera efectiva en entornos multiculturales y globalizados, elementos
        esenciales para el trabajo en capellanía. El curso está diseñado para
        equipar a los estudiantes con las herramientas teóricas y prácticas
        necesarias para abordar los desafíos de la comunicación intercultural en
        contextos diversos, como hospitales, prisiones, comunidades religiosas y
        otros entornos sociales que involucren a personas de diferentes orígenes
        culturales, lingüísticos y religiosos.
      </p>

      <h3>Objetivos del curso:</h3>
      <p>
        Al finalizar el curso, los estudiantes serán capaces de aplicar
        estrategias de comunicación intercultural que les permitan desempeñar su
        labor pastoral en una variedad de contextos. El curso se enfoca en los
        siguientes objetivos:
      </p>
      <ol>
        <li>
          <strong
            >Comprensión de las teorías de la comunicación
            intercultural:</strong
          >
          Los estudiantes explorarán las principales teorías que fundamentan la
          comunicación en contextos multiculturales, incluyendo modelos de
          comunicación de alto y bajo contexto, y aprenderán cómo estos afectan
          la interpretación y la recepción de mensajes espirituales en diversos
          entornos.
        </li>
        <li>
          <strong>Desarrollo de competencias en percepción cultural:</strong> Se
          estudiará cómo las percepciones culturales impactan las relaciones
          humanas y la manera en que los individuos interpretan y responden a
          los mensajes, y se proporcionarán herramientas para gestionar estas
          percepciones en un contexto capellánico.
        </li>
        <li>
          <strong>Semiótica aplicada a la comunicación religiosa:</strong> Este
          aspecto del curso profundiza en el uso de signos y símbolos en la
          comunicación religiosa. Los estudiantes aprenderán cómo los símbolos
          espirituales pueden tener significados diferentes según el contexto
          cultural y cómo adaptarlos para ser más efectivos y respetuosos con
          las creencias de las personas a las que sirven.
        </li>
        <li>
          <strong>Gestión de conflictos interculturales:</strong> El curso
          incluirá estrategias para resolver y manejar conflictos culturales y
          éticos que puedan surgir en situaciones de capellanía. Los estudiantes
          aprenderán a identificar las fuentes de conflicto y a aplicar
          principios de mediación y resolución pacífica en entornos diversos.
        </li>
        <li>
          <strong
            >Adaptación del mensaje espiritual a contextos
            sociolingüísticos:</strong
          >
          Los estudiantes explorarán cómo el lenguaje y las costumbres sociales
          afectan la forma en que se recibe y se interpreta el mensaje
          espiritual. Aprenderán a adaptar sus mensajes, sermones y consejos
          para ser culturalmente relevantes y comprensibles en comunidades con
          diferentes lenguas y tradiciones.
        </li>
        <li>
          <strong>Modelos de diálogo interreligioso:</strong> En este módulo, se
          analizarán los principios y modelos de diálogo interreligioso que
          fomentan el respeto mutuo, la comprensión y la colaboración entre
          personas de diferentes religiones. Los estudiantes aprenderán a ser
          facilitadores de este tipo de diálogos, esenciales en un mundo diverso
          y globalizado.
        </li>
        <li>
          <strong
            >Impacto de valores, creencias y normas culturales en la interacción
            pastoral:</strong
          >
          Los estudiantes aprenderán cómo los valores, creencias y normas
          culturales influyen en las prácticas religiosas y en las interacciones
          pastorales. Se discutirá la importancia de reconocer y respetar estos
          factores al ofrecer acompañamiento espiritual.
        </li>
      </ol>

      <h3>Metodología:</h3>
      <p>
        El curso empleará una variedad de metodologías activas, incluyendo
        estudios de caso, simulaciones de comunicación intercultural,
        discusiones en línea y análisis de situaciones reales. Los estudiantes
        tendrán la oportunidad de reflexionar sobre su propia identidad cultural
        y cómo esta influye en su práctica de la capellanía, promoviendo un
        aprendizaje experiencial que los capacitará para abordar los retos que
        enfrentan en el campo pastoral.
      </p>

      <h3>Evaluación:</h3>
      <p>
        La evaluación del curso será continua, y se basará en la participación
        activa en las discusiones, la realización de proyectos prácticos y
        estudios de caso, así como en un examen final que evaluará el
        conocimiento de los conceptos y la aplicación de estrategias de
        comunicación intercultural en contextos capellánicos. Los estudiantes
        también deberán demostrar habilidades prácticas en la adaptación de su
        mensaje espiritual a diferentes contextos culturales y lingüísticos.
      </p>

      <p>
        Este curso es una parte esencial de la Licenciatura en Ciencias en
        Capellanía, pues permite a los futuros capellanes estar preparados para
        servir a comunidades diversas y globalizadas. Al finalizar, los
        estudiantes estarán mejor equipados para interactuar eficazmente con
        personas de distintas culturas, etnias y religiones, lo que les
        permitirá desempeñar su rol con sensibilidad, respeto y eficacia en un
        mundo interconectado.
      </p>
    </div>
  </main>
</mat-dialog-content>

<app-footer-modal />