<app-banner class="fadeIn" [banner]="flyer" [alt]="alt" />
<mat-dialog-content>
  <main class="fadeIn">
    <h2>MACC-HD-300 - Desarrollo humano</h2>
    <div class="line"></div>

    <div class="content fadeIn">
      <p>
        <span>Desarrollo humano</span> explora las etapas físicas, cognitivas,
        emocionales y sociales de crecimiento humano desde la infancia hasta la
        edad adulta. Los estudiantes adquirirán insights sobre cómo los
        individuos evolucionan a lo largo de la vida y los factores que
        influencian el desarrollo.
      </p>

      <h3>Objetivos del curso:</h3>
      <ul>
        <li>
          Entender las etapas clave del desarrollo humano desde la infancia
          hasta el adulto mayor.
        </li>
        <li>
          Identificar las influencias biológicas, psicológicas y sociales en el
          desarrollo.
        </li>
        <li>Examinar las principales teorías del desarrollo y su aplicación.</li>
        <li>
          Analizar los desafíos y logros del desarrollo en diferentes etapas
          de la vida.
        </li>
        <li>
          Explorar el impacto de la cultura, el ambiente y la familia en el
          crecimiento humano.
        </li>
      </ul>

      <h3>Temas principales:</h3>
      <ul>
        <li>
          Teorías del desarrollo humano (ej., Piaget, Erikson, Vygotsky).
        </li>
        <li>
          Desarrollo físico y cognitivo en la niñez y adolescencia.
        </li>
        <li>Desarrollo emocional y social a lo largo de la vida.</li>
        <li>Desarrollo adulto y envejecimiento.</li>
        <li>Muerte, proceso de morir y duelo.</li>
      </ul>

      <h3>Metodología:</h3>
      <p>
        El curso incluye conferencias, materiales audiovisuales, discusiones
        grupales, estudios de casos y actividades de reflexión. Los estudiantes
        aplicarán conocimientos teóricos a escenarios de la vida real y
        revisiones de casos de desarrollo.
      </p>

      <h3>Evaluación:</h3>
      <p>La evaluación se basará en:</p>
      <ul>
        <li>Exámenes sobre etapas y teorías del desarrollo.</li>
        <li>
          Proyectos de investigación sobre grupos etarios específicos o
          desafíos del desarrollo.
        </li>
        <li>Presentaciones en clase y participación en discusiones.</li>
        <li>
          Reflexiones escritas sobre experiencias de desarrollo personales u
          observadas.
        </li>
      </ul>

      <h3>Importancia del curso:</h3>
      <p>
        Este curso proporciona a los estudiantes conocimientos esenciales para
        carreras en educación, consejería, psicología, trabajo social y
        atención médica, ayudándoles a comprender y apoyar a las personas en
        cada etapa de la vida.
      </p>
    </div>
  </main>
</mat-dialog-content>

<app-footer-modal />
