<app-banner class="fadeIn" [banner]="flyer" [alt]="alt" />
<mat-dialog-content>
  <main class="fadeIn">
    <h2>BACC-CCPI-2100 - Prácticas de Consejería Clínica I</h2>
    <div class="line"></div>

    <div class="content fadeIn">
      <p>
        El curso <span>Prácticas en Consejería Clínica I</span> brinda a los
        estudiantes la oportunidad de aplicar sus conocimientos teóricos en
        entornos controlados y supervisados de consejería. Se enfoca en el
        desarrollo de habilidades prácticas esenciales para la interacción
        terapéutica y el acompañamiento emocional.
      </p>

      <h3>Objetivos del curso:</h3>
      <ul>
        <li>
          Aplicar técnicas básicas de consejería en escenarios simulados y
          reales.
        </li>
        <li>Desarrollar habilidades interpersonales y de escucha activa.</li>
        <li>
          Fortalecer la capacidad de establecer una relación terapéutica
          efectiva.
        </li>
        <li>Recibir retroalimentación sobre el desempeño en consejería.</li>
        <li>
          Fomentar la reflexión ética y profesional durante la práctica clínica.
        </li>
      </ul>

      <h3>Temas principales:</h3>
      <ul>
        <li>Simulación de sesiones de consejería con retroalimentación.</li>
        <li>Establecimiento del rapport y manejo del encuadre terapéutico.</li>
        <li>Observación y análisis de intervenciones clínicas.</li>
        <li>Documentación y elaboración de notas clínicas.</li>
        <li>Ética en la práctica supervisada de consejería.</li>
      </ul>

      <h3>Metodología:</h3>
      <p>
        El curso combina prácticas supervisadas, sesiones simuladas, análisis de
        casos, observación directa y discusiones grupales. Se promueve el
        aprendizaje a través de la experiencia y la reflexión guiada por
        profesionales del área.
      </p>

      <h3>Evaluación:</h3>
      <p>La evaluación del curso incluirá:</p>
      <ul>
        <li>Desempeño en sesiones prácticas supervisadas.</li>
        <li>Autoevaluaciones y diarios reflexivos.</li>
        <li>Participación activa en discusiones de casos clínicos.</li>
        <li>Evaluaciones por parte de los supervisores clínicos.</li>
        <li>Presentaciones de experiencias prácticas.</li>
      </ul>

      <h3>Importancia del curso:</h3>
      <p>
        Este curso es esencial para la transición del aprendizaje teórico a la
        práctica clínica. A través de la experiencia directa, los estudiantes
        fortalecen su confianza, habilidades comunicativas y sensibilidad ética
        en el ejercicio de la consejería.
      </p>
    </div>
  </main>
</mat-dialog-content>

<app-footer-modal />
