<app-banner class="fadeIn" [banner]="flyer" [alt]="alt" />
<mat-dialog-content>
  <main class="fadeIn">
    <h2>MATH-SAE-805 - Studies in Apocalyptic Eschatology</h2>

    <div class="line"></div>

    <div class="content fadeIn">
      <p><span>Studies in Apocalyptic Eschatology</span> examines apocalyptic visions and eschatological themes in Scripture, focusing on interpretations of the end times, the second coming, final judgment, and their theological relevance today.</p>

      <h3>Course Objectives:</h3>
      <ul>
        <li>Analyze interpretive traditions of apocalyptic literature.</li>
        <li>Study key texts: Daniel and Revelation.</li>
        <li>Reflect on contemporary relevance of eschatological teachings.</li>
        <li>Evaluate apocalyptic influence on historical and modern Christianity.</li>
      </ul>

      <h3>Main Topics:</h3>
      <ul>
        <li>Introduction to apocalyptic literature and theology.</li>
        <li>Analysis of Daniel and Revelation.</li>
        <li>Eschatological themes: judgment, Kingdom of God.</li>
        <li>Historical impact and modern interpretations.</li>
      </ul>

      <h3>Methodology:</h3>
      <p>Students engage in critical readings, case studies, theological discussions, and reflections on apocalyptic themes in Christian life and practice.</p>

      <h3>Assessment:</h3>
      <ul>
        <li>Essay on an apocalyptic biblical passage.</li>
        <li>Case study presentation on apocalyptic influence in Christianity.</li>
        <li>Research project on eschatology's relevance today.</li>
      </ul>

      <h3>Importance of the Course:</h3>
      <p>This course provides a deep understanding of how apocalyptic thought has shaped Christian theology, offering critical tools for engaging these powerful biblical themes today.</p>
    </div>
  </main>
</mat-dialog-content>
<app-footer-modal />
