<app-banner class="fadeIn" [banner]="flyer" [alt]="alt" />
<mat-dialog-content>
  <main class="fadeIn">
    <h2>MAMH-CAP-1800 - Psicología Infantil y Adolescente</h2>
    <div class="line"></div>

    <div class="content fadeIn">
      <p>
        El curso
        <span>MAMH-CAP-1800 - Psicología Infantil y Adolescente</span> explora
        los trastornos psicológicos más comunes en niños y adolescentes,
        abordando su diagnóstico, tratamiento y el desarrollo emocional de los
        más jóvenes. Se cubren trastornos como el TDAH, la depresión infantil y
        la ansiedad en jóvenes.
      </p>

      <h3>Objetivos del curso:</h3>
      <ul>
        <li>
          Comprender el desarrollo emocional y psicológico en niños y
          adolescentes.
        </li>
        <li>
          Identificar y diagnosticar trastornos psicológicos comunes en la
          infancia y adolescencia.
        </li>
        <li>Explorar estrategias de intervención y tratamiento efectivas.</li>
        <li>
          Analizar el impacto del entorno y la familia en el desarrollo
          emocional.
        </li>
        <li>
          Evaluar la importancia de la prevención en la salud mental infantil.
        </li>
      </ul>

      <h3>Temas principales:</h3>
      <ul>
        <li>Fundamentos de la psicología infantil y adolescente.</li>
        <li>Trastorno por Déficit de Atención e Hiperactividad (TDAH).</li>
        <li>Depresión infantil y en adolescentes.</li>
        <li>Trastornos de ansiedad en jóvenes.</li>
        <li>Factores de riesgo y protección en el desarrollo emocional.</li>
        <li>Intervenciones psicoterapéuticas para niños y adolescentes.</li>
      </ul>

      <h3>Metodología:</h3>
      <p>
        El curso combina clases teóricas, estudios de caso, simulaciones
        clínicas y sesiones de supervisión profesional. Se enfatiza el
        desarrollo de habilidades prácticas mediante ejercicios interactivos y
        trabajo en equipo.
      </p>

      <h3>Evaluación:</h3>
      <p>La evaluación del curso incluirá:</p>
      <ul>
        <li>Exámenes sobre teorías del desarrollo infantil y adolescente.</li>
        <li>Análisis de casos clínicos en niños y adolescentes.</li>
        <li>Ensayos sobre intervenciones en salud mental juvenil.</li>
        <li>Presentaciones sobre trastornos psicológicos en la infancia.</li>
        <li>Debates sobre estrategias de prevención y tratamiento.</li>
      </ul>

      <h3>Importancia del curso:</h3>
      <p>
        El conocimiento de la psicología infantil y adolescente es fundamental
        para la intervención temprana y el tratamiento adecuado de los
        trastornos emocionales en jóvenes. Este curso proporciona herramientas
        esenciales para la práctica clínica y el desarrollo profesional en el
        ámbito de la salud mental infantil.
      </p>
    </div>
  </main>
</mat-dialog-content>

<app-footer-modal />
