<app-banner class="fadeIn" [banner]="flyer" [alt]="alt" />
<mat-dialog-content>
  <main class="fadeIn">
    <h2>BACH-IPT-300 - Introduction to practical theology</h2>

    <div class="line"></div>

    <div class="content fadeIn">
      <p>
        The course
        <span>BACH-IPT-300 - Introduction to Practical Theology</span> provides
        students with a deep understanding of how to apply theological
        principles in real-world contexts. Through a comprehensive approach,
        this course prepares future chaplains to address practical situations
        based on solid theological knowledge and effective ministerial tools.
      </p>
      <h3>Course Objectives:</h3>
      <ul>
        <li>
          Develop a clear understanding of practical theology and its
          application in ministry.
        </li>
        <li>
          Explore the role of the chaplain in various settings and its impact on
          the community.
        </li>
        <li>
          Encourage the ability to integrate theological principles into
          pastoral service.
        </li>
        <li>
          Equip students with skills for resolving ethical and spiritual issues
          within their ministerial practice.
        </li>
        <li>
          Promote the development of skills for counseling and spiritual
          guidance.
        </li>
      </ul>
      <h3>Main Topics:</h3>
      <ul>
        <li>
          Fundamentals of practical theology and its relevance in chaplaincy.
        </li>
        <li>Models of pastoral ministry and spiritual leadership.</li>
        <li>
          The role of the chaplain in hospitals, military institutions, prisons,
          and communities.
        </li>
        <li>Ministerial ethics and informed decision-making.</li>
        <li>Strategies for counseling and spiritual guidance.</li>
      </ul>
      <h3>Methodology:</h3>
      <p>
        The course is taught entirely online, through readings, case studies,
        discussion forums, and practical exercises that promote the application
        of theology in real-world situations.
      </p>
      <h3>Evaluation:</h3>
      <p>
        The evaluation includes participation in forums, analysis of ministerial
        cases, online exams, and a final project where students will demonstrate
        their ability to apply theological principles in practical contexts.
      </p>
      <h3>Importance of the Course:</h3>
      <p>
        This course is essential for students seeking an effective ministry, as
        it provides practical tools and foundational theological knowledge for
        their work as chaplains in various settings.
      </p>
    </div>
  </main>
</mat-dialog-content>

<app-footer-modal />
