<app-banner class="fadeIn" [banner]="flyer" [alt]="alt" />
<mat-dialog-content>
  <main class="fadeIn">
    <h2>MAMH-ASP-2100 - Applied Social Psychology</h2>

    <div class="line"></div>

    <div class="content fadeIn">
      <p>
        The course
        <span>MAMH-ASP-2100 - Applied Social Psychology</span> examines how
        social factors influence individual behavior and decisions. This course
        covers group behavior, prejudice, and discrimination, and how these
        phenomena impact individuals' mental health.
      </p>

      <h3>Course Objectives:</h3>
      <ul>
        <li>Analyze the impact of social factors on human behavior.</li>
        <li>
          Understand the influence of prejudice and discrimination on mental
          health.
        </li>
        <li>Explore group behavior and its effects on decision-making.</li>
        <li>
          Apply social psychology theories in clinical and community settings.
        </li>
        <li>
          Develop strategies to mitigate the negative effects of social
          pressure.
        </li>
      </ul>

      <h3>Main Topics:</h3>
      <ul>
        <li>Fundamental theories of social psychology.</li>
        <li>Prejudice, discrimination, and their psychological effects.</li>
        <li>
          The influence of culture and environment on individual behavior.
        </li>
        <li>The role of conformity and obedience in society.</li>
        <li>
          Strategies to improve social interaction and reduce marginalization.
        </li>
        <li>
          Applications of social psychology in mental health and well-being.
        </li>
      </ul>

      <h3>Methodology:</h3>
      <p>
        The course combines theoretical classes, case studies, behavior
        experiments, and analysis of interventions in social settings.
        Discussion and experiential learning are encouraged.
      </p>

      <h3>Assessment:</h3>
      <p>Course assessment will include:</p>
      <ul>
        <li>Exams on key theories and concepts in social psychology.</li>
        <li>Case analysis on prejudice and discrimination in society.</li>
        <li>Essays on social influence in decision-making.</li>
        <li>Presentations on interventions to improve social interaction.</li>
        <li>Debates on the impact of culture and media on behavior.</li>
      </ul>

      <h3>Importance of the Course:</h3>
      <p>
        Understanding applied social psychology is essential to address problems
        like discrimination, group behavior, and social influence. This course
        provides key tools for professional practice in various psychological
        and community contexts.
      </p>
    </div>
  </main>
</mat-dialog-content>

<app-footer-modal />
