<app-banner class="fadeIn" [banner]="flyer" [alt]="alt" />
<mat-dialog-content>
  <main class="fadeIn">
    <h2>MATH-TECC-404 - Teología y Ecología: Cuidado de la Creación</h2>

    <div class="line"></div>

    <div class="content fadeIn">
      <p><span>Teología y Ecología: Cuidado de la Creación</span> explora la relación entre la teología cristiana y el cuidado del medio ambiente, resaltando la sostenibilidad y la justicia ecológica como responsabilidades bíblicas.</p>

      <h3>Objetivos del Curso:</h3>
      <ul>
        <li>Comprender los fundamentos teológicos del cuidado de la creación.</li>
        <li>Analizar la relación entre la Biblia y la ecología contemporánea.</li>
        <li>Estudiar la sostenibilidad y la justicia ecológica desde una perspectiva cristiana.</li>
        <li>Aplicar principios teológicos en prácticas ecológicas.</li>
        <li>Reflexionar sobre la responsabilidad ética del cristiano hacia el medio ambiente.</li>
      </ul>

      <h3>Temas Principales:</h3>
      <ul>
        <li>Responsabilidad humana sobre la Tierra.</li>
        <li>Teología ecológica.</li>
        <li>Ética ambiental cristiana.</li>
        <li>Justicia ecológica.</li>
        <li>Restauración de la creación.</li>
      </ul>

      <h3>Metodología:</h3>
      <p>Estudio de textos bíblicos y teológicos, análisis de crisis ecológicas, debates, y proyectos de sostenibilidad.</p>

      <h3>Evaluación:</h3>
      <ul>
        <li>Ensayos sobre teología y ecología.</li>
        <li>Estudios de caso.</li>
        <li>Presentaciones sobre sostenibilidad cristiana.</li>
        <li>Proyectos prácticos de cuidado de la creación.</li>
      </ul>

      <h3>Importancia del Curso:</h3>
      <p>Prepara a los estudiantes para abogar por la sostenibilidad ecológica y la justicia ambiental desde una perspectiva cristiana.</p>
    </div>
  </main>
</mat-dialog-content>
<app-footer-modal />
