<app-banner class="fadeIn" [banner]="flyer" [alt]="alt" />
<mat-dialog-content>
    <main class="fadeIn">
        <h2>MATH-GJLJ-112 - Los Evangelios y la Vida de Jesús</h2>

        <div class="line"></div>

        <div class="content fadeIn">
            <p><span>Los Evangelios y la Vida de Jesús</span> se centra en el estudio de los cuatro Evangelios (Mateo, Marcos, Lucas y Juan) para comprender la vida, enseñanzas, muerte y resurrección de Jesucristo.</p>

            <h3>Objetivos del Curso:</h3>
            <ul>
                <li>Estudiar los relatos de la vida de Jesús según los cuatro Evangelios.</li>
                <li>Analizar las enseñanzas clave de Jesús y su relevancia para los cristianos.</li>
                <li>Explorar el contexto histórico y cultural del siglo I.</li>
                <li>Reflexionar sobre la importancia de la muerte y resurrección de Jesús en la salvación cristiana.</li>
                <li>Desarrollar una comprensión profunda de la influencia de los Evangelios en la fe cristiana contemporánea.</li>
            </ul>

            <h3>Temas Principales:</h3>
            <ul>
                <li>Introducción a los Evangelios y sus fuentes.</li>
                <li>La genealogía y nacimiento de Jesús.</li>
                <li>Las enseñanzas de Jesús: el Reino de Dios, el amor y el perdón.</li>
                <li>Milagros, parábolas y enseñanzas éticas.</li>
                <li>La Pasión: crucifixión, muerte y resurrección de Jesús.</li>
                <li>Relación entre los Evangelios y la vida cristiana hoy.</li>
            </ul>

            <h3>Metodología:</h3>
            <p>Este curso se basa en la lectura, discusión y análisis de los textos evangélicos, con énfasis en su contenido teológico y su contexto histórico.</p>

            <h3>Evaluación:</h3>
            <ul>
                <li>Ensayos sobre los pasajes clave de los Evangelios.</li>
                <li>Exámenes sobre el contenido histórico y teológico de la vida de Jesús.</li>
                <li>Presentaciones sobre la influencia de las enseñanzas de Jesús.</li>
                <li>Proyectos de investigación sobre aspectos específicos del ministerio de Jesús.</li>
            </ul>

            <h3>Importancia del Curso:</h3>
            <p>Este curso es fundamental para comprender en profundidad la figura de Jesús, la interpretación de los Evangelios y la base de la fe cristiana.</p>
        </div>
    </main>
</mat-dialog-content>

<app-footer-modal />
