form {
  width: 100%;
  height: auto;
  // max-width: 500px;
  padding: 0;
  margin: 0 auto;
  // border-radius: 5px;
  // background-color: var(--white);
  // box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
.form-control:focus {
  box-shadow: none;
  border: 1px solid var(--primary);
}

textarea {
  width: 100%;
  height: auto;
  min-height: 60px;
  max-height: 90px;
  resize: none;
}
