* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: 'Roboto', sans-serif;
  height: 100%;
  background: #f4f4f4;
  color: #333;
  position: relative;
  z-index: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 400;
  text-align: center;
  margin: 0;
  padding: 0;
}

.pages {
  width: 100%;
  height: auto;
  min-height: 75dvh;
  padding: 1rem 2rem;
  margin: 0 auto;
  background: #f4f4f4;
  position: relative;
  z-index: 1;

  .content {
    width: 100%;
    max-width: 1280px;
    height: auto;
    margin: 0 auto;
    background: #f4f4f4;
    border-radius: 0.5rem;
  }
  @media only screen and (max-width: 768px) {
    padding: 1rem;
  }
}

h1 {
  font-size: 3rem;
  color: #555;
  color: var(--primary);
  line-height: 5rem;

  @media screen and (max-width: 768px) {
    font-size: 2rem;
    line-height: 3rem;
    text-align: center;
  }

  @media screen and (max-width: 580px) {
    font-size: 1.5rem;
    line-height: 2rem;
  }
}

h2 {
  font-size: 2rem;
  color: var(--primary);
  line-height: 3rem;
  margin-top: 2rem;

  @media screen and (max-width: 768px) {
    font-size: 1.6rem;
    line-height: 3rem;
    text-align: center;
  }

  @media screen and (max-width: 580px) {
    font-size: 1.3rem;
  }
}

h3 {
  font-size: 1.5rem;
  color: #7c7b7b;
  line-height: 1.5rem;
  margin-top: 2rem;
  font-weight: 600;
  text-align: left;

  @media screen and (max-width: 768px) {
    font-size: 1.3rem;
    line-height: 1.5rem;
    text-align: center;
  }

  @media screen and (max-width: 580px) {
    font-size: 1rem;
  }
}

h4 {
  font-size: 1.4rem;
  color: #5c5c5c;
  font-weight: 500;
  text-align: left;
}

h5 {
  font-size: 1rem;
  color: var(--primary);
  font-weight: 500;
  text-align: left;
}

h6 {
  font-size: 1rem;
  color: #7c7b7b;
  font-weight: 600;
}
// }

.pItalic,
p,
li {
  font-size: 1.2rem;
  line-height: 2rem;
  color: #333;
  text-wrap: pretty;
  margin-top: 0.5rem;
  @media only screen and (max-width: 768px) {
    margin-top: 1rem;
    font-size: 1rem;
    line-height: 1.6rem;
  }
}

p {
  margin-top: 2rem;
}

.pItalic {
  font-style: italic;
  @media only screen and (max-width: 768px) {
    text-align: center;
  }
}

ul,
ol {
  padding-left: 3rem;
  margin: 1rem auto;
}

.line {
  width: 100%;
  height: 0.2rem;
  background-color: var(--primary);
  border-radius: 0.1rem;
  margin: 1rem auto;
}

.centrar {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.centrarVertical {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.images {
  width: 100%;
  height: auto;

  img {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 0.5rem;
  }

  p {
    text-align: center;
    font-size: 0.8rem;
    line-height: 1.2rem;
  }
}

.mt3 {
  margin-top: 3rem;
}

.relatedLinks {
  width: 100%;
  height: auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 1rem;

  @media screen and (max-width: 768px) {
    grid-template-columns: 1fr;
  }

  a {
    padding: 0.1rem 0.2rem;
    border-radius: 0.5rem;
    background-color: #f5f5f5;
    color: #333;
    text-decoration: none;
    display: block;
    font-size: 1rem;
    line-height: 2rem;
    cursor: pointer;
    transition: 0.3s;

    @media screen and (max-width: 1024px) {
      font-size: 0.8rem;
      text-align: center;
    }

    &:hover {
      background-color: #e5e5e5;
    }
  }
}

.boxLinks {
  width: 100%;
  height: auto;
  box-shadow: 0 0 8px 3px rgba(0, 0, 0, 0.1);
  padding: 1rem;
  border-radius: 0.5rem;
}

img {
  width: 100%;
  max-width: 100%;
  height: auto;
  height: auto;
}

/* =========================================
****       Global Styles for the Flyer  ****
========================================= */

.flyer {
  width: 100%;
  height: auto;

  img {
    width: 100%;
    height: auto;
    max-width: 100%;
    object-fit: cover;
  }
}

/* =========================================
**** Global Styles for the buttons Tabs ****
========================================= */

.listarBotones::-webkit-scrollbar {
  width: 7px;
  background-color: #fefefe;
  cursor: pointer;
  border: 1px solid rgb(185, 184, 184);
  border-radius: 0.5rem;
}

.listarBotones::-webkit-scrollbar-thumb {
  background-color: var(--secondary);
  border-radius: 0.5rem;
  cursor: pointer;
}

.listarBotones {
  width: 100%;
  max-width: 900px;
  height: auto;
  display: flex;
  align-items: center;
  overflow-x: auto;
  padding: 0.3rem;
  margin: 0 auto;
  margin-top: 2rem;

  @media only screen and (max-width: 900px) {
    max-width: 600px;
  }

  @media only screen and (max-width: 630px) {
    max-width: 400px;
  }

  @media only screen and (max-width: 430px) {
    max-width: 300px;
  }
}

.cardCarreras {
  width: 100%;
  height: auto;
  padding: 0 0.2rem;

  span {
    text-decoration: none;
    display: block;
    cursor: pointer;
    padding: 0.4rem 0.7rem;
    color: var(--primary);
    text-wrap: nowrap;
    border: 1px solid var(--primary);
    border-radius: 0.5rem;
    text-align: center;

    transition: all 0.2s ease;

    &.selected {
      background: var(--primary);
      color: #f4fefd;
      // border: none;
    }

    &:hover {
      transform: scale(1.05);
    }

    &:active {
      transform: scale(0.8);
    }
  }
}

.bodyContent {
  width: 100%;
  height: auto;
  padding: 1rem 0.1rem;
  margin: 0 auto;

  li {
    margin-top: 1rem;
  }

  p,
  li {
    line-height: 2rem;
    font-size: 1.1rem;
    letter-spacing: 0.5px;
    text-wrap: pretty;
  }
}

.cinta {
  width: 100%;
  height: auto;
  // background-color: var(--secondary);
  // background-color: var(--slate-700);
  background-color: var(--slate-300);
  text-align: center;
  margin: 0 auto;
  padding: 2rem 1rem;
  span {
    // color: #f4fefd;
    color: var(--primary);
    font-size: 1.5rem;

    @media only screen and (max-width: 768px) {
      font-size: 1.2rem;
    }
  }

  @media only screen and (max-width: 768px) {
    padding: 0.5rem 1rem;
  }
}
