<app-banner class="fadeIn" [banner]="flyer" [alt]="alt" />
<mat-dialog-content>
  <main class="fadeIn">
    <h2>BACH-CHI-1300 - Chaplaincy internship</h2>

    <div class="line"></div>
    <div class="content fadeIn">
      <p>
        This course offers a supervised practical experience that allows
        students to apply their theoretical knowledge and ministerial skills in
        a real chaplaincy environment. Under the guidance of experienced
        chaplains, participants will develop essential competencies for
        spiritual accompaniment, pastoral counseling, and assistance in critical
        situations within various institutions such as hospitals, prisons,
        military forces, educational centers, and communities.
      </p>

      <h3>Course Objectives:</h3>
      <ul>
        <li>
          <strong>Application of Theoretical Knowledge:</strong> Students will
          be able to apply the theoretical teachings acquired in previous
          courses to real-life situations, facing the challenges and
          responsibilities of chaplaincy ministry.
        </li>
        <li>
          <strong>Development of Ministerial Competencies:</strong> Fundamental
          skills such as active listening, conflict mediation, spiritual
          accompaniment, and pastoral counseling will be developed, which are
          essential in the chaplaincy context.
        </li>
        <li>
          <strong>Assistance in Critical Situations:</strong> Students will
          learn to intervene and provide support in emotional crisis situations
          such as grief, anxiety, or trauma, adapting to the needs of the people
          they serve.
        </li>
        <li>
          <strong
            >Adaptation to Multicultural and Multi-Religious Contexts:</strong
          >
          The course emphasizes students' ability to work in diverse
          environments, learning to respect and adapt to different religious and
          cultural traditions.
        </li>
        <li>
          <strong>Reflection and Supervision:</strong> Throughout the course,
          students will participate in supervision and reflection sessions,
          where they will receive constructive feedback on their performance,
          enhancing their ministerial practice and personal and vocational
          growth.
        </li>
      </ul>

      <h3>Methodology:</h3>
      <p>
        The course will be carried out through the direct participation of
        students in chaplaincy situations in various institutions, with constant
        supervision by experienced chaplains. It will be complemented by
        reflection sessions and case studies to promote personal and
        professional growth.
      </p>

      <h3>Evaluation:</h3>
      <p>
        The course evaluation will include observation of the students'
        practices, feedback from supervisors, participation in reflection
        sessions, and a final report in which students will reflect on their
        experience and learning during the internship.
      </p>
    </div>
  </main>
</mat-dialog-content>

<app-footer-modal />
