<app-banner class="fadeIn" [banner]="flyer" [alt]="alt" />
<mat-dialog-content>
  <main class="fadeIn">
    <h2>MAMH-IPC-1600 - Intervention in Psychological Crises</h2>

    <div class="line"></div>

    <div class="content fadeIn">
      <p>
        The course
        <span>MAMH-IPC-1600 - Intervention in Psychological Crises</span>
        trains students in how to intervene effectively in crisis situations
        such as suicide, abuse, severe trauma, or disasters. Students will learn
        immediate intervention techniques and how to manage the emotional
        stability of the patient in the short and long term.
      </p>

      <h3>Course Objectives:</h3>
      <ul>
        <li>Understand the fundamental principles of crisis intervention.</li>
        <li>
          Develop skills to assess and respond to psychological emergencies.
        </li>
        <li>
          Apply emotional stabilization techniques in different crisis contexts.
        </li>
        <li>
          Explore strategies for post-crisis support and therapeutic follow-up.
        </li>
        <li>Analyze ethical aspects in psychological crisis intervention.</li>
      </ul>

      <h3>Main Topics:</h3>
      <ul>
        <li>Fundamentals of psychological crisis intervention.</li>
        <li>Strategies for crisis assessment and management.</li>
        <li>Intervention in suicide and self-harm situations.</li>
        <li>Managing crises related to abuse and trauma.</li>
        <li>
          Psychological support in natural disasters and collective emergencies.
        </li>
        <li>Ethics and legal considerations in crisis intervention.</li>
      </ul>

      <h3>Methodology:</h3>
      <p>
        The course integrates theoretical classes, case studies, intervention
        simulations, and debates on real-life cases. Practical skills are
        emphasized through interactive exercises.
      </p>

      <h3>Assessment:</h3>
      <p>Course assessment will include:</p>
      <ul>
        <li>Exams on crisis intervention strategies.</li>
        <li>Case study analysis of psychological crises.</li>
        <li>Essays on emotional stabilization methods.</li>
        <li>Presentations on innovative approaches in crisis intervention.</li>
        <li>Debates on ethical dilemmas in psychological crisis management.</li>
      </ul>

      <h3>Importance of the Course:</h3>
      <p>
        Psychological crisis intervention is essential for providing immediate
        and effective support to people in critical situations. This course
        provides key tools for clinical practice and professional management of
        emotional crises.
      </p>
    </div>
  </main>
</mat-dialog-content>

<app-footer-modal />
