<app-banner
  class="fadeIn"
  title="About us"
  [banner]="banner"
  [alt]="academyInfo.title"
/>

<main class="pages">
  <div class="content fadeIn">
    <div>
      <div class="cinta">
        <span>Mission</span>
      </div>
      <p>
        To be a global academic community where faith, knowledge, and practice
        come together to inspire transformed lives and more just, compassionate,
        and hopeful societies.
      </p>

      <div class="cinta mt-2">
        <span>Vision</span>
      </div>
      <p>
        To train leaders with solid theological, spiritual, and academic
        preparation, capable of responding with wisdom and compassion to the
        challenges of our time. Through accessible and excellent online
        education, we promote critical thinking, intercultural dialogue, and a
        commitment to personal and community transformation.
      </p>
    </div>

    <div class="cinta mt-2">
      <span>Values</span>
    </div>
    <ol>
      <li>
        <strong> Academic Excellence <br /> </strong>
        We seek deep, rigorous, and meaningful learning.
      </li>

      <li>
        <strong> Living Faith <br /> </strong>
        We promote a practical spirituality that strengthens everyday life.
      </li>

      <li>
        <strong> Inclusion <br /> </strong>
        We open our doors to all cultures, traditions, and beliefs.
      </li>

      <li>
        <strong> Compassion <br /> </strong>
        We form individuals who are sensitive to human suffering and committed
        to the well-being of others.
      </li>

      <li>
        <strong> Dialogue and Respect <br /> </strong>
        We value diversity as a source of growth and mutual understanding.
      </li>

      <li>
        <strong> Innovation <br /> </strong>
        We use online education as a bridge to accessible, dynamic, and
        transformative learning.
      </li>

      <li>
        <strong> Unwavering Integrity <br /> </strong>
        We act with honesty and transparency in every action, ensuring that our
        processes are free from ambiguity or improper practices.
      </li>

      <li>
        <strong> Integrity and Transparency <br /> </strong>
        We act consistently with what we believe, teach, and do, building trust
        through clear and authentic communication.
      </li>

      <li>
        <strong> Trust and Responsibility <br /> </strong>
        We cultivate relationships based on respect and shared responsibility,
        supporting each student on their journey of formation and growth.
      </li>

      <li>
        <strong> Academic Standards <br /> </strong>
        We uphold high standards in teaching and learning, offering rigorous,
        accessible, and transformative education.
      </li>

      <li>
        <strong> Ethical Commitment <br /> </strong>
        We encourage values that honor justice, solidarity, and the common good,
        creating an environment of integrity and sustainability.
      </li>

      <li>
        <strong> Care and Support <br /> </strong>
        We protect and value the dignity of each person, providing a safe,
        reliable, and enriching environment where every voice matters.
      </li>
    </ol>
  </div>
</main>
