<app-banner class="fadeIn" [banner]="flyer" [alt]="alt" />
<mat-dialog-content>
  <main class="fadeIn">
    <h2>MACC-PP-1200 - Psicología de la Personalidad</h2>
    <div class="line"></div>

    <div class="content fadeIn">
      <p>
        <span>Psicología de la Personalidad</span> examina las teorías y
        investigaciones principales relacionadas con el personal. El curso
        examina cómo las características individuales de la personalidad
        influencian el comportamiento, las relaciones y el bienestar emocional.
      </p>

      <h3>Objetivos del curso:</h3>
      <ul>
        <li>
          Entender las teorías clave de desarrollo y estructura de la
          personalidad.
        </li>
        <li>
          Analizar las herramientas de evaluación de la personalidad y sus
          aplicaciones.
        </li>
        <li>
          Examinar el papel de la personalidad en las relaciones
          interpersonales.
        </li>
        <li>
          Evaluar cómo la personalidad impacta el bienestar emocional y
          psicológico.
        </li>
        <li>
          Explorar los factores culturales, biológicos y ambientales que forman
          la personalidad.
        </li>
      </ul>

      <h3>Temas principales:</h3>
      <ul>
        <li>
          Teorías psicoanalíticas, trait, humanísticas y cognitivo-conductuales.
        </li>
        <li>MMPI, Big Five.</li>
        <li>Personalidad y salud mental.</li>
        <li>Personalidad en el lugar de trabajo y los entornos sociales.</li>
        <li>
          Perspectivas de desarrollo y cross-cultural sobre la personalidad.
        </li>
      </ul>

      <h3>Método de enseñanza:</h3>
      <p>
        El curso incluye conferencias, inventarios de personalidad, estudios de
        casos, ensayos reflexivos y discusiones en clase.
      </p>

      <h3>Calificación:</h3>
      <p>Los estudiantes serán evaluados a través de:</p>
      <ul>
        <li>
          Pruebas y exámenes cubriendo conceptos psicológicos fundamentales.
        </li>
        <li>Trabajos escritos y reflexiones sobre temas de salud mental.</li>
        <li>Discusiones en grupo y participación en actividades de clase.</li>
        <li>Proyecto final analizando un problema real de salud mental.</li>
      </ul>

      <h3>Importancia del curso:</h3>
      <p>
        Este curso equipa a los estudiantes con una comprensión de la estructura
        y desarrollo de la personalidad, ayudándoles a entenderse y a los demás
        mejor, y aplicar esta conocimiento en el ámbito de la asesoría, la
        educación y el entorno laboral.
      </p>
    </div>
  </main>
</mat-dialog-content>

<app-footer-modal />
