<app-banner class="fadeIn" [banner]="flyer" [alt]="alt" />
<mat-dialog-content>
  <main class="fadeIn">
    <h2>MATH-EBP-501 - Predicación Bíblica Expositiva</h2>

    <div class="line"></div>

    <div class="content fadeIn">
      <p><span>Predicación Bíblica Expositiva</span> enseña a interpretar y predicar fielmente las Escrituras, centrando el mensaje en el evangelio y su aplicación contemporánea.</p>

      <h3>Objetivos del Curso:</h3>
      <ul>
        <li>Interpretar y aplicar las Escrituras de manera expositiva.</li>
        <li>Construir sermones fieles al flujo y mensaje bíblico.</li>
        <li>Comunicar eficazmente en diversos contextos culturales.</li>
        <li>Predicar centrado en el evangelio.</li>
        <li>Desarrollar claridad, coherencia y aplicación práctica.</li>
      </ul>

      <h3>Temas Principales:</h3>
      <ul>
        <li>Principios de interpretación bíblica (exégesis).</li>
        <li>Estructura de un sermón expositivo.</li>
        <li>Contextualización del mensaje bíblico.</li>
        <li>Predicación centrada en Cristo.</li>
        <li>Aplicación práctica para la vida cristiana.</li>
      </ul>

      <h3>Metodología:</h3>
      <p>Estudios bíblicos, análisis de sermones, prácticas de predicación y retroalimentación constructiva.</p>

      <h3>Evaluación:</h3>
      <ul>
        <li>Exámenes de exégesis y construcción de sermones.</li>
        <li>Predicación práctica en clase.</li>
        <li>Ensayos sobre la exégesis aplicada a la predicación.</li>
      </ul>

      <h3>Importancia del Curso:</h3>
      <p>Forma predicadores que presentan fielmente la Palabra de Dios, guiando a la congregación a una comprensión profunda y transformación espiritual.</p>
    </div>
  </main>
</mat-dialog-content>
<app-footer-modal />
