<app-banner class="fadeIn" [banner]="flyer" [alt]="alt" />
<mat-dialog-content>
  <main class="fadeIn">
    <h2>MACC-MC-1400 - Marriage Counseling</h2>
    <div class="line"></div>

    <div class="content fadeIn">
      <p>
        <span>Marriage Counseling</span> focuses on principles and therapeutic
        techniques to guide couples through relational challenges. The course
        emphasizes conflict resolution, communication improvement, and the
        restoration of emotional and relational bonds.
      </p>

      <h3>Course Objectives:</h3>
      <ul>
        <li>
          Understand the foundations of marital relationships from psychological
          and emotional perspectives.
        </li>
        <li>
          Identify common issues that affect couples, such as communication
          breakdowns, infidelity, and unmet expectations.
        </li>
        <li>Apply counseling techniques tailored to couples in distress.</li>
        <li>Facilitate conflict resolution and mutual understanding.</li>
        <li>Promote healing, forgiveness, and relational growth.</li>
      </ul>

      <h3>Main Topics:</h3>
      <ul>
        <li>Stages of marital development and challenges.</li>
        <li>Communication and active listening in marriage.</li>
        <li>Conflict resolution strategies.</li>
        <li>
          Therapeutic models for couples (e.g., Emotionally Focused Therapy,
          Gottman Method).
        </li>
        <li>Sexual intimacy and emotional connection.</li>
        <li>Crisis situations in marriage (e.g., affairs, separation).</li>
      </ul>

      <h3>Methodology:</h3>
      <p>
        This course integrates theoretical instruction with practical exercises,
        including role-playing, case studies, group discussions, and counseling
        simulations with peer feedback.
      </p>

      <h3>Assessment:</h3>
      <p>Students will be assessed through:</p>
      <ul>
        <li>Quizzes and written exams on theories and techniques.</li>
        <li>Couple counseling session simulations.</li>
        <li>Reflection essays on personal views of marriage and counseling.</li>
        <li>Development of a counseling plan for a case study couple.</li>
      </ul>

      <h3>Importance of the Course:</h3>
      <p>
        This course equips students with the tools to support couples in crisis,
        enhance relationship satisfaction, and contribute to the strengthening
        of marriages through therapeutic guidance.
      </p>
    </div>
  </main>
</mat-dialog-content>

<app-footer-modal />
