<app-banner class="fadeIn" [banner]="flyer" [alt]="alt" />
<mat-dialog-content>
  <main class="fadeIn">
    <h2>BACC-CSAL-600 - Communication Skills and Active Listening</h2>
    <div class="line"></div>
    <div class="content fadeIn">
      <p>
        The course
        <span>Communication Skills and Active Listening</span> provides a solid
        foundation in effective communication techniques, with an emphasis on
        empathetic listening and the development of key interpersonal skills for
        emotional and spiritual support.
      </p>

      <ul>
        <li>
          Develop verbal and non-verbal communication skills in counseling
          contexts.
        </li>
        <li>
          Encourage the practice of active listening as an emotional support
          tool.
        </li>
        <li>
          Identify common barriers in communication and strategies to overcome
          them.
        </li>
        <li>
          Promote empathy and deep understanding in interpersonal relationships.
        </li>
        <li>
          Apply principles of effective communication in crisis situations and
          pastoral care.
        </li>
      </ul>

      <h3>Main Topics:</h3>
      <ul>
        <li>Fundamental elements of interpersonal communication.</li>
        <li>Active listening and empathy.</li>
        <li>Body language and non-verbal cues.</li>
        <li>Communication in conflict or crisis contexts.</li>
        <li>Ethics in communication in counseling contexts.</li>
      </ul>

      <h3>Methodology:</h3>
      <p>
        The course includes practical exercises, counseling simulations, case
        analysis, group discussions, and workshops focused on improving
        expression and conscious listening.
      </p>

      <h3>Assessment:</h3>
      <p>The course assessment will include:</p>
      <ul>
        <li>Recorded practices of active listening sessions.</li>
        <li>Reflective reports on communicative experiences.</li>
        <li>Presentations on effective communication techniques.</li>
        <li>Active participation in workshops and debates.</li>
      </ul>

      <h3>Course Significance:</h3>
      <p>
        The development of communication and active listening skills is
        essential for establishing trust and support relationships. This course
        prepares students to interact with sensitivity, respect, and
        effectiveness in counseling contexts.
      </p>
    </div>
  </main>
</mat-dialog-content>

<app-footer-modal />
