<main class="pages">
  <div class="content fadeIn">
    <h2>Certificate of Phlebotomy Technician</h2>
    <div class="line"></div>
    <p>
      Phlebotomy technicians primarily draw blood for laboratory testing, as
      well as for blood donations, transfusions, and research, in a variety of
      settings, including hospitals, clinics, laboratories, private practices
      and blood donation centers.
    </p>

    <h3>
      The principal responsibilities of a phlebotomy technician are as follows:
    </h3>

    <ul>
      <li>
        Verify the identity of a patient or donor to ensure that the test order
        is for that person and that the blood is properly labeled.
      </li>
      <li>
        Explain the procedure to the patient or donor to reduce any anxiety
        about having their blood drawn.
      </li>
      <li>
        Draw blood from the patient or donor using a variety of techniques, such
        as venipuncture or capillary puncture.
      </li>
      <li>Carefully label the sample for processing and testing.</li>
      <li>Enter the patient information into a database.</li>
      <li>
        Assemble and maintain needles, test tubes, blood vials and other medical
        instruments.
      </li>
      <li>
        Assist in the recovery of patients or donors with adverse reactions
        after their blood is drawn.
      </li>
      <li>
        Maintain clean and sanitary work areas to avoid infection and other
        complications.
      </li>
    </ul>

    <p>
      In diagnostic and medical laboratories, often the only interaction the
      patient has is with the phlebotomy technician. Therefore, the appearance
      and professionalism of the phlebotomist is of utmost importance.
    </p>

    <p>
      More and more employers require a professional phlebotomy technician
      certification.
    </p>

    <h3>Necessary requirements:</h3>
    <p>
      Graduation from High School (or equivalent), and graduation from an
      approved Phlebotomy Technician program within the last 5 years.
    </p>

    <p>Or</p>

    <p>
      1-year verifiable work experience as a Phlebotomy Technician professional.
    </p>

    <h3>Phlebotomy Blueprint</h3>
    <h3>Domains</h3>
    <ul>
      <li>I. Phlebotomy Technique - 35 Hours</li>
      <li>II. Specimen Collection and Processing - 40 Hours</li>
      <li>III. Clerical Skills and Duties - 18 Hours</li>
      <li>IV. Safety Standards and Procedures - 25 Hours</li>
      <li>V. Terminology, Anatomy and Physiology - 32 Hours</li>
    </ul>

    <h3>I. Phlebotomy Technique</h3>
    <ul>
      <li>
        Competency 1. Identifying patient properly, collecting required
        demographic information, patient's insurance and emergency contact
        information
      </li>
      <li>
        Competency 2. Selecting appropriate containers for specimens and knowing
        the requirements for container identification
      </li>
      <li>Competency 3. Preparing patient for various tests</li>
      <li>Competency 4. Knowing and selecting proper venipuncture site</li>
      <li>Competency 5. Performing venipunctures</li>
      <li>Competency 6. Collecting specimen in proper tube-draw sequence</li>
      <li>Competency 7. Performing capillary punctures</li>
      <li>Competency 8. Performing heel punctures on infants</li>
      <li>
        Competency 9. Providing proper post care of venous, arterial and
        capillary puncture sites
      </li>
      <li>
        Competency 10. Handling blood samples to maintain specimen integrity
      </li>
      <li>Competency 11. Labeling specimens according to proper protocol</li>
      <li>
        Competency 12. Knowing the difference between different colored topped
        blood collection tubes
      </li>
      <li>
        Competency 13. Knowing anticoagulants used in blood collection tubes
      </li>
      <li>
        Competency 14. Proper use of gloves, masks, face shields, alcohol preps,
        tourniquets, and all blood collection supplies
      </li>
      <li>
        Competency 15. Importance of collecting the correct volume of blood
      </li>
      <li>Competency 16. Understanding the importance of hand hygiene</li>
      <li>Competency 17. Knowing penetration depth of lancets for newborns</li>
      <li>Competency 18. Understanding tube inversions and centrifuging</li>
      <li>Competency 19. Understanding blood pressure</li>
      <li>
        Competency 20. Understanding potential sources of infectious material
      </li>
      <li>Competency 21. Contact with patients in protective isolation</li>
      <li>
        Competency 22. Communicating test results with physician and/or nurse
      </li>
    </ul>

    <h3>II. Specimen Collection and Processing</h3>
    <ul>
      <li>
        Competency 1. Properly handling non-blood specimens to maintain their
        integrity
      </li>
      <li>
        Competency 2. Properly collecting and handling specimens with time,
        temperature or other special requirements
      </li>
      <li>
        Competency 3. Properly collecting, handling and tracking specimens for
        blood cultures
      </li>
      <li>Competency 4. Selecting proper department for specimen delivery</li>
      <li>
        Competency 5. Processing specimens for transport to laboratories and/or
        shipping
      </li>
      <li>
        Competency 6. Instructing patient in the collection of blood and urine
        specimens
      </li>
      <li>
        Competency 7. Instructing patient in the collection of other non-blood
        specimens
      </li>
      <li>Competency 8. Collecting point-of-care testing specimens</li>
      <li>Competency 9. Meeting quality assurance standards</li>
      <li>Competency 10. How to perform a finger stick</li>
      <li>
        Competency 11. Knowing different types of collection needles and gauges
        and their use
      </li>
      <li>Competency 12. Proper insertion of the needle during venipuncture</li>
      <li>Competency 13. Designing a report form for laboratory results</li>
      <li>Competency 14. Identifying various modes of disease transmission</li>
      <li>
        Competency 15. Proper disposal of needles and safe handling of all
        sharps and sharp containers
      </li>
      <li>Competency 16. Proper storage and transfer of blood specimens</li>
      <li>Competency 17. Proper order of draw for blood collection tubes</li>
      <li>Competency 18. Locating veins used for blood draws</li>
      <li>
        Competency 19. Knowing the factors that influence injection site
        selection
      </li>
      <li>
        Competency 20. Understanding sterilization of instruments and
        one-time-use of blood drawing needs syringes, etc
      </li>
      <li>
        Competency 21. Understanding basic blood tests, such blood glucose
        levels, blood count, microscope slide smears, hemoglobin, etc
      </li>
    </ul>

    <h3>III. Clerical Skills and Duties</h3>
    <ul>
      <li>
        Competency 1. Charting or filing laboratory-generated reports properly
      </li>
      <li>
        Competency 2. Entering, retrieving and verifying patient collection data
        and special notations using appropriate sources
      </li>
      <li>
        Competency 3. Maintaining inventory levels, ordering and restocking
        supplies
      </li>
      <li>
        Competency 4. Scope of practice, role and responsibilities of Phlebotomy
        Technicians
      </li>
      <li>Competency 5. Maintaining and storing patient blood draws</li>
      <li>
        Competency 6. Understanding computerized equipment for patient
        identification and associated blood tests
      </li>
      <li>
        Competency 7. Communicating with healthcare team and patients for proper
        patient care
      </li>
      <li>
        Competency 8. Scheduling appointments using applicable office software
        in order to accurately manage patient care, test results, etc
      </li>
    </ul>

    <h3>IV. Safety Standards and Procedures</h3>
    <ul>
      <li>
        Competency 1. Identifying appropriate regulatory and standard-setting
        agencies
      </li>
      <li>
        Competency 2. Applying information obtained from OSHA Hazardous
        Communications Standards
      </li>
      <li>
        Competency 3. Employing infection control and isolation techniques
      </li>
      <li>
        Competency 4. Understand legal and ethical standards such as avoiding
        actions that could lead to injury, pain, or suffering. Legal
        regulations, including HIPAA, Patient Bill of Rights, etc.
      </li>
      <li>
        Competency 5. Identifying issues and ramifications related to
        malpractice and improper use of protocols
      </li>
      <li>Competency 6. Reporting abnormal results to provider</li>
      <li>
        Competency 7. Understanding of hierarchy of medical personnel and their
        roles within the levels of authority
      </li>
      <li>
        Competency 8. Applying different communication techniques to diverse
        groups of people
      </li>
    </ul>

    <h3>V. Terminology, Anatomy and Physiology</h3>
    <ul>
      <li>
        Competency 1. Employing multifaceted medical terminology including
        suffixes, prefixes and root words and measurement conversion skills
      </li>
      <li>Competency 2. Applying knowledge of basic anatomy</li>
      <li>Competency 3. Applying knowledge of physiological systems</li>
      <li>Competency 4. Knowing common blood tests</li>
      <li>Competency 5. Knowing types and names of blood cells</li>
      <li>Competency 6. Understanding neonatology blood draws</li>
      <li>Competency 7. Understanding blood cell formation</li>
      <li>Competency 8. Knowledge of common blood disorders</li>
      <li>Competency 9. Understanding the makeup of blood</li>
      <li>Competency 10. Knowing the normal type of PH range</li>
      <li>
        Competency 11. Understanding basic terminology in regards to medical
        procedures and diseases. Knowing and understanding terminology, such as
        occlusion, glycolytic action, homeostasis, etc.
      </li>
      <li>Competency 12. Understanding different body fluids</li>
      <li>Competency 13. Needles size and gauge selection factors</li>
      <li>Competency 14. Understanding body structure terminology</li>
      <li>
        Competency 15. Identifying and recording the normal ranges of vital
        signs in different groups of people
      </li>
    </ul>
  </div>
</main>
