<main class="pages">
  <div class="content fadeIn">
    <h2>Certificado de Asistente Médico Clínico y Administrativo</h2>
    <div class="line"></div>
    <p>
      Un Asistente Médico es una persona que, bajo la dirección de un médico,
      realiza diversas tareas administrativas y clínicas de rutina en un
      hospital, clínica o instalación similar.
    </p>
    <p>
      Es responsabilidad del Asistente Médico conocer las leyes y políticas
      relativas al alcance de la práctica de un Asistente Médico en el estado y
      la instalación en la que trabajan. Las responsabilidades de un asistente
      médico pueden incluir, pero no se limitan a lo siguiente:
    </p>

    <h3>Responsabilidades Administrativas de un Asistente Médico</h3>
    <ul>
      <li>Programar citas de pacientes</li>
      <li>Usar la computadora para diversas aplicaciones</li>
      <li>Responder líneas telefónicas</li>
      <li>
        Saludar a los pacientes y ayudarlos a llegar a las salas de examen
      </li>
      <li>Archivar registros médicos de pacientes</li>
      <li>Ingresar información del paciente en registros y gráficos</li>
      <li>Ayudar con formularios de seguro</li>
      <li>Configurar pruebas y procedimientos de laboratorio</li>
      <li>Organizar admisiones hospitalarias</li>
      <li>Clasificar correo</li>
    </ul>

    <h3>Responsabilidades Clínicas de un Asistente Médico</h3>
    <ul>
      <li>Tomar el historial médico del paciente</li>
      <li>Explicar procedimientos a los pacientes</li>
      <li>Recolectar muestras de sangre y orina</li>
      <li>Preparar la sala de examen</li>
      <li>Preparar a los pacientes para el examen</li>
      <li>Ayudar al médico o enfermero durante un examen</li>
      <li>Informar a los pacientes sobre medicamentos y dietas</li>
      <li>
        Preparar y administrar medicamentos según las indicaciones de un médico
      </li>
      <li>Extraer sangre con aguja y tubos de recolección</li>
      <li>Tomar ECG</li>
      <li>Retirar suturas</li>
    </ul>

    <h3>Responsabilidades de Comunicación y Contacto con el Paciente</h3>
    <p>
      Ayudar a los pacientes a relajarse en el consultorio del médico y, a
      menudo, explicar las instrucciones del médico. El asistente médico puede
      actuar como una interfaz para transmitir mensajes del médico al paciente.
    </p>

    <p>
      Cada vez más empleadores exigen una certificación profesional de Asistente
      Médico.
    </p>

    <h3>Requisitos necesarios:</h3>
    <p>
      Graduación de la escuela secundaria (o equivalente) y graduación de un
      programa aprobado de Asistente Médico en los últimos 5 años.
    </p>

    <p>O</p>

    <p>
      2 años de experiencia laboral verificable como profesional Asistente
      Médico.
    </p>

    <h3>Plan de Estudios de Asistente Médico Clínico y Administrativo</h3>
    <h3>Dominios</h3>
    <ul>
      <li>I. Farmacología - 20 Horas</li>
      <li>II. Procedimientos Médicos - 25 Horas</li>
      <li>III. Atención al Paciente - 50 Horas</li>
      <li>IV. Flebotomía - 35 Horas</li>
      <li>V. ECG - 10 Horas</li>
      <li>VI. Otras Pruebas de Diagnóstico - 15 Horas</li>
      <li>VII. Cuestiones Legales y Éticas - 25 Horas</li>
      <li>VIII. Deberes Administrativos - 20 Horas</li>
    </ul>

    <h3>I. Farmacología</h3>
    <ul>
      <li>
        Competencia 1. Manejar medicamentos de manera que cumpla con las pautas
        de la agencia reguladora (por ejemplo, DEA) para garantizar el pedido,
        documentación y almacenamiento adecuados de medicamentos en un centro
        médico.
      </li>
      <li>
        Competencia 2. Completar recetas y autorizaciones de recargas de
        medicamentos siguiendo los requisitos legales para garantizar el uso
        adecuado de los medicamentos y la confidencialidad del paciente.
      </li>
      <li>
        Competencia 3. Identificar medicamentos de uso común por nombres
        genéricos y de marca para facilitar las comunicaciones con farmacias y
        pacientes.
      </li>
      <li>
        Competencia 4. Realizar cálculos básicos relacionados con medicamentos
        utilizando referencias y herramientas adecuadas para determinar la dosis
        correcta.
      </li>
      <li>
        Competencia 5. Verificar medicamentos para posibles interacciones
        utilizando referencias farmacéuticas para prevenir reacciones adversas a
        los medicamentos.
      </li>
      <li>
        Competencia 6. Reconocer indicaciones generales para medicamentos
        terapéuticos comunes utilizando el conocimiento de las condiciones
        médicas y sus tratamientos para responder adecuadamente a las
        indicaciones del paciente.
      </li>
    </ul>

    <h3>II. Procedimientos Médicos</h3>
    <ul>
      <li>
        Competencia 1. Usar técnicas de seguridad (por ejemplo, limpieza,
        desinfección, esterilización, asepsia médica) al manipular y desechar
        productos químicos y desechos biológicos utilizando equipo de
        protección.
      </li>
      <li>
        Competencia 2. Cumplir con las regulaciones (por ejemplo, OSHA y CDC) al
        manipular pacientes y desechos químicos y biológicos para prevenir la
        transmisión de enfermedades.
      </li>
      <li>
        Competencia 3. Usar procedimientos de seguridad al manipular pacientes
        con enfermedades infecciosas utilizando equipo de protección y
        procedimientos establecidos (por ejemplo, aislamiento).
      </li>
      <li>
        Competencia 4. Manejar situaciones de emergencia en la oficina o por
        teléfono utilizando estándares apropiados y procedimientos establecidos
        para proteger la seguridad personal, del paciente y del centro médico.
      </li>
    </ul>

    <h3>III. Atención al Paciente</h3>
    <ul>
      <li>
        Competencia 1. Obtener signos vitales del paciente utilizando
        instrumentos apropiados (por ejemplo, báscula, estetoscopio, manguito de
        presión arterial, termómetro, oxímetro de pulso) para establecer
        información de salud de referencia.
      </li>
      <li>
        Competencia 2. Registrar los signos vitales del paciente y el historial
        médico/familiar del paciente utilizando el sistema EMR/EHR o basado en
        papel aplicable.
      </li>
      <li>
        Competencia 3. Identificar la posición correcta para un paciente dado el
        examen o procedimiento para preparar adecuada y seguramente al paciente.
      </li>
      <li>
        Competencia 4. Transferir al paciente utilizando la mecánica corporal
        correcta para garantizar la seguridad del paciente y del personal
        médico.
      </li>
      <li>
        Competencia 5. Realizar exámenes de la vista del paciente utilizando
        materiales y procedimientos adecuados para evaluar la condición del
        paciente.
      </li>
      <li>
        Competencia 6. Ayudar al médico con los procedimientos del paciente
        utilizando herramientas y procesos adecuados para brindar atención al
        paciente.
      </li>
      <li>
        Competencia 7. Evaluar el nivel de dolor del paciente utilizando una
        escala de dolor para determinar el nivel actual de comodidad física del
        paciente.
      </li>
      <li>
        Competencia 8. Realizar irrigación de oídos en un paciente utilizando
        herramientas y soluciones adecuadas para eliminar la acumulación de cera
        o materiales extraños del oído.
      </li>
      <li>
        Competencia 9. Reconocer medidas anormales de los resultados de
        detección para informar al personal médico adecuado para el seguimiento
        con el paciente.
      </li>
      <li>
        Competencia 10. Mantener las salas de examen de pacientes, incluidos los
        suministros adecuados y aplicando procedimientos de limpieza adecuados.
      </li>
      <li>
        Competencia 11. Revisar instrucciones básicas relacionadas con
        medicamentos, tratamientos, dispositivos y equipos utilizando
        procedimientos adecuados para garantizar un uso seguro por parte del
        paciente.
      </li>
      <li>
        Competencia 12. Responder al paciente con problemas respiratorios
        utilizando equipos relacionados con oxígeno y procedimientos adecuados
        para aliviar la condición del paciente.
      </li>
      <li>
        Competencia 13. Tratar las heridas del paciente utilizando técnicas
        adecuadas de limpieza y vendaje.
      </li>
      <li>
        Competencia 14. Realizar pruebas y exámenes necesarios (por ejemplo,
        ECG, hemocultivos, RCP, signos vitales) en un paciente en estado crítico
        utilizando procedimientos adecuados.
      </li>
      <li>
        Competencia 15. Tomar precauciones para proteger la salud y seguridad
        del personal médico y los pacientes, incluida la protección contra
        enfermedades transmitidas por el aire y el uso de guantes.
      </li>
    </ul>

    <h3>IV. Flebotomía</h3>
    <ul>
      <li>
        Competencia 1. Verificar la identificación del paciente y la
        verificación de la orden utilizando estándares para garantizar la
        seguridad del paciente.
      </li>
      <li>
        Competencia 2. Verificar que el paciente siguió los procedimientos
        correctos (por ejemplo, ayuno) antes de la prueba para evaluar las
        condiciones previas a la prueba antes de la recolección de la muestra.
      </li>
      <li>
        Competencia 3. Seleccionar el equipo adecuado (por ejemplo, calibre de
        aguja, tubo correcto) dada la prueba de sangre ordenada y el tipo/edad
        del paciente.
      </li>
      <li>
        Competencia 4. Preparar al paciente y el sitio para la extracción de
        sangre utilizando procedimientos adecuados para garantizar una
        recolección segura.
      </li>
      <li>
        Competencia 5. Realizar la extracción de sangre utilizando
        procedimientos adecuados para garantizar el almacenamiento adecuado de
        la recolección y el resultado preciso de la muestra.
      </li>
      <li>
        Competencia 6. Identificar aditivos en tubos de recolección de sangre al
        vacío para verificar la técnica adecuada de inversión y llenado según el
        requisito del manual de laboratorio.
      </li>
      <li>
        Competencia 7. Llenar el tubo de recolección de sangre correctamente
        siguiendo las recomendaciones del fabricante para garantizar el
        protocolo adecuado para llenar cada tubo y el número de inversiones para
        cada tubo.
      </li>
      <li>
        Competencia 8. Evaluar el historial del paciente antes de realizar la
        punción venosa para asegurar que el paciente no desarrolle ninguna
        reacción.
      </li>
      <li>
        Competencia 9. Realizar punciones capilares utilizando el método de
        punción digital para obtener una muestra.
      </li>
      <li>
        Competencia 10. Responder a complicaciones (por ejemplo, hematoma,
        desmayo del paciente) utilizando métodos adecuados para garantizar la
        seguridad del paciente.
      </li>
      <li>
        Competencia 11. Reconocer errores preanalíticos y complicaciones para
        obtener una cantidad suficiente de muestra.
      </li>
      <li>
        Competencia 12. Procesar muestras (por ejemplo, manipular, etiquetar,
        transportar, almacenar) de acuerdo con métodos adecuados para garantizar
        resultados precisos.
      </li>
      <li>
        Competencia 13. Usar agujas mariposa para obtener una muestra para
        pacientes que tienen venas pequeñas o difíciles de alcanzar.
      </li>
    </ul>

    <h3>V. ECG</h3>
    <ul>
      <li>
        Competencia 1. Explicar el procedimiento de ECG al paciente utilizando
        un lenguaje adecuado para garantizar que el paciente comprenda el
        procedimiento.
      </li>
      <li>
        Competencia 2. Preparar al paciente para la prueba de ECG utilizando
        procedimientos adecuados basados en el paciente específico para
        completar la prueba.
      </li>
      <li>
        Competencia 3. Colocar electrodos en el paciente utilizando
        procedimientos y colocación adecuados para completar la prueba.
      </li>
      <li>
        Competencia 4. Registrar trazados de ECG, signos vitales y tolerancia en
        un paciente utilizando recursos y técnicas adecuados según la condición
        médica del paciente.
      </li>
    </ul>

    <h3>VI. Otras Pruebas de Diagnóstico</h3>
    <ul>
      <li>
        Competencia 1. Obtener muestra (por ejemplo, análisis de orina,
        hemoglobina, glucosa, embarazo) en la forma correcta para completar la
        prueba en el punto de atención ordenada por el médico.
      </li>
      <li>
        Competencia 2. Instruir a los pacientes en la recolección de muestras o
        procedimiento de detección utilizando procedimientos y materiales
        previos a la recolección aplicables para garantizar una detección o
        recolección precisa.
      </li>
      <li>
        Competencia 3. Gestionar el mantenimiento y calibración de
        instrumentos/maquinaria médica identificando y registrando peligros o
        problemas de mantenimiento e implementando procedimientos de control de
        calidad.
      </li>
    </ul>

    <h3>VII. Cuestiones Legales y Éticas</h3>
    <ul>
      <li>
        Competencia 1. Reconocer las responsabilidades legales y el alcance de
        la práctica para los asistentes médicos utilizando estándares para
        garantizar la justicia y seguridad del paciente.
      </li>
      <li>
        Competencia 2. Reconocer los estándares éticos aplicables para
        garantizar la justicia y seguridad del paciente y profesional.
      </li>
      <li>
        Competencia 3. Cumplir con las leyes HIPAA para garantizar la
        confidencialidad del paciente.
      </li>
      <li>
        Competencia 4. Seguir los procedimientos adecuados para manejar
        incidentes reportables (por ejemplo, VIH, fluidos corporales humanos)
        utilizando los estándares de OSHA para mantener la confidencialidad del
        paciente.
      </li>
      <li>
        Competencia 5. Marcar y mostrar respeto por las preferencias del
        paciente en la identificación de género.
      </li>
    </ul>

    <h3>VIII. Deberes Administrativos</h3>
    <ul>
      <li>
        Competencia 1. Programar citas utilizando el software de oficina
        aplicable para gestionar con precisión la atención al paciente.
      </li>
      <li>
        Competencia 2. Manejar registros de pacientes utilizando procedimientos
        para actualizar, registrar procedimientos, vacunas y resultados de
        pruebas, y archivar para garantizar registros de pacientes precisos y
        confidenciales.
      </li>
      <li>
        Competencia 3. Abastecer el consultorio médico utilizando procedimientos
        y proveedores adecuados para respaldar la función del centro médico.
      </li>
      <li>
        Competencia 4. Obtener autorizaciones previas de medicamentos, contacto
        con pacientes para mantenimiento de atención médica y exámenes de
        bienestar, referencias y autorizaciones para especialistas o exámenes
        especiales utilizando procedimientos adecuados para garantizar la
        atención al paciente.
      </li>
    </ul>
  </div>
</main>
