<app-banner class="fadeIn" [banner]="flyer" [alt]="alt" />
<mat-dialog-content>
  <main class="fadeIn">
    <h2>BACC-TPF-500 - Theology and Psychology: Foundations</h2>
    <div class="line"></div>

    <div class="content fadeIn">
      <p>
        The course <span>Theology and Psychology: Fundamentals</span> offers an
        in-depth exploration of the relationship between psychology and
        theological principles, seeking points of convergence between the
        Christian faith and the understanding of human behavior.
      </p>

      <ul>
        <li>
          Explore the foundations of psychology and theology as complementary
          disciplines.
        </li>
        <li>
          Analyze how theological beliefs influence mental and emotional health.
        </li>
        <li>
          Reflect on the role of spirituality in healing processes and personal
          growth.
        </li>
        <li>
          Promote an integrative view between faith and psychological science.
        </li>
        <li>
          Develop conceptual tools to apply psychological principles in faith
          contexts.
        </li>
      </ul>

      <h3>Main Topics:</h3>
      <ul>
        <li>Introduction to psychology and theology.</li>
        <li>
          Historical perspectives on the relationship between faith and the
          mind.
        </li>
        <li>The role of spirituality in mental health.</li>
        <li>Christian ethics and psychological practice.</li>
        <li>Integrative models between theology and psychology.</li>
      </ul>

      <h3>Methodology:</h3>
      <p>
        The course includes theoretical readings, debates, case studies,
        personal reflections, and analysis of biblical and psychological texts.
        Active participation and dialogue between perspectives are encouraged.
      </p>

      <h3>Assessment:</h3>
      <p>The course assessment will include:</p>
      <ul>
        <li>Reflective essays on the integration of faith and psychology.</li>
        <li>
          Case analysis involving theological and psychological principles.
        </li>
        <li>Presentations on integrative models.</li>
        <li>Participation in discussion forums and thematic debates.</li>
      </ul>

      <h3>Course Significance:</h3>
      <p>
        This course enables students to develop a comprehensive understanding of
        the human being, considering both its spiritual and psychological
        dimensions, essential for those wishing to provide informed and
        sensitive counseling from a Christian perspective.
      </p>
    </div>
  </main>
</mat-dialog-content>

<app-footer-modal />
