<p>
  La Licenciatura en Comunicación de World Theology University ofrece una
  formación integral que abarca todos los aspectos clave de la comunicación,
  desde la teoría hasta la práctica, en diversos contextos profesionales. A
  continuación, se presenta la lista de cursos que los estudiantes cursarán a lo
  largo del programa:
</p>
<p>
  <strong>BA-DCC-IT-100 - Introducción a la Comunicación</strong> - Historia y
  teoría de la comunicación, principios básicos y la importancia de la
  comunicación en la sociedad.
</p>
<button mat-button (click)="openDialog('100-ba-dcc-it')">Learn more...</button>
<p>
  <strong>BA-DCC-PS-200 - Psicología de la Comunicación</strong> - Estudio de
  cómo la psicología influye en el proceso comunicativo, el comportamiento y las
  percepciones humanas.
</p>
<button mat-button (click)="openDialog('200-ba-dcc-ps')">Learn more...</button>
<p>
  <strong>BA-DCC-CT-300 - Teoría de la Comunicación I</strong> - Principales
  teorías de la comunicación: estructuralismo, funcionalismo y teorías críticas.
</p>
<button mat-button (click)="openDialog('300-ba-dcc-ct')">Learn more...</button>
<p>
  <strong>BA-DCC-WCW-400 - Escritura y Escritura Creativa</strong> - Desarrollo
  de habilidades de escritura, tanto creativa como técnica, para diversos
  formatos y plataformas.
</p>
<button mat-button (click)="openDialog('400-ba-dcc-wcw')">Learn more...</button>
<p>
  <strong>BA-DCC-MT-500 - Teoría de los Medios</strong> - Análisis de los medios
  de comunicación masivos y su impacto en la cultura y la sociedad.
</p>
<button mat-button (click)="openDialog('500-ba-dcc-mt')">Learn more...</button>
<p>
  <strong>BA-DCC-PPST-600 - Técnicas de Presentación y Oratoria</strong> -
  Estrategias de comunicación verbal y no verbal para presentaciones efectivas.
</p>
<button mat-button (click)="openDialog('600-ba-dcc-ppst')">
  Learn more...
</button>
<p>
  <strong>BA-DCC-OC-700 - Comunicación Organizacional</strong> - Estrategias de
  comunicación interna y externa en organizaciones, empresas y gobiernos.
</p>
<button mat-button (click)="openDialog('700-ba-dcc-oc')">Learn more...</button>
<p>
  <strong>BA-DCC-DM-800 - Marketing Digital</strong> - Principios y herramientas
  del marketing digital, redes sociales, SEO, SEM y análisis de datos.
</p>
<button mat-button (click)="openDialog('800-ba-dcc-dm')">Learn more...</button>
<p>
  <strong>BA-DCC-JW-900 - Redacción Periodística</strong> - Técnicas para la
  redacción de noticias, artículos, reportajes y otros tipos de contenido
  periodístico.
</p>
<button mat-button (click)="openDialog('900-ba-dcc-jw')">Learn more...</button>
<p>
  <strong>BA-DCC-PDV-1000 - Fotografía y Video Digital</strong> - Introducción a
  la producción visual para la comunicación, incluyendo fotografía y producción
  de video.
</p>
<button mat-button (click)="openDialog('1000-ba-dcc-pdv')">
  Learn more...
</button>
<p>
  <strong>BA-DCC-IC-1100 - Comunicación Intercultural</strong> - Estudio de la
  comunicación entre diferentes culturas y su importancia en un mundo
  globalizado.
</p>
<button mat-button (click)="openDialog('1100-ba-dcc-ic')">Learn more...</button>
<p>
  <strong>BA-DCC-PRIM-1200 - Relaciones Públicas y Gestión de Imagen</strong> -
  Estrategias para crear y mantener una imagen positiva de empresas y figuras
  públicas.
</p>
<button mat-button (click)="openDialog('1200-ba-dcc-prim')">
  Learn more...
</button>
<p>
  <strong>BA-DCC-RTP-1300 - Producción en Radio y Televisión</strong> -
  Introducción a la producción y transmisión en medios tradicionales como la
  radio y la televisión.
</p>
<button mat-button (click)="openDialog('1300-ba-dcc-rtp')">
  Learn more...
</button>
<p>
  <strong>BA-DCC-DCP-1400 - Producción de Contenidos Digitales</strong> -
  Creación de contenido para blogs, podcasts, canales de YouTube y plataformas
  de streaming.
</p>
<button mat-button (click)="openDialog('1400-ba-dcc-dcp')">
  Learn more...
</button>
<p>
  <strong>BA-DCC-ACA-1500 - Publicidad y Publicidad Creativa</strong> -
  Estrategias publicitarias y creación de campañas efectivas en diversos medios.
</p>
<button mat-button (click)="openDialog('1500-ba-dcc-aca')">
  Learn more...
</button>
<p>
  <strong>BA-DCC-CPM-1600 - Gestión de Proyectos de Comunicación</strong> -
  Técnicas y herramientas para planificar, ejecutar y evaluar proyectos de
  comunicación.
</p>
<button mat-button (click)="openDialog('1600-ba-dcc-cpm')">
  Learn more...
</button>
<p>
  <strong>BA-DCC-CSC-1700 - Comunicación para el Cambio Social</strong> -
  Estrategias de comunicación utilizadas en movimientos sociales y campañas de
  cambio.
</p>
<button mat-button (click)="openDialog('1700-ba-dcc-csc')">
  Learn more...
</button>
<p>
  <strong>BA-DCC-CCM-1800 - Gestión de la Comunicación en Crisis</strong> -
  Planificación y ejecución de estrategias para manejar situaciones de crisis
  comunicacional.
</p>
<button mat-button (click)="openDialog('1800-ba-dcc-ccm')">
  Learn more...
</button>
<p>
  <strong>BA-DCC-PC-1900 - Comunicación Política</strong> - Estrategias de
  comunicación aplicadas a campañas políticas, gestión de mensajes y medios
  políticos.
</p>
<button mat-button (click)="openDialog('1900-ba-dcc-pc')">Learn more...</button>
<p>
  <strong
    >BA-DCC-EMCC-2000 - Gestión de Eventos y Comunicación Corporativa</strong
  >
  - Diseño y ejecución de eventos, y comunicación en el contexto corporativo y
  empresarial.
</p>
<button mat-button (click)="openDialog('2000-dcc-emcc')">Learn more...</button>
<p>
  <strong>BA-DCC-ABS-2100 - Estudios de Audiencia y Comportamiento</strong> -
  Análisis del comportamiento de audiencias y adaptación de la comunicación a
  diferentes grupos demográficos.
</p>
<button mat-button (click)="openDialog('2100-ba-dcc-abs')">
  Learn more...
</button>
<p>
  <strong>BA-DCC-ADA-2200 - Publicidad Digital Avanzada</strong> - Creación de
  campañas publicitarias en plataformas digitales avanzadas como Google Ads,
  Facebook Ads, entre otras.
</p>
<button mat-button (click)="openDialog('2200-ba-dcc-ada')">
  Learn more...
</button>
<p>
  <strong>BA-DCC-MLA-2300 - Legislación y Ética en Medios</strong> - Estudio de
  leyes y regulaciones que afectan a los medios de comunicación y principios
  éticos en la práctica profesional.
</p>
<button mat-button (click)="openDialog('2300-ba-dcc-mla')">
  Learn more...
</button>
<p>
  <strong>BA-DCC-SMMS-2400 - Estrategias de Marketing en Redes Sociales</strong>
  - Técnicas para la gestión y promoción de marcas y productos a través de redes
  sociales.
</p>
<button mat-button (click)="openDialog('2400-ba-dcc-smms')">
  Learn more...
</button>
<p>
  <strong>BA-DCC-CR-2500 - Investigación en Comunicación</strong> - Métodos y
  técnicas de investigación aplicadas a la comunicación, incluyendo estudios
  cualitativos y cuantitativos.
</p>
<button mat-button (click)="openDialog('2500-ba-dcc-cr')">Learn more...</button>
<p>
  <strong>BA-DCC-CMA-2600 - Análisis de Contenidos y Medios</strong> - Estudio
  crítico de los medios de comunicación y sus efectos en la sociedad.
</p>
<button mat-button (click)="openDialog('2600-ba-dcc-cma')">
  Learn more...
</button>
<p>
  <strong>BA-DCC-PI-2700 - Prácticas Profesionales</strong> - Experiencia
  práctica en empresas, medios de comunicación o agencias de relaciones
  públicas, trabajando en proyectos reales.
</p>
<button mat-button (click)="openDialog('2700-ba-dcc-pi')">Learn more...</button>
<p>
  <strong>BA-DCC-BT-2800 - Tesis de Licenciatura</strong> - Desarrollo de una
  tesis en un área de la comunicación seleccionada por el estudiante, con
  asesoramiento de un tutor académico.
</p>
<button mat-button (click)="openDialog('2800-ba-dcc-bt')">Learn more...</button>
<!-- <p>
  <strong>BA-DCC-CFE-2900 - Examen Final Integrador</strong> - Evaluación final
  de todos los conocimientos adquiridos a lo largo del programa, incluyendo
  teorías, prácticas y habilidades comunicativas.
</p>
<button mat-button (click)="openDialog('2900-ba-dcc-cfe')">
  Learn more...
</button> -->
<!-- <strong>Cursos Electivos (Opcionales)</strong> - -->

<!-- <ul>
  <p>Comunicación en la Era Digital</p>
  <p>Tecnologías Emergentes en los Medios</p>
  <p>Gestión de la Reputación Online</p>
  <p>Narrativa Transmedia</p>
  <p>Redacción Publicitaria</p>
  <p>Comunicación Visual y Diseño Gráfico</p>
</ul> -->
