<app-banner class="fadeIn" [banner]="flyer" [alt]="alt" />

<main class="pages">
  <div class="content fadeIn">
    <!-- <app-breadcams />

    <h2> Programa de Maestría en Religión y Liderazgo Público (MRLP) </h2>

    <div class="line"></div> -->

    <mat-tab-group dynamicHeight>
      <mat-tab label="Presentación">
        <div class="bodyContent">
          <p>
            Desde los albores de la humanidad, las religiones han desempeñado un
            papel fundamental en moldear el pensamiento, la cultura y las
            acciones de las sociedades. A lo largo de la historia, la religión
            ha sido tanto una fuente de inspiración para actos de heroísmo y
            justicia, como una justificación para algunos de los eventos más
            oscuros. A pesar de los avances tecnológicos y la creciente
            influencia de las democracias seculares, las creencias religiosas
            continúan siendo una fuerza poderosa en la vida pública y en el día
            a día de las personas.
          </p>

          <p>
            Hoy en día, la religión sigue ocupando un lugar central en los
            debates sobre ética, política, paz y conflicto, con una influencia
            que se extiende a través de diferentes campos profesionales y
            sectores de la sociedad. Comprender esta influencia es más
            importante que nunca, especialmente para aquellos que trabajan en
            ámbitos donde las decisiones y acciones tienen un impacto directo en
            las comunidades y en el bienestar social.
          </p>

          <p>
            El programa de Maestría en Religión y Liderazgo Público (MRLP) de
            World Theology University está diseñado para atender esta necesidad.
            Se trata de un programa de un año, orientado a profesionales con
            experiencia en campos principalmente "seculares", que están
            comprometidos con generar un cambio positivo en la sociedad y que
            ven en la religión una fuente de inspiración para la paz y la
            justicia. Entre los candidatos ideales se encuentran periodistas,
            funcionarios gubernamentales, trabajadores humanitarios, educadores,
            artistas, profesionales de la salud, empresarios y abogados, entre
            otros, quienes podrán aprovechar este programa para desarrollar un
            entendimiento profundo sobre el papel de la religión en la esfera
            pública y aplicarlo de manera efectiva en sus profesiones.
          </p>

          <p>
            El MRLP ofrece una oportunidad única para explorar las complejidades
            de la religión en contextos sociales, políticos y culturales,
            permitiendo a los estudiantes adaptar su experiencia de aprendizaje
            a sus intereses específicos. Al final del programa, los graduados
            estarán preparados para ser líderes informados en sus campos,
            capaces de articular y aplicar una comprensión rica y matizada de
            cómo la religión influye en lo público, mientras contribuyen a un
            mundo más justo y pacífico.
          </p>
        </div>
      </mat-tab>

      <mat-tab label="Información">
        <div class="bodyContent">
          <p>
            El programa de Maestría en Religión y Liderazgo Público (MRLP) de
            World Theology University (World Theology University) ofrece una
            experiencia educativa única, caracterizada por su enfoque no
            confesional y académico. Esto significa que no se adscribe a ninguna
            tradición religiosa en particular, lo que permite a los estudiantes
            abordar el estudio de la religión de manera objetiva y con un
            espíritu crítico. El programa está profundamente comprometido con la
            promoción de una paz justa, ayudando a los estudiantes a comprender
            las dinámicas de poder, paz y conflicto que rodean las creencias y
            prácticas religiosas en el mundo contemporáneo.
          </p>

          <p>
            Una de las características más importantes del MRLP es su
            flexibilidad. Los estudiantes tienen la oportunidad de personalizar
            su plan de estudios para que se ajuste a sus intereses profesionales
            y académicos. Este enfoque interdisciplinario permite que los
            estudiantes tomen cursos tanto de la Escuela de Divinidad World
            Theology University como de otras facultades de la universidad. De
            esta manera, los estudiantes pueden explorar la relación entre la
            religión y temas como la política, el derecho, la salud pública, el
            activismo, entre otros, adaptando su formación a las necesidades y
            desafíos de sus propios contextos laborales.
          </p>

          <h3>¿Por qué estudiar Religión y Liderazgo Público?</h3>
          <p>
            A lo largo de la historia, la religión ha jugado un papel central en
            la configuración de las sociedades. Sin embargo, en el mundo actual,
            donde las interacciones globales son cada vez más complejas, existe
            una creciente necesidad de líderes y profesionales que comprendan la
            influencia profunda que la religión sigue ejerciendo en la política,
            la cultura y las relaciones humanas. El poder de la religión sigue
            siendo inmenso, pero pocos programas académicos preparan a los
            profesionales para comprender su complejidad y su potencial tanto
            para el conflicto como para la construcción de la paz.
          </p>

          <p>
            El MRLP está diseñado para llenar ese vacío. Ofrece a los
            estudiantes las herramientas necesarias para entender y analizar
            críticamente los roles que desempeñan las religiones en sus
            respectivos contextos. Esto incluye un enfoque especial en cómo las
            creencias religiosas influyen en los debates sobre justicia social,
            los derechos humanos y la creación de políticas públicas. Al
            finalizar el programa, los graduados estarán capacitados para pensar
            de manera innovadora sobre la interacción entre religión y sociedad,
            y para liderar con una visión clara que promueva la paz y la
            justicia en sus campos profesionales.
          </p>
        </div>
      </mat-tab>

      <mat-tab label="Cursos">
        <div class="bodyContent">
          <p>
            El programa de Maestría en Religión y Liderazgo Público (MRLP)
            ofrece una serie de cursos diseñados para proporcionar a los
            estudiantes una comprensión integral y crítica de la religión en
            contextos públicos. Los cursos están cuidadosamente seleccionados
            para combinar teoría, práctica y aplicación interdisciplinaria,
            permitiendo a los estudiantes personalizar su experiencia de
            aprendizaje según sus intereses profesionales. A continuación se
            detallan algunos de los cursos clave del programa:
          </p>

          <ul>
            <li>
              <strong>Teorías y Métodos en el Estudio de la Religión</strong> (4
              créditos): Este curso es fundamental para el programa, ya que
              introduce a los estudiantes en las principales teorías y enfoques
              metodológicos utilizados en el estudio de la religión. Los
              estudiantes aprenderán a analizar fenómenos religiosos desde una
              perspectiva académica, con énfasis en la comprensión crítica de
              las prácticas religiosas en la esfera pública.
            </li>

            <li>
              <strong>Religión y Liderazgo Público I y II</strong> (4 créditos
              cada uno): Este curso en dos partes ofrece un análisis profundo de
              cómo la religión influye en el liderazgo y la toma de decisiones
              en contextos públicos. A través de estudios de caso y debates, los
              estudiantes explorarán las formas en que las creencias religiosas
              impactan en cuestiones sociales, políticas y culturales, así como
              en la resolución de conflictos.
            </li>

            <li>
              <strong>Poder, Paz y Conflicto en la Religión</strong> (4
              créditos): En este curso, los estudiantes examinan el papel de la
              religión en los conflictos sociales y políticos, así como su
              potencial para promover la paz. Se exploran casos históricos y
              contemporáneos, y se analizan las estrategias que líderes
              religiosos y seculares han utilizado para abordar conflictos
              relacionados con la religión.
            </li>

            <li>
              <strong>Ética, Derechos Humanos y Religión</strong> (4 créditos):
              Este curso se enfoca en la relación entre la religión y los
              derechos humanos. Los estudiantes analizan cómo las tradiciones
              religiosas influyen en los debates éticos contemporáneos,
              abordando temas como la justicia social, la dignidad humana y el
              papel de la religión en la promoción o violación de los derechos
              humanos.
            </li>

            <li>
              <strong>Religión, Política y Sociedad</strong> (4 créditos): En
              este curso, los estudiantes estudian la interacción entre la
              religión y las instituciones políticas. Se exploran las formas en
              que las creencias y organizaciones religiosas han influido en el
              desarrollo de políticas públicas, así como su impacto en
              movimientos sociales y cambios políticos a nivel global.
            </li>

            <li>
              <strong>Religión y Medios de Comunicación</strong> (4 créditos):
              Este curso explora cómo los medios de comunicación representan y
              comunican temas relacionados con la religión. Los estudiantes
              investigarán el papel de los medios en la construcción de imágenes
              públicas sobre la religión, y analizarán cómo la religión se
              presenta en plataformas mediáticas contemporáneas, desde el
              periodismo hasta las redes sociales.
            </li>

            <li>
              <strong>Seminario de Proyecto Final</strong> (4 créditos): Durante
              este seminario, los estudiantes desarrollan su proyecto final bajo
              la supervisión de un asesor académico. El seminario incluye
              sesiones colaborativas en las que los estudiantes comparten
              avances de su proyecto y reciben retroalimentación de sus
              compañeros y del profesor, con el objetivo de garantizar que el
              proyecto final sea de alta calidad y relevante para su campo
              profesional.
            </li>
          </ul>

          <p>
            Además de los cursos clave, los estudiantes pueden elegir otras
            asignaturas optativas de la Escuela de Divinidad World Theology
            University y de otras facultades, lo que les permite adaptar su plan
            de estudios a sus intereses profesionales específicos. Los cursos
            optativos pueden abarcar temas como el activismo social, el
            desarrollo internacional, la salud pública y la educación.
          </p>
        </div>
      </mat-tab>

      <mat-tab label="Objetivos">
        <div class="bodyContent">
          <p>
            El programa de Maestría en Religión y Liderazgo Público (MRLP) tiene
            como propósito preparar a los profesionales para enfrentar los
            desafíos complejos que surgen de la interacción entre la religión y
            los asuntos públicos. A través de una combinación de formación
            teórica y práctica, el programa busca cumplir los siguientes
            objetivos:
          </p>
          <ul>
            <li>
              <strong
                >Desarrollar un conocimiento profundo sobre la interacción de la
                religión y la esfera pública.</strong
              >
              El MRLP ofrece a los estudiantes la oportunidad de explorar cómo
              las creencias y prácticas religiosas influyen en diversos aspectos
              de la sociedad, desde la política hasta la cultura y los derechos
              humanos. El programa fomenta una comprensión crítica de las
              dinámicas religiosas en contextos públicos y su impacto en los
              debates actuales sobre justicia, paz y poder.
            </li>

            <li>
              <strong
                >Proveer herramientas para el liderazgo innovador en profesiones
                que impacten el bienestar social.</strong
              >
              A través de un enfoque interdisciplinario, el programa equipa a
              los estudiantes con las habilidades necesarias para liderar en sus
              campos profesionales, ya sea en el gobierno, el periodismo, la
              educación, el derecho o la acción humanitaria. Los graduados
              estarán preparados para tomar decisiones informadas y éticas que
              promuevan la paz y el bienestar social en sus comunidades y más
              allá.
            </li>

            <li>
              <strong
                >Capacitar a los graduados para comprender y manejar las
                complejidades de la religión en sus ámbitos
                profesionales.</strong
              >
              El MRLP capacita a sus estudiantes para identificar y abordar los
              desafíos relacionados con la religión en sus contextos laborales
              específicos. Ya sea en el sector público o privado, los graduados
              estarán preparados para aplicar su conocimiento de manera
              efectiva, creando soluciones innovadoras que promuevan la
              coexistencia pacífica y el respeto mutuo entre diferentes
              comunidades y tradiciones religiosas.
            </li>
          </ul>
        </div>
      </mat-tab>

      <mat-tab label="Resumen">
        <div class="bodyContent">
          <p>
            El programa de Maestría en Religión y Liderazgo Público (MRLP) de
            World Theology University está diseñado para proporcionar a los
            estudiantes una comprensión profunda y crítica sobre el papel de la
            religión en la esfera pública. Este programa, único en su enfoque no
            confesional, permite a los profesionales adquirir el conocimiento
            necesario para analizar y actuar sobre las influencias religiosas en
            los debates sociales, políticos y culturales contemporáneos.
          </p>

          <p>
            Una de las principales fortalezas del MRLP es su flexibilidad. El
            programa permite a los estudiantes personalizar su trayectoria
            académica, combinando cursos de la Escuela de Divinidad World
            Theology University con asignaturas de otras facultades, adaptándose
            así a sus intereses y necesidades profesionales. Los estudiantes
            participan en un seminario compartido que fomenta el intercambio de
            ideas entre colegas de diferentes disciplinas, enriqueciendo la
            experiencia de aprendizaje con perspectivas diversas.
          </p>

          <p>
            El MRLP culmina en un proyecto final, el cual está orientado a
            explorar la intersección entre la religión y el campo profesional
            del estudiante. Este proyecto ofrece una oportunidad para aplicar de
            manera práctica el conocimiento adquirido durante el programa, y
            contribuye al desarrollo de recursos y estrategias que los graduados
            podrán utilizar en sus contextos laborales.
          </p>

          <p>
            Además, el programa ofrece múltiples oportunidades de aprendizaje
            continuo a lo largo de la vida, con programas de certificación
            adicionales, talleres, seminarios y otras iniciativas abiertas al
            público. De esta manera, el MRLP no solo busca formar líderes
            informados y comprometidos con la justicia social, sino que también
            promueve un enfoque continuo de actualización y reflexión crítica
            sobre el papel de la religión en el mundo actual.
          </p>
        </div>
      </mat-tab>

      <mat-tab label="Requisitos">
        <div class="bodyContent">
          <p>
            Para completar con éxito la Maestría en Religión y Liderazgo Público
            (MRLP) de World Theology University, los estudiantes deben cumplir
            con los siguientes requisitos académicos y de evaluación:
          </p>

          <ul>
            <li>
              <strong
                >Completar ocho cursos semestrales de 4 créditos cada
                uno.</strong
              >
              Los estudiantes deben cursar un total de 32 créditos, distribuidos
              a lo largo de dos semestres, para cumplir con los requisitos del
              programa. Estos cursos están diseñados para ofrecer una sólida
              base teórica y práctica en el estudio de la religión y su relación
              con la esfera pública.
            </li>

            <li>
              <strong
                >Tomar al menos cuatro cursos dentro de la Escuela de Divinidad
                World Theology University.</strong
              >
              La mitad de los cursos deben ser seleccionados de entre las
              ofertas académicas de la Escuela de Divinidad World Theology
              University, asegurando que los estudiantes adquieran un
              conocimiento especializado en religión y liderazgo público. Los
              otros cuatro cursos pueden elegirse de otras facultades de la
              universidad, dependiendo de los intereses profesionales del
              estudiante.
            </li>

            <li>
              <strong
                >Realizar dos cursos clave: "Teorías y Métodos en el Estudio de
                la Religión" y "Religión y Liderazgo Público".</strong
              >
              Estos dos cursos son fundamentales para el programa,
              proporcionando el marco teórico y metodológico necesario para
              comprender las complejas interacciones entre la religión y lo
              público. Los estudiantes aprenden a aplicar estas teorías en sus
              campos profesionales.
            </li>

            <li>
              <strong
                >Elaborar un proyecto final relacionado con la profesión del
                estudiante.</strong
              >
              Al final del programa, los estudiantes deben desarrollar un
              proyecto final que explore la intersección entre la religión y su
              campo profesional específico. Este proyecto se realiza bajo la
              supervisión de un asesor académico y debe ser aprobado antes de su
              presentación. El proyecto final puede adoptar diferentes formas,
              como un portafolio, un trabajo extenso o una serie de estudios de
              caso.
            </li>

            <li>
              <strong>Completar un examen oral.</strong> Los estudiantes deberán
              presentar su proyecto final ante un comité evaluador, compuesto
              por miembros de la facultad. Este examen oral tiene como objetivo
              evaluar la comprensión profunda del estudiante sobre su proyecto y
              su capacidad para articular sus ideas de manera coherente y
              crítica.
            </li>

            <li>
              <strong
                >Realizar una presentación pública del proyecto final.</strong
              >
              Al finalizar el año académico, los estudiantes deben compartir
              públicamente los hallazgos y conclusiones de su proyecto final.
              Esta presentación pública permite a los estudiantes demostrar su
              capacidad para comunicar los resultados de su trabajo a una
              audiencia más amplia, contribuyendo al debate sobre el papel de la
              religión en el ámbito público.
            </li>
          </ul>

          <h3>Requisitos financieros</h3>
          <p>
            Los estudiantes del MRLP deben abonar un año de matrícula para
            completar el programa. World Theology University ofrece opciones de
            financiamiento y becas para ayudar a los estudiantes a cubrir los
            costos del programa. Se recomienda a los candidatos que consulten
            con la oficina financiera de la universidad para obtener más
            información sobre las ayudas disponibles y las opciones de pago.
          </p>
        </div>
      </mat-tab>
    </mat-tab-group>
  </div>
</main>
