<app-banner
  class="fadeIn"
  title="Sobre nosotros"
  [banner]="banner"
  [alt]="wtuInfo.title"
/>

<main class="pages">
  <div class="content fadeIn">
    <div>
      <p>
        {{ wtuInfo.title }} es una institución comprometida con la excelencia
        académica en los estudios religiosos y teológicos. Su enfoque innovador
        permite a los estudiantes explorar y analizar profundamente las diversas
        tradiciones religiosas, al tiempo que se preparan para liderar en una
        amplia variedad de contextos, incluyendo organizaciones religiosas,
        gubernamentales y de servicio comunitario.
      </p>
      <h3>Misión</h3>
      <p>
        La misión de {{ wtuInfo.title }} es formar líderes con sólidos
        conocimientos teológicos y habilidades éticas, capacitados para ejercer
        un impacto positivo en la comunidad. Los programas de
        {{ wtuInfo.title }} están diseñados para ofrecer un entorno de
        aprendizaje diverso y multicultural, donde se promueve el pensamiento
        crítico y la integración de conocimientos en contextos sociales,
        políticos y espirituales.
      </p>

      <h3>Programas Académicos Ofrecidos</h3>
      <p>
        {{ wtuInfo.title }} ofrece diversos programas académicos que van desde
        licenciaturas, maestrias, doctorados, certificados y programas
        especializados. Los cuales el estudiante los puede recibir desde
        cualquier lugar con conexión a internet.
      </p>

      <div class="cinta">
        <span>Misión</span>
      </div>
      <p>
        Ser una comunidad académica global donde la fe, el conocimiento y la
        práctica se encuentran para inspirar vidas transformadas y sociedades
        más justas, solidarias y esperanzadoras.
      </p>

      <div class="cinta mt-2">
        <span>Visión</span>
      </div>
      <p>
        Formar líderes con una sólida preparación teológica, espiritual y
        académica, capaces de responder con sabiduría y compasión a los desafíos
        de nuestro tiempo. A través de una educación online accesible y de
        excelencia, promovemos el pensamiento crítico, el diálogo intercultural
        y el compromiso con la transformación personal y comunitaria.
      </p>
    </div>

    <div class="cinta mt-2">
      <span>Valores</span>
    </div>
    <ol>
      <li>
        <strong> Excelencia Académica <br /> </strong>
        Buscamos un aprendizaje profundo, riguroso y significativo.
      </li>

      <li>
        <strong> Fe Viva <br /> </strong>
        Promovemos una espiritualidad práctica que fortalece la vida cotidiana.
      </li>

      <li>
        <strong> Inclusión <br /> </strong>
        Abrimos las puertas a todas las culturas, tradiciones y creencias.
      </li>

      <li>
        <strong> Compasión <br /> </strong>
        Formamos personas sensibles al dolor humano y comprometidas con el
        bienestar de los demás.
      </li>

      <li>
        <strong> Diálogo y Respeto <br /> </strong>
        Valoramos la diversidad como fuente de crecimiento y entendimiento
        mutuo.
      </li>

      <li>
        <strong> Innovación <br /> </strong>
        Utilizamos la educación online como puente hacia un aprendizaje
        accesible, dinámico y transformador.
      </li>

      <li>
        <strong> Integridad inquebrantable <br /> </strong>
        Actuamos con honestidad y transparencia en cada acción, garantizando que
        nuestros procesos empresariales y legales se desarrollen sin
        ambigüedades ni prácticas indebidas.
      </li>

      <li>
        <strong> Integridad y transparencia <br /> </strong> Actuamos con
        coherencia entre lo que creemos, enseñamos y hacemos, construyendo
        confianza a través de una comunicación clara y auténtica.
      </li>

      <li>
        <strong> Confianza y responsabilidad <br /> </strong> Cultivamos
        relaciones basadas en el respeto y la responsabilidad compartida,
        acompañando a cada estudiante en su camino de formación y crecimiento.
      </li>

      <li>
        <strong> Excelencia académica <br /> </strong> Promovemos estándares
        elevados en la enseñanza y el aprendizaje, ofreciendo formación
        rigurosa, accesible y transformadora.
      </li>

      <li>
        <strong> Compromiso ético <br /> </strong> Fomentamos la práctica de
        valores que honran la justicia, la solidaridad y el bienestar común,
        creando un espacio de formación íntegro y sostenible.
      </li>

      <li>
        <strong> Cuidado y acompañamiento <br /> </strong> Protegemos y
        valoramos la dignidad de cada persona, ofreciendo un entorno seguro,
        confiable y enriquecedor donde cada voz cuenta.
      </li>
    </ol>
  </div>
</main>
