<app-banner class="fadeIn" [banner]="flyer" [alt]="alt" />
<mat-dialog-content>
  <main class="fadeIn">
    <h2>BACC-CSAL-600 - Habilidades de Comunicación y Escucha Activa</h2>
    <div class="line"></div>

    <div class="content fadeIn">
      <p>
        El curso
        <span>Habilidades de Comunicación y Escucha Activa</span> ofrece una
        base sólida en técnicas de comunicación efectiva, con énfasis en la
        escucha empática y el desarrollo de habilidades interpersonales clave
        para el acompañamiento emocional y espiritual.
      </p>

      <ul>
        <li>
          Desarrollar habilidades de comunicación verbal y no verbal en
          contextos de consejería.
        </li>
        <li>
          Fomentar la práctica de la escucha activa como herramienta de apoyo
          emocional.
        </li>
        <li>
          Identificar barreras comunes en la comunicación y estrategias para
          superarlas.
        </li>
        <li>
          Promover la empatía y el entendimiento profundo en las relaciones
          interpersonales.
        </li>
        <li>
          Aplicar principios de comunicación efectiva en situaciones de crisis y
          acompañamiento pastoral.
        </li>
      </ul>

      <h3>Temas principales:</h3>
      <ul>
        <li>Elementos fundamentales de la comunicación interpersonal.</li>
        <li>Escucha activa y empatía.</li>
        <li>Lenguaje corporal y señales no verbales.</li>
        <li>Comunicación en contextos de conflicto o crisis.</li>
        <li>Ética en la comunicación en contextos de consejería.</li>
      </ul>

      <h3>Metodología:</h3>
      <p>
        El curso incluye ejercicios prácticos, simulaciones de consejería,
        análisis de casos, discusiones en grupo y talleres enfocados en mejorar
        la expresión y la escucha consciente.
      </p>

      <h3>Evaluación:</h3>
      <p>La evaluación del curso incluirá:</p>
      <ul>
        <li>Prácticas grabadas de sesiones de escucha activa.</li>
        <li>Informes reflexivos sobre experiencias comunicativas.</li>
        <li>Presentaciones sobre técnicas de comunicación efectiva.</li>
        <li>Participación activa en talleres y debates.</li>
      </ul>

      <h3>Importancia del curso:</h3>
      <p>
        El desarrollo de habilidades de comunicación y escucha activa es
        fundamental para establecer relaciones de confianza y apoyo. Este curso
        prepara a los estudiantes para interactuar con sensibilidad, respeto y
        eficacia en contextos de consejería.
      </p>
    </div>
  </main>
</mat-dialog-content>

<app-footer-modal />
