<app-banner class="fadeIn" [banner]="flyer" [alt]="alt" />
<mat-dialog-content>
  <main class="fadeIn">
    <h2>MACC-FP-400 - Fundamentos de la Psicoterapia</h2>
    <div class="line"></div>

    <div class="content fadeIn">
      <p>
        <span>Fundamentos de la Psicoterapia</span> introduce a los estudiantes
        a los principios básicos de la psicoterapia, los enfoques teóricos y
        prácticos utilizados en entornos clínicos. El curso aborda los modelos
        terapéuticos principales y sus aplicaciones en situaciones reales.
      </p>

      <h3>Objetivos del Curso:</h3>
      <ul>
        <li>
          Entender los principios fundamentales detrás de los principales
          enfoques terapéuticos.
        </li>
        <li>
          Aprender los objetivos, estrategias y técnicas de los modelos
          terapéuticos comunes.
        </li>
        <li>
          Desarrollar las habilidades básicas para las conversaciones
          terapéuticas.
        </li>
        <li>
          Identificar los métodos terapéuticos apropiados para diferentes
          contextos clínicos.
        </li>
        <li>
          Explorar las consideraciones éticas y culturales en la psicoterapia.
        </li>
      </ul>

      <h3>Temas Principales:</h3>
      <ul>
        <li>Resumen de la psicoterapia: definición y historia.</li>
        <li>Psicoanálisis y psicodinámica.</li>
        <li>Cognitivo-conductual terapia (CBT).</li>
        <li>Humanista y terapia centrada en la persona.</li>
        <li>Integración y enfoques eclecticos.</li>
        <li>Relación terapéutica y habilidades de comunicación.</li>
      </ul>

      <h3>Método de enseñanza:</h3>
      <p>
        El curso incluye conferencias, role-playing, demostraciones de video,
        discusiones de casos, y práctica guiada en técnicas terapéuticas.
      </p>

      <h3>Método de evaluación:</h3>
      <p>La evaluación se basa en:</p>
      <ul>
        <li>Exámenes escritos sobre modelos teóricos y técnicas.</li>
        <li>Participación en role-plays y ejercicios prácticos.</li>
        <li>Reportes de análisis de casos aplicando conceptos terapéuticos.</li>
        <li>Reflexiones sobre aprendizaje personal y aplicación.</li>
      </ul>

      <h3>Importancia del Curso:</h3>
      <p>
        Este curso establece las bases para la práctica clínica al presentar
        estudiantes con los métodos y principios fundamentales de la
        psicoterapia, esencial para cualquier profesional de salud mental
        futuro.
      </p>
    </div>
  </main>
</mat-dialog-content>

<app-footer-modal />
