<app-banner class="fadeIn" [banner]="flyer" [alt]="alt" />
<mat-dialog-content>
  <main class="fadeIn">
    <h2>MATH-TRM-700 - Theological Research Methodology</h2>

    <div class="line"></div>

    <div class="content fadeIn">
      <p><span>Theological Research Methodology</span> is a course that introduces students to the tools and methods used in theological research. Throughout the course, students will learn the fundamental principles of academic research in theology, as well as best practices for collecting, analyzing, and presenting theological data.</p>

      <h3>Course Objectives:</h3>
      <ul>
        <li>Develop skills for formulating theological research questions.</li>
        <li>Learn to conduct academic and ethical research in the field of theology.</li>
        <li>Understand methodologies for collecting and analyzing theological data.</li>
        <li>Apply theoretical and methodological approaches to theological problems.</li>
        <li>Develop the ability to synthesize and present findings academically.</li>
      </ul>

      <h3>Main Topics:</h3>
      <ul>
        <li>Introduction to theological research: fundamentals and principles.</li>
        <li>Formulating research questions and developing hypotheses.</li>
        <li>Qualitative and quantitative methodologies in theological research.</li>
        <li>Analysis and use of primary and secondary theological sources.</li>
        <li>Building theoretical frameworks and reviewing relevant literature.</li>
        <li>Ethics in theological research: integrity and responsibility.</li>
        <li>Presenting results and writing academic theological reports.</li>
      </ul>

      <h3>Methodology:</h3>
      <p>The course includes lectures, practical workshops, and case studies. Students will develop individual research projects and engage in group discussions to exchange methodological approaches.</p>

      <h3>Assessment:</h3>
      <ul>
        <li>Essay on a theological research topic with a methodological focus.</li>
        <li>Presentation of a research project including literature review and methodology.</li>
        <li>Written exams on research methodologies.</li>
        <li>Critical review of theological academic works.</li>
      </ul>

      <h3>Importance of the Course:</h3>
      <p>This course is essential for those interested in advancing theological research academically, ensuring ethical and rigorous investigation in service of the Christian faith and scholarship.</p>
    </div>
  </main>
</mat-dialog-content>
<app-footer-modal />
