<app-banner class="fadeIn" [banner]="flyer" [alt]="alt" />
<mat-dialog-content>
  <main class="fadeIn">
    <h2>BACC-FCT-1600 - Family and Couples Therapy</h2>
    <div class="line"></div>

    <div class="content fadeIn">
      <p>
        The course <span>Family and Couples Therapy</span> covers clinical
        techniques and approaches for intervening in conflict dynamics within
        the family unit and romantic relationships. Students will learn
        therapeutic strategies to foster communication, resolve conflicts, and
        promote healthy relationships.
      </p>

      <h3>Course Objectives:</h3>
      <ul>
        <li>
          Study the theoretical foundations of family and couples therapy.
        </li>
        <li>
          Explore different intervention models for family and marital
          relationships.
        </li>
        <li>
          Develop skills to identify dysfunctional patterns in relational
          dynamics.
        </li>
        <li>
          Apply therapeutic techniques to improve communication and conflict
          resolution.
        </li>
        <li>
          Promote the strengthening of emotional bonds in family and couples
          contexts.
        </li>
      </ul>

      <h3>Main Topics:</h3>
      <ul>
        <li>Sociological and structural models in family therapy.</li>
        <li>Power dynamics and roles in couples relationships.</li>
        <li>Strategies for managing conflicts and relational crises.</li>
        <li>Effective communication techniques and active listening.</li>
        <li>
          Assessment and intervention in common family and couples issues.
        </li>
      </ul>

      <h3>Methodology:</h3>
      <p>
        The course includes theoretical classes, clinical case analysis,
        dramatizations, and therapeutic session simulations. Active student
        participation is encouraged to develop practical skills in family and
        couples counseling.
      </p>

      <h3>Assessment:</h3>
      <p>The course assessment will include:</p>
      <ul>
        <li>Written tests on theories and intervention models.</li>
      </ul>
    </div>
  </main>
</mat-dialog-content>

<app-footer-modal />
