.whatsapp {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  overflow: hidden;
  padding: 0;
  margin: 0;
}
a {
  border-radius: 2rem;
  padding: 0.5rem 1rem;
  font-weight: 400;
  text-transform: capitalize;
  text-decoration: none;
  color: var(--color-white);
  background: var(--whatsapp);

  transition: all 0.3s ease;

  &:hover {
    transform: scale(1.05);
    background-color: var(--whatsapp-hover);
    color: var(--color-white);
  }
}
