<app-banner class="fadeIn" [banner]="flyer" [alt]="alt" />
<mat-dialog-content>
  <main class="fadeIn">
    <h2>MATH-LT-800 - Teología de la Liberación</h2>

    <div class="line"></div>

    <div class="content fadeIn">
      <p><span>Teología de la Liberación</span> examina el surgimiento, los principios y la influencia social de este movimiento teológico que promueve la opción preferencial por los pobres y la justicia social.</p>

      <h3>Objetivos del Curso:</h3>
      <ul>
        <li>Estudiar el contexto histórico y teológico de la liberación.</li>
        <li>Explorar los aportes de los principales teólogos de la liberación.</li>
        <li>Analizar el impacto social y político de esta corriente teológica.</li>
      </ul>

      <h3>Temas Principales:</h3>
      <ul>
        <li>Orígenes en América Latina.</li>
        <li>Teólogos de la liberación.</li>
        <li>Fe cristiana y justicia social.</li>
        <li>Implicaciones políticas y eclesiales.</li>
      </ul>

      <h3>Metodología:</h3>
      <p>Lecturas de textos fundamentales, debates sobre justicia social, y estudios de caso aplicados a contextos actuales.</p>

      <h3>Evaluación:</h3>
      <ul>
        <li>Ensayo crítico sobre la teología de la liberación.</li>
        <li>Presentaciones de análisis de textos clave.</li>
        <li>Debates sobre relevancia actual de la liberación cristiana.</li>
      </ul>

      <h3>Importancia del Curso:</h3>
      <p>Fomenta la reflexión teológica sobre el compromiso social de la fe cristiana frente a la injusticia, la pobreza y la opresión.</p>
    </div>
  </main>
</mat-dialog-content>
<app-footer-modal />
