<app-banner class="fadeIn" [banner]="flyer" [alt]="alt" />
<mat-dialog-content>
  <main class="fadeIn">
    <h2>MATH-TSA-506 - Theology of Spiritual Accompaniment</h2>

    <div class="line"></div>

    <div class="content fadeIn">
      <p><span>Theology of Spiritual Accompaniment</span> is a course that delves into the practice of spiritual accompaniment from a theological perspective. Spiritual accompaniment involves walking alongside someone in their spiritual growth and maturation, providing guidance, support, and prayer in their faith journey. This course will explore the theological foundations and practical aspects of spiritual accompaniment, as well as the core principles that guide spiritual companions in their pastoral work.</p>

      <h3>Course Objectives:</h3>
      <ul>
        <li>Understand the theology of spiritual accompaniment and its importance in the Christian life.</li>
        <li>Explore the role of the spiritual companion in the development of the faith of the person being accompanied.</li>
        <li>Develop skills to offer effective spiritual guidance in pastoral contexts.</li>
        <li>Study the different stages of spiritual accompaniment and the challenges that may arise during the process.</li>
        <li>Reflect on the relationship between prayer, spirituality, and accompaniment in the Christian context.</li>
      </ul>

      <h3>Main Topics:</h3>
      <ul>
        <li>The theological foundations of spiritual accompaniment.</li>
        <li>The role of the spiritual companion in the process of faith maturation.</li>
        <li>The dynamics of the accompaniment relationship: trust, listening, and discernment.</li>
        <li>Spiritual accompaniment in different pastoral contexts.</li>
        <li>Ethical and spiritual challenges in accompaniment.</li>
        <li>The importance of prayer and reflection in spiritual accompaniment.</li>
      </ul>

      <h3>Methodology:</h3>
      <p>The course will combine theological readings, case studies, and exercises in personal and group reflection. Students will be encouraged to practice spiritual accompaniment in real-world contexts, applying the principles learned in the course to concrete pastoral situations.</p>

      <h3>Assessment:</h3>
      <ul>
        <li>Final project exploring a case of spiritual accompaniment.</li>
        <li>Written reflections on personal or group accompaniment experiences.</li>
        <li>Presentations on the theological principles of spiritual accompaniment.</li>
      </ul>

      <h3>Importance of the Course:</h3>
      <p>This course is essential for those wishing to deepen their understanding of spiritual accompaniment as a key pastoral practice. It provides a solid theological foundation and the necessary tools to accompany others in their spiritual life, promoting their growth and strengthening their faith.</p>
    </div>
  </main>
</mat-dialog-content>
<app-footer-modal />
