<app-banner class="fadeIn" [banner]="flyer" [alt]="alt" />
<mat-dialog-content>
  <main class="fadeIn">
    <h2>MATH-TPR-406 - Teología de la Paz y la Reconciliación</h2>

    <div class="line"></div>

    <div class="content fadeIn">
      <p><span>Teología de la Paz y la Reconciliación</span> estudia los principios cristianos de la paz, el perdón y la reconciliación, abordando la violencia y la injusticia contemporáneas.</p>

      <h3>Objetivos del Curso:</h3>
      <ul>
        <li>Comprender el concepto de paz bíblica.</li>
        <li>Explorar el papel del perdón y la reconciliación en la fe cristiana.</li>
        <li>Estudiar los desafíos éticos de la promoción de la paz.</li>
        <li>Aplicar principios cristianos a la resolución de conflictos.</li>
      </ul>

      <h3>Temas Principales:</h3>
      <ul>
        <li>La paz en las Escrituras.</li>
        <li>Perdón y restauración de relaciones humanas.</li>
        <li>Justicia social y paz duradera.</li>
        <li>Conflicto y teología cristiana.</li>
        <li>La reconciliación en Cristo.</li>
      </ul>

      <h3>Metodología:</h3>
      <p>Estudio de escrituras, teología sistemática, casos reales de conflicto, proyectos de promoción de la paz.</p>

      <h3>Evaluación:</h3>
      <ul>
        <li>Ensayos sobre teología de la paz y reconciliación.</li>
        <li>Estudios de caso.</li>
        <li>Proyectos prácticos de resolución de conflictos.</li>
      </ul>

      <h3>Importancia del Curso:</h3>
      <p>Forma líderes cristianos capaces de aplicar principios de paz y reconciliación en contextos personales y sociales.</p>
    </div>
  </main>
</mat-dialog-content>
<app-footer-modal />
