<app-banner class="fadeIn" [banner]="flyer" [alt]="alt" />
<mat-dialog-content>
  <main class="fadeIn">
    <h2>MATH-AAAT-803 - Teología Africana y Afroamericana</h2>

    <div class="line"></div>

    <div class="content fadeIn">
      <p><span>Teología Africana y Afroamericana</span> explora la riqueza de las tradiciones teológicas africanas y afroamericanas como respuestas a la opresión, la esclavitud y la búsqueda de justicia social y liberación espiritual.</p>

      <h3>Objetivos del Curso:</h3>
      <ul>
        <li>Examinar los orígenes de la teología africana y afroamericana.</li>
        <li>Analizar el papel liberador de la fe en contextos de opresión.</li>
        <li>Reflexionar sobre el legado de resistencia en la teología cristiana.</li>
      </ul>

      <h3>Temas Principales:</h3>
      <ul>
        <li>Historia de la teología africana y afroamericana.</li>
        <li>Fe y lucha social en la diáspora africana.</li>
        <li>Contribuciones teológicas contemporáneas.</li>
      </ul>

      <h3>Metodología:</h3>
      <p>Lecturas, estudios de caso, discusión de líderes teológicos y experiencias de resistencia y liberación.</p>

      <h3>Evaluación:</h3>
      <ul>
        <li>Ensayo sobre tradiciones africanas y fe cristiana.</li>
        <li>Presentación sobre líderes teológicos africanos o afroamericanos.</li>
        <li>Investigación sobre diáspora y teología de la liberación.</li>
      </ul>

      <h3>Importancia del Curso:</h3>
      <p>Clave para reconocer las voces teológicas que han transformado la fe cristiana a través de la resistencia y la esperanza en contextos de injusticia.</p>
    </div>
  </main>
</mat-dialog-content>
<app-footer-modal />
