<app-banner class="fadeIn" [banner]="flyer" [alt]="alt" />
<mat-dialog-content>
  <main class="fadeIn">
    <h2>MACC-DCP-2300 - Development of Counseling Programs</h2>
    <div class="line"></div>

    <div class="content fadeIn">
      <p>
        <span>Development of Counseling Programs</span> introduces students to
        the process of creating, implementing, and managing effective counseling
        programs tailored to diverse organizational and community settings. The
        course emphasizes practical planning, needs assessment, resource
        allocation, and outcome evaluation to ensure program success and
        sustainability.
      </p>

      <h3>Course Objectives:</h3>
      <ul>
        <li>
          Understand the stages of developing counseling programs from concept
          to execution.
        </li>
        <li>Conduct community and organizational needs assessments.</li>
        <li>
          Create strategic plans aligned with counseling goals and populations
          served.
        </li>
        <li>
          Identify key resources, partnerships, and funding opportunities.
        </li>
        <li>Design evaluation methods to measure program effectiveness.</li>
      </ul>

      <h3>Main Topics:</h3>
      <ul>
        <li>Principles of program development</li>
        <li>Needs assessment tools and techniques</li>
        <li>Strategic planning in counseling</li>
        <li>Program implementation and management</li>
        <li>Monitoring, evaluation, and reporting</li>
        <li>Ethical and cultural considerations in program development</li>
      </ul>

      <h3>Methodology:</h3>
      <p>
        This course combines lectures, case studies, group workshops, and
        real-life project simulations to prepare students for practical
        application.
      </p>

      <h3>Assessment:</h3>
      <ul>
        <li>Program proposal based on a specific community need</li>
        <li>Group project: counseling program design and presentation</li>
        <li>Case study analysis</li>
        <li>
          Final written report: evaluation plan for a counseling initiative
        </li>
      </ul>

      <h3>Importance of the Course:</h3>
      <p>
        This course equips students with the skills necessary to lead and shape
        impactful counseling initiatives, meeting the emotional and
        psychological needs of individuals in various settings with
        professionalism and vision.
      </p>
    </div>
  </main>
</mat-dialog-content>

<app-footer-modal />
