<app-banner class="fadeIn" [banner]="flyer" [alt]="alt" />
<mat-dialog-content>
  <main class="fadeIn">
    <h2>MATH-ITNT-101 - Introducción al Nuevo Testamento</h2>

    <div class="line"></div>

    <div class="content fadeIn">
        <p><span>Introducción al Nuevo Testamento</span> proporciona una visión general de los aspectos históricos, literarios y teológicos del Nuevo Testamento. Los estudiantes explorarán los Evangelios, las Epístolas, y otros escritos, analizando sus principales temas, el contexto histórico y su relevancia para la vida cristiana actual.</p>

        <h3>Objetivos del Curso:</h3>
        <ul>
            <li>Comprender el trasfondo histórico y cultural del Nuevo Testamento.</li>
            <li>Identificar los temas teológicos y literarios clave de los diferentes libros del Nuevo Testamento.</li>
            <li>Desarrollar habilidades de interpretación crítica y contextual de los textos neotestamentarios.</li>
            <li>Explorar la vida y enseñanzas de Jesús y el desarrollo de la iglesia primitiva.</li>
            <li>Aplicar los principios del Nuevo Testamento a la vida personal y comunitaria actual.</li>
        </ul>

        <h3>Temas Principales:</h3>
        <ul>
            <li>Introducción a los Evangelios, Hechos, Epístolas y Apocalipsis</li>
            <li>Contexto histórico: Imperio Romano, judaísmo del Segundo Templo y primeros cristianos</li>
            <li>Teología del Reino de Dios, la gracia, la fe y la salvación</li>
            <li>Autores, audiencias y propósitos de los libros del Nuevo Testamento</li>
            <li>Métodos de interpretación del Nuevo Testamento</li>
        </ul>

        <h3>Metodología:</h3>
        <p>El curso combina clases magistrales, lecturas dirigidas, debates en grupo, análisis temáticos y trabajos de reflexión para fomentar un entendimiento profundo y práctico de los textos del Nuevo Testamento.</p>

        <h3>Evaluación:</h3>
        <ul>
            <li>Cuestionarios y tareas de lectura</li>
            <li>Ensayos sobre temas o libros específicos</li>
            <li>Presentaciones grupales sobre personajes y temas clave</li>
            <li>Examen final que evalúa el conocimiento global del contenido</li>
        </ul>

        <h3>Importancia del Curso:</h3>
        <p>Este curso proporciona una base sólida para comprender la fe cristiana, las Escrituras y la historia de la iglesia primitiva, preparando a los estudiantes para estudios teológicos avanzados y para aplicar la enseñanza bíblica en su vida diaria.</p>

    </div>
  </main>
</mat-dialog-content>

<app-footer-modal />
