<app-banner class="fadeIn" [banner]="flyer" [alt]="alt" />
<mat-dialog-content>
  <main class="fadeIn">
    <h2>MACC-FC-1000 - Consejería Familiar</h2>
    <div class="line"></div>

    <div class="content fadeIn">
      <p>
        <span>Consejería Familiar</span> introduce a los estudiantes a las
        teorías y técnicas prácticas utilizadas en el consejería familiar. El
        curso enfatiza el entendimiento de las dinámicas familiares, los
        patrones de comunicación y las estrategias de resolución de conflictos
        para promover las relaciones familiares más saludables.
      </p>

      <h3>Objetivos del curso:</h3>
      <ul>
        <li>
          Comprender las teorías fundamentales de los sistemas familiares y la
          terapia.
        </li>
        <li>Identificar y analizar las dinámicas familiares y los roles.</li>
        <li>
          Aplicar técnicas de consejería para abordar conflictos familiares.
        </li>
        <li>
          Desarrollar habilidades para facilitar la comunicación y la resolución
          de problemas dentro de las familias.
        </li>
        <li>
          Conocer cómo trabajar con estructuras familiares diversas y contextos
          culturales.
        </li>
      </ul>

      <h3>Temas principales:</h3>
      <ul>
        <li>Teoría de los sistemas familiares y modelos de terapia.</li>
        <li>Estudio de las relaciones familiares y estilos de comunicación.</li>
        <li>Strategias para gestionar conflictos y construir cohesión.</li>
        <li>
          Trabajo con familias fusionadas y consideraciones multicultural.
        </li>
        <li>Ética en el consejería familiar.</li>
      </ul>

      <h3>Metodología:</h3>
      <p>
        El curso incluye conferencias, estudios de casos familiares, ejercicios
        de rol, proyectos de grupo y sesiones de consejería simuladas.
      </p>

      <h3>Evaluación:</h3>
      <p>Los estudiantes serán evaluados a través de:</p>
      <ul>
        <li>Análisis de escenarios de casos familiares.</li>
        <li>Reflexiones escritas y planes de consejería.</li>
        <li>Calificaciones de juegos de rol y participación en clase.</li>
        <li>Exámenes escritos parciales y finales.</li>
      </ul>

      <h3>Importancia del curso:</h3>
      <p>
        Este curso prepara a los estudiantes para apoyar y guiar eficazmente a
        las familias a través de desafíos, contribuyendo al bienestar mental y
        bienestar relacional en contextos diversos.
      </p>
    </div>
  </main>
</mat-dialog-content>

<app-footer-modal />
