<app-banner class="fadeIn" [banner]="flyer" [alt]="alt" />
<mat-dialog-content>
  <main class="fadeIn">
    <h2>BACC-ACI-3100 - Intervención en crisis avanzada</h2>
    <div class="line"></div>

    <div class="content fadeIn">
      <p>
        El curso <span>Intervención en Crisis Avanzada</span> ofrece formación
        especializada en técnicas de intervención para abordar crisis
        psicológicas y emocionales complejas. Está diseñado para preparar a los
        estudiantes en el manejo de situaciones críticas que requieren
        respuestas clínicas rápidas, éticas y eficaces.
      </p>

      <h3>Objetivos del curso:</h3>
      <ul>
        <li>
          Identificar distintos tipos de crisis complejas y sus implicaciones
          psicológicas.
        </li>
        <li>
          Aplicar técnicas avanzadas de intervención en situaciones de alto
          riesgo emocional.
        </li>
        <li>
          Desarrollar habilidades para la evaluación rápida y eficaz durante una
          crisis.
        </li>
        <li>
          Implementar protocolos clínicos y éticos en contextos de emergencia
          psicológica.
        </li>
        <li>
          Fortalecer la resiliencia y el autocuidado del profesional durante la
          intervención en crisis.
        </li>
      </ul>

      <h3>Temas principales:</h3>
      <ul>
        <li>Modelos avanzados de intervención en crisis.</li>
        <li>Crisis suicidas y manejo de conductas autolesivas.</li>
        <li>Intervención en traumas colectivos y desastres naturales.</li>
        <li>Crisis en contextos clínicos y hospitalarios.</li>
        <li>Estrategias de contención emocional y manejo del estrés agudo.</li>
      </ul>

      <h3>Metodología:</h3>
      <p>
        El curso se imparte mediante clases teóricas, simulaciones clínicas,
        análisis de casos reales y ejercicios prácticos en escenarios de crisis.
        Se promueve la discusión crítica y el aprendizaje colaborativo.
      </p>

      <h3>Evaluación:</h3>
      <p>La evaluación del curso incluirá:</p>
      <ul>
        <li>Simulaciones de intervención en crisis.</li>
        <li>Estudios de caso con análisis crítico y propuestas de acción.</li>
        <li>Pruebas escritas sobre técnicas y modelos de intervención.</li>
        <li>
          Reflexiones escritas sobre el rol del consejero en contextos críticos.
        </li>
      </ul>

      <h3>Importancia del curso:</h3>
      <p>
        Las crisis complejas requieren una intervención rápida y especializada.
        Este curso equipa a los futuros profesionales con herramientas
        esenciales para brindar apoyo psicológico efectivo en situaciones de
        alto impacto emocional y psicológico.
      </p>
    </div>
  </main>
</mat-dialog-content>

<app-footer-modal />
