<app-banner class="fadeIn" [banner]="flyer" [alt]="alt" />
<mat-dialog-content>
  <main class="fadeIn">
    <h2>MAMH-ED-2200 - Eating Disorders</h2>

    <div class="line"></div>

    <div class="content fadeIn">
      <p>
        The course <span>MAMH-ED-2200 - Eating Disorders</span> covers the most
        common eating disorders, such as anorexia and bulimia. Students will
        learn about the psychological and biological causes, as well as
        effective treatment strategies in this field.
      </p>

      <h3>Course Objectives:</h3>
      <ul>
        <li>Understand the main eating disorders and their characteristics.</li>
        <li>
          Analyze the psychological, biological, and social causes of these
          disorders.
        </li>
        <li>
          Explore evidence-based treatments for anorexia, bulimia, and other
          eating disorders.
        </li>
        <li>
          Evaluate the impact of eating disorders on physical and mental health.
        </li>
        <li>
          Develop strategies for the prevention and early detection of these
          disorders.
        </li>
      </ul>

      <h3>Main Topics:</h3>
      <ul>
        <li>Classification and diagnosis of eating disorders.</li>
        <li>
          Psychological and biological factors in the development of these
          disorders.
        </li>
        <li>Impact of media and culture on body image.</li>
        <li>
          Therapeutic interventions: cognitive-behavioral therapy and
          alternative approaches.
        </li>
        <li>Prevention strategies and education in food health.</li>
      </ul>

      <h3>Methodology:</h3>
      <p>
        The course combines theoretical classes, case analyses, review of
        clinical studies, and psychological intervention practices. It
        encourages discussion and learning based on scientific research.
      </p>

      <h3>Evaluation:</h3>
      <p>The course evaluation will include:</p>
      <ul>
        <li>Exams on the theories and diagnosis of eating disorders.</li>
        <li>Case analysis on anorexia and bulimia.</li>
        <li>Essays on the social and cultural impact on body image.</li>
        <li>
          Presentations on effective treatments and prevention strategies.
        </li>
        <li>Debates on the role of society and media in body perception.</li>
      </ul>

      <h3>Importance of the Course:</h3>
      <p>
        Understanding eating disorders is essential for intervention and
        prevention in clinical and social settings. This course provides key
        tools for professional practice in psychology, health, and education.
      </p>
    </div>
  </main>
</mat-dialog-content>

<app-footer-modal />
