<app-banner class="fadeIn" [banner]="flyer" [alt]="alt" />
<mat-dialog-content>
  <main class="fadeIn">
    <h2>MATH-CSPF-507 - Espiritualidad Cristiana y Formación Personal</h2>

    <div class="line"></div>

    <div class="content fadeIn">
      <p><span>Espiritualidad Cristiana y Formación Personal</span> explora cómo cultivar una vida espiritual profunda, formando carácter cristiano y compromiso con la misión de Dios.</p>

      <h3>Objetivos del Curso:</h3>
      <ul>
        <li>Comprender fundamentos teológicos de la espiritualidad cristiana.</li>
        <li>Desarrollar una vida espiritual íntima con Dios.</li>
        <li>Explorar la influencia espiritual en el carácter ético.</li>
        <li>Practicar disciplinas espirituales cotidianas.</li>
        <li>Integrar la espiritualidad en la vida diaria y el servicio.</li>
      </ul>

      <h3>Temas Principales:</h3>
      <ul>
        <li>Relación personal con Dios: oración, meditación, ayuno.</li>
        <li>Prácticas espirituales para el crecimiento personal.</li>
        <li>Impacto ético de la espiritualidad cristiana.</li>
        <li>Formación espiritual a lo largo de la vida.</li>
        <li>Rol de la comunidad cristiana en el crecimiento espiritual.</li>
      </ul>

      <h3>Metodología:</h3>
      <p>Lecturas, ejercicios prácticos de disciplinas espirituales, actividades grupales y reflexión personal.</p>

      <h3>Evaluación:</h3>
      <ul>
        <li>Reflexiones sobre prácticas espirituales.</li>
        <li>Trabajo final de integración espiritual en la vida diaria.</li>
        <li>Presentaciones sobre espiritualidad cristiana.</li>
      </ul>

      <h3>Importancia del Curso:</h3>
      <p>Facilita el desarrollo de una vida cristiana integral, influenciada por prácticas espirituales profundas y un compromiso ético en el mundo.</p>
    </div>
  </main>
</mat-dialog-content>
<app-footer-modal />
