<p>
  The Master’s in Mental Health at World Theology University offers a wide range
  of courses that cover the fundamentals and key concepts of clinical psychology
  and mental health. Each course is designed to provide students with both
  theoretical knowledge and practical skills necessary to excel in the field.
  Below are the courses in the program, along with their respective code and
  description:
</p>

<ul>
  <li>
    <strong>
      MAMH-FMHCP-100 - Fundamentals of Mental Health Counseling and Perspective:
    </strong>
    In this course, students examine interventions to improve mental illness and
    promote psychological well-being. Research and treatment models are
    integrated to consider mental well-being in terms of pathology and optimal
    psychological and physical development. The meanings of health and illness
    in different identities (such as ethnicity, culture, gender, sexuality,
    class, and age) are explored. Disorders such as depression, anxiety,
    psychosis, and constructs like resilience, hope, wisdom, and spirituality
    are also reviewed.
  </li>
  <button mat-button (click)="openDialog('mamhfmhcp100')">Ver más...</button>

  <li>
    <strong> MAMH-ICSL-200 - Individual Counseling Skills Laboratory: </strong>
    Students participate in a practical laboratory in small groups, using
    simulations, modeling, and microcounseling. This course focuses on learning
    fundamental communication skills necessary for interviews and counseling,
    applicable to a wide range of professional situations such as counseling
    with children, adolescents, and adults.
  </li>
  <button mat-button (click)="openDialog('mamhicsl200')">Ver más...</button>

  <li>
    <strong>
      MAMH-ICTP-300 - Individual Counseling: Theory and Process:
    </strong>
    This course reviews the major counseling theories and their application in
    the social and emotional development of individuals at various life stages.
    Classical and contemporary counseling theories are addressed, with emphasis
    on normal and abnormal personality development, as well as the evidence base
    for the various theories.
  </li>
  <button mat-button (click)="openDialog('mamhictp300')">Ver más...</button>

  <li>
    <strong> MAMH-HGD-400 - Human Growth and Development: </strong>
    This course explores the major theories of human growth and development,
    covering the life cycle from birth to death. Students will learn to assess
    the multiple factors influencing human development, such as biology and
    culture, and apply knowledge in real-life situations with children,
    adolescents, and adults.
  </li>
  <button mat-button (click)="openDialog('mamhhgd400')">Ver más...</button>

  <li>
    <strong>
      MAMH-PCEI-500 - Professional Counseling and Ethical Issues in Mental
      Health:
    </strong>
    This course offers an in-depth view of the history and ethical issues in the
    mental health counseling profession. Topics such as professional roles,
    licenses, certifications, and ethics applied to decision-making in the
    mental health counseling context are discussed. The ethical aspects of
    intervention in crisis situations are also explored.
  </li>
  <button mat-button (click)="openDialog('mamhpcei500')">Ver más...</button>

  <li>
    <strong>
      MAMH-PMHCP-600 - Practicum in Mental Health Counseling and Perspective:
    </strong>
    Students apply counseling skills learned in practical settings under
    professional supervision. This course requires students to complete at least
    100 hours of practical experience, with at least 40 hours of direct contact
    with clients, and participate in weekly supervision sessions. It is a
    foundational course for developing competencies as professional counselors.
  </li>
  <button mat-button (click)="openDialog('mamhpmhcp600')">Ver más...</button>

  <li>
    <strong> MAMH-AP-700 - Abnormal Psychology: </strong>
    This course examines the most common psychological disorders, such as
    anxiety disorders, mood disorders, eating disorders, substance-related
    disorders, and more. Students will learn about the classification, etiology,
    symptoms, and treatments associated with these disorders, as well as the
    impact they have on individuals throughout their lives.
  </li>
  <button mat-button (click)="openDialog('mamhap700')">Ver más...</button>

  <li>
    <strong>
      MAMH-REBS-800 - Research and Evaluation in Behavioral Sciences
    </strong>
    Students will learn to evaluate research studies in the behavioral sciences,
    with a particular focus on research across the lifespan. Emphasis is placed
    on scientific methodology, hypothesis development, and ethical evaluation in
    applied research within the field of clinical psychology.
  </li>
  <button mat-button (click)="openDialog('mamhrebs800')">Ver más...</button>

  <li>
    <strong> MAMH-GDTP-900 - Group Dynamics Theory and Practice </strong>
    This course offers an introduction to group process theory and the
    underlying dynamics of group counseling. Students will develop an
    understanding of group interactions and how to use groups in counseling
    interventions with children, adolescents, and adults. Emotional, behavioral,
    and interpersonal dynamics within the group context will be emphasized.
  </li>
  <button mat-button (click)="openDialog('mamhgdtp900')">Ver más...</button>

  <li>
    <strong> MAMH-VDD-1000 - Vocational Development Dynamics: </strong>
    This course explores the nature of work, career patterns, occupational
    choice, and job satisfaction. Students will analyze how factors such as
    work, leisure, and education influence vocational development, and how these
    aspects can be applied to the counseling context.
  </li>
  <button mat-button (click)="openDialog('mamhvdd1000')">Ver más...</button>

  <li>
    <strong> MAMH-IC-1100 - Intercultural Counseling: </strong>
    This course examines how the behavior and experience of individuals are
    influenced by culture and intersectionality. Students will increase their
    self-awareness and learn to apply counseling theories and techniques in
    diverse cultural contexts, improving their skills for working with
    populations from different backgrounds.
  </li>
  <button mat-button (click)="openDialog('mamhic1100')">Ver más...</button>

  <li>
    <strong> MAMH-POV-1200 - Psychology of Violence: </strong>
    This course provides an in-depth analysis of the psychological effects of
    violence and how these can be treated from a clinical psychology
    perspective. Students will study the different types of violence, their
    impact on victims, and the most effective intervention strategies for
    treatment.
  </li>
  <button mat-button (click)="openDialog('mamhpov1200')">Ver más...</button>

  <li>
    <strong> MAMH-CBTT-1300 - Cognitive-Behavioral Therapy Theories </strong>
    This course provides an in-depth understanding of the theories and
    applications of cognitive-behavioral therapy (CBT). Students will learn how
    CBT can be applied to the treatment of disorders such as anxiety,
    depression, and behavioral disorders.
  </li>
  <button mat-button (click)="openDialog('mamhcbtt1300')">Ver más...</button>

  <li>
    <strong> MAMH-PSYP-1400 - Psychopharmacology: </strong>
    In this course, students are introduced to the use of medications in the
    treatment of psychological disorders. Students will learn about the
    different types of drugs used in clinical psychology, how they work, and
    their effects on patients, as well as studying the interaction between
    medications and psychotherapy.
  </li>
  <button mat-button (click)="openDialog('mamhpsyp1400')">Ver más...</button>

  <li>
    <strong> MAMH-NR-1500 - Neuropsychological Rehabilitation </strong>
    This course focuses on the study of neuropsychology and its application in
    the rehabilitation of patients with neurological disorders. Students will
    learn about the assessment and treatment of cognitive, emotional, and
    behavioral problems related to brain damage.
  </li>
  <button mat-button (click)="openDialog('mamhnr1500')">Ver más...</button>

  <li>
    <strong> MAMH-IPC-1600 - Intervention in Psychological Crises </strong>
    This course trains students on how to intervene effectively in crisis
    situations, such as suicide, abuse, severe trauma, or disasters. Students
    will learn immediate intervention techniques and how to manage the emotional
    stability of patients in the short and long term.
  </li>
  <button mat-button (click)="openDialog('mamhipc1600')">Ver más...</button>

  <li>
    <strong> MAMH-APT-1700 - Advanced Psychotherapy Techniques </strong>
    In this course, advanced therapeutic techniques such as
    dialectical-behavioral therapy (DBT) and psychodynamic psychotherapy are
    covered. Students will learn how to integrate these techniques into the
    treatment of complex disorders such as borderline personality disorder.
  </li>
  <button mat-button (click)="openDialog('mamhapt1700')">Ver más...</button>

  <li>
    <strong> MAMH-CAP-1800 - Child and Adolescent Psychology: </strong>
    This course delves into common psychological disorders in children and
    adolescents, addressing their diagnosis, treatment, and emotional
    development in the young. Disorders such as ADHD, childhood depression, and
    anxiety in youth are covered.
  </li>
  <button mat-button (click)="openDialog('mamhcap1800')">Ver más...</button>

  <li>
    <strong> MAMH-FCT-1900 - Family and Couples Therapy: </strong>
    This course teaches students to work with families and couples in crisis,
    using therapeutic approaches that improve family dynamics. Topics such as
    domestic violence, relational disorders, and conflict management are
    addressed.
  </li>
  <button mat-button (click)="openDialog('mamhfct1900')">Ver más...</button>

  <li>
    <strong>
      MAMH-PAGD-2000 - Psychology of Aging and Geriatric Disorders
    </strong>
    This course explores aging from a psychological perspective, addressing
    disorders such as dementia and depression in older age. Students will learn
    strategies to support elderly patients and improve their quality of life.
  </li>
  <button mat-button (click)="openDialog('mamhpagd2000')">Ver más...</button>

  <li>
    <strong> MAMH-ASP-2100 - Applied Social Psychology: </strong>
    Students will examine how social factors influence behavior and individual
    decisions. This course addresses group behavior, prejudice and
    discrimination, and how these phenomena impact the mental health of
    individuals.
  </li>
  <button mat-button (click)="openDialog('mamhasp2100')">Ver más...</button>

  <li>
    <strong> MAMH-ED-2200 - Eating Disorders: </strong>
    This course covers the most common eating disorders, such as anorexia and
    bulimia. Students will learn about the psychological and biological causes,
    as well as effective treatment strategies in this field.
  </li>
  <button mat-button (click)="openDialog('mamhed2200')">Ver más...</button>

  <li>
    <strong> MAMH-FP-2300 - Forensic Psychology: </strong>
    This course provides an understanding of how psychology is applied in the
    legal context, addressing topics such as competence evaluation and criminal
    violence. Students will learn to use psychological tools within the judicial
    system.
  </li>
  <button mat-button (click)="openDialog('mamhfp2300')">Ver más...</button>

  <!-- <li>
    <strong> MAMH-ASP-2300 - Applied Social Psychology </strong>
    Students will examine how social factors influence behavior and individual
    decisions. This course addresses group behavior, prejudice and
    discrimination, and how these phenomena impact the mental health of
    individuals.
  </li>
  <button mat-button (click)="openDialog('mamhasp2300')">Ver más...</button>

  <li>
    <strong> MAMH-ED-2400 - Eating Disorders </strong>
    This course covers the most common eating disorders, such as anorexia and
    bulimia. Students will learn about the psychological and biological causes,
    as well as effective treatment strategies in this field.
  </li>
  <button mat-button (click)="openDialog('mamhed2400')">Ver más...</button>

  <li>
    <strong> MAMH-FP-2500 - Forensic Psychology </strong>
    This course provides an understanding of how psychology is applied in the
    legal context, addressing topics such as competence evaluation and criminal
    violence. Students will learn to use psychological tools within the judicial
    system.
  </li>
  <button mat-button (click)="openDialog('mamhfp2500')">Ver más...</button>

  <li>
    <strong> MAMH-FP-2600 - Forensic Psychology: </strong>
    This course provides an understanding of how psychology is applied in the
    legal context, addressing topics such as competence evaluation and criminal
    violence. Students will learn to use psychological tools within the judicial
    system.
  </li>
  <button mat-button (click)="openDialog('mamhfp2600')">Ver más...</button> -->
</ul>
