<app-banner class="fadeIn" [banner]="flyer" [alt]="alt" />
<mat-dialog-content>
  <main class="fadeIn">
    <h2>MATH-WRCI-600 - World Religions: A Comparative Introduction</h2>

    <div class="line"></div>

    <div class="content fadeIn">
      <p><span>World Religions: A Comparative Introduction</span> is a course designed to provide an overview of the major world religions and their core beliefs. The course will compare the most influential religious traditions, such as Christianity, Islam, Hinduism, Buddhism, Judaism, and others, exploring their doctrinal principles, ritual practices, and their influence on culture and society. Students will learn to analyze the similarities and differences between these religions, as well as develop a deeper understanding of the impact of religion in the contemporary world.</p>

      <h3>Course Objectives:</h3>
      <ul>
        <li>Introduce students to the major world religions.</li>
        <li>Compare and contrast the beliefs and practices of different religious traditions.</li>
        <li>Explore the historical and cultural impact of religions on global society.</li>
        <li>Encourage a respectful and critical understanding of world religions.</li>
        <li>Develop skills to conduct comparative studies between religions.</li>
      </ul>

      <h3>Main Topics:</h3>
      <ul>
        <li>Christianity: core beliefs, history, and practices.</li>
        <li>Islam: basic principles, the pillars of Islam, and cultural influence.</li>
        <li>Hinduism: gods, philosophy, and important rituals.</li>
        <li>Buddhism: the path to enlightenment and the teachings of Buddha.</li>
        <li>Judaism: the history of Israel, the Temple, and the Hebrew tradition.</li>
        <li>Indigenous religions and other global religious traditions.</li>
      </ul>

      <h3>Methodology:</h3>
      <p>This course will combine theoretical lectures with case studies, group discussions, and selected readings of key religious texts. Students will have the opportunity to examine sacred texts, rituals, and customs of various religions, engaging in debates and projects about the role of religion in contemporary society.</p>

      <h3>Assessment:</h3>
      <ul>
        <li>Comparative essays on the religions studied.</li>
        <li>Written exams covering the key beliefs and practices of the religions.</li>
        <li>Group presentations on specific topics related to comparative religions.</li>
        <li>Research projects on the cultural and social impact of world religions.</li>
      </ul>

      <h3>Importance of the Course:</h3>
      <p>This course is essential for those interested in religion, global culture, and history. It provides students with a profound understanding of the beliefs and practices followed by millions of people around the world, fostering tolerance, respect, and interfaith dialogue.</p>
    </div>
  </main>
</mat-dialog-content>
<app-footer-modal />
