<app-banner class="fadeIn" [banner]="flyer" [alt]="alt" />
<mat-dialog-content>
  <main class="fadeIn">
    <h2></h2>

    <div class="line"></div>

    <div class="content fadeIn">
      <p>
        The course
        <span>MAMH-VDD-1000 - Dynamics of Vocational Development</span> examines
        the nature of work, career patterns, occupation choice, and job
        satisfaction. Students will analyze how factors such as work, leisure,
        and education influence vocational development and how these aspects can
        be applied in the context of counseling.
      </p>

      <h3>Course Objectives:</h3>
      <ul>
        <li>Understand the key theories of vocational development.</li>
        <li>
          Analyze the influence of social, cultural, and personal factors in
          career planning.
        </li>
        <li>
          Develop strategies to guide individuals in making vocational
          decisions.
        </li>
        <li>Explore the impact of work and leisure on overall well-being.</li>
        <li>
          Apply counseling models for professional development and job
          satisfaction.
        </li>
      </ul>

      <h3>Main Topics:</h3>
      <ul>
        <li>Fundamentals of vocational development.</li>
        <li>Classic and contemporary theories of career planning.</li>
        <li>Factors influencing occupation choice.</li>
        <li>
          The relationship between work, leisure, and psychological well-being.
        </li>
        <li>Counseling strategies for career guidance.</li>
        <li>Assessment of vocational interests and skills.</li>
      </ul>

      <h3>Methodology:</h3>
      <p>
        The course is developed through case analysis, studies on professional
        trajectories, vocational guidance simulations, and practical career
        evaluation exercises. Active participation and experience-based learning
        are encouraged.
      </p>

      <h3>Assessment:</h3>
      <p>Course assessment will include:</p>
      <ul>
        <li>Exams on theories of vocational development.</li>
        <li>Case analysis on vocational guidance.</li>
        <li>Design of personalized career plans.</li>
        <li>Application of vocational assessment tools.</li>
        <li>Reflections on the impact of work on personal life.</li>
      </ul>

      <h3>Importance of the Course:</h3>
      <p>
        Vocational development is a crucial aspect of human well-being as it
        influences personal identity, economic stability, and quality of life.
        This course prepares students to guide individuals in making
        professional decisions and foster growth in their career trajectories.
      </p>
    </div>
  </main>
</mat-dialog-content>

<app-footer-modal />
