<app-banner class="fadeIn" [banner]="flyer" [alt]="alt" />
<mat-dialog-content>
  <main class="fadeIn">
    <h2>MATH-IOCP-307 - Introducción a la Filosofía Cristiana</h2>

    <div class="line"></div>

    <div class="content fadeIn">
      <p><span>Introducción a la Filosofía Cristiana</span> estudia cómo el cristianismo ha influido en el pensamiento filosófico y viceversa a lo largo de la historia.</p>

      <h3>Objetivos del Curso:</h3>
      <ul>
        <li>Comprender las principales corrientes filosóficas cristianas.</li>
        <li>Explorar la relación entre fe y razón.</li>
        <li>Analizar la moralidad y la libertad humana en el pensamiento cristiano.</li>
        <li>Estudiar a filósofos cristianos clave.</li>
      </ul>

      <h3>Temas Principales:</h3>
      <ul>
        <li>Existencia de Dios.</li>
        <li>Ética cristiana.</li>
        <li>Fe, razón y libertad.</li>
        <li>Impacto en la filosofía occidental.</li>
      </ul>

      <h3>Metodología:</h3>
      <p>Lecturas de textos clásicos, debates y reflexiones críticas.</p>

      <h3>Evaluación:</h3>
      <ul>
        <li>Ensayos sobre problemas filosóficos cristianos.</li>
        <li>Exámenes sobre fe y razón.</li>
        <li>Presentaciones sobre filósofos cristianos.</li>
      </ul>

      <h3>Importancia del Curso:</h3>
      <p>Fundamental para integrar filosofía y fe en la formación cristiana.</p>
    </div>
  </main>
</mat-dialog-content>

<app-footer-modal />
