<app-banner class="fadeIn" [banner]="flyer" [alt]="alt" />
<mat-dialog-content>
  <main class="fadeIn">
    <h2>
      MAMH-PMHCP-600 - Práctica en Consejería para la Salud Mental y la
      Perspectiva
    </h2>
    <div class="line"></div>

    <div class="content fadeIn">
      <p>
        El curso
        <span
          >MAMH-PMHCP-600 - Práctica en Consejería para la Salud Mental y la
          Perspectiva</span
        >
        permite a los estudiantes aplicar las habilidades adquiridas en entornos
        prácticos bajo supervisión profesional. Los participantes deben
        completar al menos 100 horas de experiencia práctica, con un mínimo de
        40 horas de contacto directo con clientes, además de asistir a sesiones
        de supervisión semanal. Este curso es clave para el desarrollo de
        competencias como consejeros profesionales.
      </p>

      <h3>Objetivos del curso:</h3>
      <ul>
        <li>Aplicar técnicas de consejería en entornos supervisados.</li>
        <li>
          Desarrollar habilidades de comunicación y relación terapéutica con los
          clientes.
        </li>
        <li>
          Reflexionar sobre experiencias prácticas y mejorar la intervención
          profesional.
        </li>
        <li>
          Participar en supervisión semanal para recibir retroalimentación y
          mejorar habilidades.
        </li>
        <li>
          Fomentar el crecimiento profesional y ético en la práctica de la
          consejería.
        </li>
      </ul>

      <h3>Temas principales:</h3>
      <ul>
        <li>Fundamentos de la práctica supervisada en consejería.</li>
        <li>Desarrollo de habilidades terapéuticas en contexto real.</li>
        <li>Ética y confidencialidad en la práctica profesional.</li>
        <li>Evaluación y diagnóstico en la consejería.</li>
        <li>Manejo de casos y documentación clínica.</li>
        <li>Supervisión y retroalimentación en consejería.</li>
      </ul>

      <h3>Metodología:</h3>
      <p>
        El curso se desarrolla a través de la práctica supervisada en entornos
        clínicos, análisis de casos, sesiones de retroalimentación y reflexiones
        escritas sobre las experiencias profesionales. Se enfatiza el
        aprendizaje basado en la experiencia y la aplicación de conocimientos
        teóricos en la práctica.
      </p>

      <h3>Evaluación:</h3>
      <p>La evaluación del curso incluirá:</p>
      <ul>
        <li>Registro de horas de práctica supervisada.</li>
        <li>Evaluaciones de desempeño realizadas por supervisores.</li>
        <li>Informes de casos y análisis de intervenciones.</li>
        <li>Reflexiones escritas sobre la experiencia de consejería.</li>
        <li>
          Participación en sesiones de supervisión y debates profesionales.
        </li>
      </ul>

      <h3>Importancia del curso:</h3>
      <p>
        Este Práctica es esencial para consolidar las competencias necesarias en
        la consejería profesional. Proporciona experiencia práctica, supervisión
        especializada y oportunidades de desarrollo profesional, garantizando la
        formación de consejeros éticos y preparados para intervenir eficazmente
        en la salud mental.
      </p>
    </div>
  </main>
</mat-dialog-content>

<app-footer-modal />
