<app-banner class="fadeIn" [banner]="flyer" [alt]="alt" />
<mat-dialog-content>
  <main class="fadeIn">
    <h2>BACH-FLC-1000 - Fundamentos del liderazgo en capellanía</h2>

    <div class="line"></div>

    <div class="content fadeIn">
      <p>
        Este curso ofrece un enfoque integral en el desarrollo de habilidades de
        liderazgo dentro de contextos pastorales y espirituales, con énfasis en
        los principios éticos y la gestión efectiva del ministerio. A lo largo
        del programa, los estudiantes explorarán modelos bíblicos de liderazgo,
        principios de autoridad y servicio, y estrategias para la toma de
        decisiones basadas en valores cristianos.
      </p>

      <h3>Objetivos del curso:</h3>
      <ul>
        <li>
          <strong>Modelos bíblicos de liderazgo:</strong> Los estudiantes
          aprenderán sobre los modelos de liderazgo presentados en las
          Escrituras, comprendiendo cómo los principios bíblicos guían la
          autoridad y el servicio dentro de la capellanía.
        </li>
        <li>
          <strong>Integridad y ética en el liderazgo:</strong> Se abordarán
          temas clave como la integridad en el liderazgo, asegurando que los
          estudiantes comprendan la importancia de liderar con autenticidad y en
          conformidad con los valores cristianos.
        </li>
        <li>
          <strong>Administración de recursos ministeriales:</strong> Los
          estudiantes aprenderán estrategias efectivas para gestionar los
          recursos dentro del ministerio, incluyendo la planificación, el
          presupuesto y la distribución responsable de los mismos.
        </li>
        <li>
          <strong>Resolución de conflictos en comunidades de fe:</strong> Se
          proporcionarán herramientas para resolver conflictos de manera
          saludable y constructiva dentro de las comunidades de fe, promoviendo
          la unidad y el entendimiento.
        </li>
        <li>
          <strong>Formación de equipos pastorales:</strong> El curso profundiza
          en la importancia de la formación y el liderazgo de equipos pastorales
          sólidos, creando un ambiente de trabajo colaborativo y eficaz en el
          ministerio.
        </li>
        <li>
          <strong>Impacto del liderazgo en la vida espiritual:</strong> Los
          estudiantes reflexionarán sobre el impacto del liderazgo cristiano en
          la vida espiritual de los creyentes y cómo el testimonio personal del
          líder influye en su comunidad.
        </li>
      </ul>

      <h3>Metodología:</h3>
      <p>
        El curso combinará teoría y práctica a través de estudios de caso,
        discusiones en grupo y ejercicios prácticos enfocados en la toma de
        decisiones éticas, la resolución de conflictos y el trabajo en equipo.
        Los estudiantes desarrollarán competencias clave para ejercer un
        liderazgo pastoral transformador y responsable, aprendiendo a aplicar
        los principios bíblicos en contextos ministeriales reales.
      </p>

      <h3>Evaluación:</h3>
      <p>
        La evaluación incluirá la participación activa en las discusiones y
        simulaciones, la elaboración de un plan de liderazgo para un contexto
        pastoral, y un examen final que medirá el entendimiento de los
        principios de liderazgo ético y la capacidad para implementarlos en
        situaciones ministeriales.
      </p>
    </div>
  </main>
</mat-dialog-content>

<app-footer-modal />
