<app-banner class="fadeIn" [banner]="flyer" [alt]="alt" />
<mat-dialog-content>
  <main class="fadeIn">
    <h2>MACC-GP-200 - Psicología general</h2>
    <div class="line"></div>

    <div class="content fadeIn">
      <p>
        <span>Psicología general</span> introduce a los estudiantes a los
        conceptos básicos de psicología, con un enfoque en la comprensión del
        comportamiento humano y su conexión con la salud mental. El curso
        proporciona un resumen de las teorías psicológicas principales, procesos
        y aplicaciones en la vida cotidiana.
      </p>

      <h3>Objetivos del curso:</h3>
      <ul>
        <li>
          Entender los principios fundamentales y la historia de la psicología
          como una ciencia.
        </li>
        <li>
          Reconocer las teorías psicológicas clave y su aplicación al
          comportamiento y procesos mentales.
        </li>
        <li>
          Explorar las bases biológicas, cognitivas y sociales del
          comportamiento.
        </li>
        <li>
          Identificar los factores que influencian la salud mental y el bien
          estar emocional.
        </li>
        <li>
          Aplicar el conocimiento psicológico a contextos personales y sociales.
        </li>
      </ul>

      <h3>Temas principales:</h3>
      <ul>
        <li>Introducción a la psicología y los métodos de investigación.</li>
        <li>Biopsicología y el sistema nervioso.</li>
        <li>Sensación, percepción y conciencia.</li>
        <li>Aprendizaje, memoria y cognición.</li>
        <li>Personality, psychological disorders, and treatment.</li>
      </ul>

      <h3>Método de enseñanza:</h3>
      <p>
        El curso utiliza una mezcla de conferencias, recursos multimedia,
        discusiones y actividades interactivas. Los estudiantes participarán en
        trabajo individual y en grupo para reflexionar sobre conceptos
        psicológicos y aplicaciones en la vida cotidiana.
      </p>

      <h3>Metodología de evaluación:</h3>
      <p>Los estudiantes serán evaluados a través de:</p>
      <ul>
        <li>
          Pruebas y exámenes cubriendo conceptos psicológicos fundamentales.
        </li>
        <li>Trabajos escritos y reflexiones sobre temas de salud mental.</li>
        <li>Discusiones en grupo y participación en actividades de clase.</li>
        <li>A final project analyzing a real-world psychological issue.</li>
      </ul>

      <h3>Importancia del curso:</h3>
      <p>
        Este curso proporciona una base sólida para entender el pensamiento y el
        comportamiento humano, lo cual es esencial para los estudiantes que
        persiguen carreras en consejería, trabajo social, educación, atención
        médica, o cualquier campo que involucre interacción interpersonal y bien
        estar mental.
      </p>
    </div>
  </main>
</mat-dialog-content>

<app-footer-modal />
