<app-banner class="fadeIn" [banner]="flyer" [alt]="alt" />
<mat-dialog-content>
  <main class="fadeIn">
    <h2>BACC-LT-1400 - Learning Theory</h2>
    <div class="line"></div>
    <div class="content fadeIn">
      <p>
        The course <span>Learning Theory</span> studies the fundamental
        principles of human learning and how these relate to changes in
        behavior. It explores both classical and contemporary theories to
        understand how people acquire, retain, and apply knowledge and skills.
      </p>

      <ul>
        <li>Understand the main theoretical approaches to learning.</li>
        <li>
          Analyze the relationship between learning and behavior modification.
        </li>
        <li>
          Explore practical applications of learning theories in various
          contexts.
        </li>
        <li>Identify factors influencing the learning process.</li>
        <li>
          Develop skills to apply effective teaching and training strategies.
        </li>
      </ul>

      <h3>Main Topics:</h3>
      <ul>
        <li>Behaviorist learning theories.</li>
        <li>Cognitive and constructivist approaches.</li>
        <li>Emotional and social factors in learning.</li>
        <li>Educational and clinical applications of learning theory.</li>
        <li>Assessment of the learning process and behavioral change.</li>
      </ul>

      <h3>Methodology:</h3>
      <p>
        The course combines lectures, theory analysis, group discussions, and
        case study reviews. Active participation is encouraged to link theory to
        real-world learning situations.
      </p>

      <h3>Assessment:</h3>
      <p>The course evaluation will include:</p>
      <ul>
        <li>Exams on learning theories and models.</li>
        <li>Essays on practical applications of the studied approaches.</li>
        <li>Presentations on real-life cases of behavior modification.</li>
        <li>Projects applying teaching-learning strategies.</li>
      </ul>

      <h3>Course Significance:</h3>
      <p>
        Understanding learning theory is essential for grasping how people
        change behavior, develop skills, and adapt to their environment. This
        course is crucial for professionals in psychology, education, and
        counseling.
      </p>
    </div>
  </main>
</mat-dialog-content>

<app-footer-modal />
