<ul>
  <li>
    <strong>BACC-IP-100 -Introduction to Psychology</strong> - Basic
    fundamentals of psychology as a science, its history, and principles.
  </li>
  <button mat-button (click)="openDialog('en100baccip')">Learn more...</button>

  <li>
    <strong>BACC-HDI-200 -Human Development I</strong> - Study of human
    development from childhood to adolescence.
  </li>
  <button mat-button (click)="openDialog('en200bacchdi')">Learn more...</button>
  <li>
    <strong>BACC-GP-300 - General Psychology</strong> - Principles of general
    psychology, including theories and applications.
  </li>
  <button mat-button (click)="openDialog('en300baccgp')">Learn more...</button>
  <li>
    <strong>BACC-PT-400 - Personality Theory</strong> - Models and theories on
    human personality.
  </li>
  <button mat-button (click)="openDialog('en400baccpt')">Learn more...</button>
  <li>
    <strong>BACC-TPF-500 - Theology and Psychology: Foundations</strong> -
    Exploration of the relationship between psychology and theological
    principles.
  </li>
  <button mat-button (click)="openDialog('en500bacctpf')">Learn more...</button>
  <li>
    <strong>BACC-CSAL-600 - Communication Skills and Active Listening</strong> -
    Fundamentals of effective communication and empathetic listening skills.
  </li>
  <button mat-button (click)="openDialog('en600bacccsal')">
    Learn more...
  </button>
  <li>
    <strong>BACC-EPC-700 - Ethics in Psychology and Counseling</strong> -
    Ethical principles in clinical practice and counseling.
  </li>
  <button mat-button (click)="openDialog('en700baccpi')">Learn more...</button>
  <li>
    <strong>BACC-PI-800 - Psychopathology I</strong> - Study of common mental
    disorders, their diagnosis, and treatment.
  </li>
  <button mat-button (click)="openDialog('en800baccpi')">Learn more...</button>
  <li>
    <strong>BACC-PII-900 - Psychopathology II</strong> - Continuation of the
    study of mental disorders, with a focus on complex diagnoses.
  </li>
  <button mat-button (click)="openDialog('en900baccpii')">Learn more...</button>
  <li>
    <strong>BACC-CI-1000 - Crisis Intervention</strong> - Techniques and
    strategies for managing psychological and emotional crises.
  </li>
  <button mat-button (click)="openDialog('en1000baccic')">Learn more...</button>
  <li>
    <strong>BACC-CBT-11000 - Cognitive Behavioral Therapy</strong> - Cognitive
    Behavioral Therapy (CBT) is a psychotherapy that helps change negative
    thoughts and behaviors, improving emotions and addressing specific issues
    like anxiety and depression.
  </li>
  <button mat-button (click)="openDialog('en1100bacccbt')">
    Learn more...
  </button>
  <li>
    <strong> BACC-SP-1200 - Social Psychology</strong> - Study of the effects of
    society and environment on human behavior.
  </li>
  <button mat-button (click)="openDialog('en1200baccsp')">Learn more...</button>
  <li>
    <strong> BACC-CPI-1300 - Counseling and Psychotherapy I</strong> -
    Fundamentals of counseling and psychotherapy applied to common situations.
  </li>
  <button mat-button (click)="openDialog('en1300bacccpi')">
    Learn more...
  </button>
  <li>
    <strong>BACC-LT-1400 - Learning Theory</strong> - Study of the principles of
    human learning and its relation to behavior change.
  </li>
  <button mat-button (click)="openDialog('en1400bacclt')">Learn more...</button>
  <li>
    <strong>BACC-FP-1500 - Family Psychology</strong> - Analysis of family
    dynamics and their impact on psychological development.
  </li>
  <button mat-button (click)="openDialog('en1500baccfp')">Learn more...</button>
  <li>
    <strong> BACC-FCT-1600 - Family and Couples Therapy</strong> - Techniques
    and approaches for working with family and couples dynamics.
  </li>
  <button mat-button (click)="openDialog('en1600baccfct')">
    Learn more...
  </button>
  <li>
    <strong>BACC-PI-1700 - Psychosocial Intervention</strong> - Approaches to
    intervention in community and group contexts.
  </li>
  <button mat-button (click)="openDialog('en1700baccpi')">Learn more...</button>
  <li>
    <strong>BACC-CAP-1800 - Child and Adolescent Psychology</strong> - Study of
    emotional disorders and needs in children and adolescents.
  </li>
  <button mat-button (click)="openDialog('en1800bacccap')">
    Learn more...
  </button>
  <li>
    <strong>BACC-PAI-1900 - Psychological Assessment I</strong> - Methods and
    tools for psychological assessment in different contexts.
  </li>
  <button mat-button (click)="openDialog('en1900baccpai')">
    Learn more...
  </button>
  <li>
    <strong>BACC-PAII-2000 - Psychological Assessment II</strong> - Methods and
    tools for psychological assessment in different contexts.
  </li>
  <button mat-button (click)="openDialog('en2000baccpaii')">
    Learn more...
  </button>
  <li>
    <strong> BACC-CCPI-2100 - Clinical Counseling Practices I</strong> -
    Practical application of knowledge in controlled counseling environments.
  </li>
  <button mat-button (click)="openDialog('en2100baccccpi')">
    Learn more...
  </button>
  <li>
    <strong> BACC-CCPII-2200 - Clinical Counseling Practices II</strong> -
    Practical application of knowledge in controlled counseling environments.
  </li>
  <button mat-button (click)="openDialog('en2200baccccpii')">
    Learn more...
  </button>
  <li>
    <strong> BACC-CCPIII-2300 - Clinical Counseling Practices III</strong> -
    Practical application of knowledge in controlled counseling environments.
  </li>
  <button mat-button (click)="openDialog('en2300baccccpiii')">
    Learn more...
  </button>
  <li>
    <strong>BACC-BBB-2400 - Biological Bases of Behavior</strong> -
    Neurobiological foundations affecting human behavior.
  </li>
  <button mat-button (click)="openDialog('en2400baccbbb')">
    Learn more...
  </button>
  <li>
    <strong> BACC-HST-2500 - Humanistic and Systemic Therapy</strong> -
    Humanistic and systemic approaches in treating individuals and families.
  </li>
  <button mat-button (click)="openDialog('en2500bacchst')">
    Learn more...
  </button>
  <li>
    <strong> BACC-EDA-2600 - Eating Disorders and Addictions</strong> - Study of
    the main issues related to addictions and eating disorders.
  </li>
  <button mat-button (click)="openDialog('en2600bacceda')">
    Learn more...
  </button>
  <li>
    <strong> BACC-TP-2700- Trauma Psychology</strong> - Treatment and assessment
    of trauma, post-traumatic stress, and its effects on mental health.
  </li>
  <button mat-button (click)="openDialog('en2700bacctp')">Learn more...</button>
  <li>
    <strong> BACC-TGT-2800 - Third-Generation Therapies </strong> - Introduction
    to Acceptance and Commitment Therapy and Dialectical Behavior Therapy.
  </li>
  <button mat-button (click)="openDialog('en2800bacctgt')">
    Learn more...
  </button>

  <li>
    <strong> BACC-ARP-2900 - Applied Research in Psychology</strong> - Research
    methods applied to clinical and social psychology.
  </li>
  <button mat-button (click)="openDialog('en2900baccarp')">
    Learn more...
  </button>
  <li>
    <strong>BACC-AECP-3000 - Advanced Ethics in Clinical Psychology</strong> -
    Study of the most complex ethical issues in advanced clinical practice.
  </li>
  <button mat-button (click)="openDialog('en3000baccaecp')">
    Learn more...
  </button>
  <li>
    <strong> BACC-ACI-3100 - Advanced Crisis Intervention</strong> - Specialized
    techniques for intervening in complex psychological and emotional crises.
  </li>
  <button mat-button (click)="openDialog('en3100baccaci')">
    Learn more...
  </button>
  <li>
    <strong>BACC-CPS-3200 - Consulting and Professional Supervision</strong> -
    Tools and skills for supervising and advising other professionals in the
    field.
  </li>
  <button mat-button (click)="openDialog('en3200bacccps')">
    Learn more...
  </button>
  <li>
    <strong> BACC-FRIP-3300 - Final Research or Integrative Project</strong> -
    Development of in-depth research on a relevant topic in the field of
    clinical counseling, or an integrative practical project.
  </li>
  <button mat-button (click)="openDialog('en3300baccfrip')">
    Learn more...
  </button>

  <li>
    <strong> BACC-PPC-3400 - Preparation for Professional Certification</strong>
    - Course focused on preparing students for professional certification exams
    in clinical psychology and counseling.
  </li>
  <button mat-button (click)="openDialog('en3400baccppc')">
    Learn more...
  </button>
</ul>
