<app-banner class="fadeIn" [banner]="flyer" [alt]="alt" />
<mat-dialog-content>
  <main class="fadeIn">
    <h2>MATH-LT-800 - Liberation Theology</h2>

    <div class="line"></div>

    <div class="content fadeIn">
      <p><span>Liberation Theology</span> studies the emergence of liberation theology in Latin America, its emphasis on the preferential option for the poor, and its impact on Christian ethics, politics, and global Christianity in the fight against injustice and oppression.</p>

      <h3>Course Objectives:</h3>
      <ul>
        <li>Analyze the historical context and origins of liberation theology.</li>
        <li>Study the works of key liberation theologians.</li>
        <li>Explore the Christian response to injustice through liberation theology.</li>
        <li>Reflect on the relevance of liberation theology today.</li>
      </ul>

      <h3>Main Topics:</h3>
      <ul>
        <li>The birth of liberation theology in the 1960s Latin America.</li>
        <li>Key figures: Gustavo Gutiérrez, Leonardo Boff, Jon Sobrino.</li>
        <li>Social justice, poverty, and Christian faith.</li>
        <li>Faith, politics, and social transformation.</li>
      </ul>

      <h3>Methodology:</h3>
      <p>Students will engage in reading foundational texts, discussions, and critical analyses of liberation theology's principles and contemporary applications, encouraging practical reflection on social justice missions.</p>

      <h3>Assessment:</h3>
      <ul>
        <li>Essay on the social impact of liberation theology.</li>
        <li>Presentation analyzing a key liberation theology text.</li>
        <li>Participation in discussions on faith and justice issues.</li>
      </ul>

      <h3>Importance of the Course:</h3>
      <p>This course provides essential insights into how Christian theology can powerfully advocate for justice, offering tools for those seeking to combine faith with action against systemic oppression and poverty.</p>
    </div>
  </main>
</mat-dialog-content>
<app-footer-modal />
