<app-banner class="fadeIn" [banner]="flyer" [alt]="alt" />
<mat-dialog-content>
  <main class="fadeIn">
    <h2>BACH-CPE-400 - Christian and pastoral ethics</h2>
    <div class="content fadeIn">
      <p>
        The course
        <span>BACH-CPE-400 - Christian Ethics and Pastoral Care</span> provides
        students with a deep understanding of the fundamental ethical principles
        applied in the context of chaplaincy and pastoral ministry. Through the
        study of case studies and theological foundations, students will learn
        to make informed moral decisions in complex ministerial situations.
      </p>

      <h3>Course Objectives:</h3>
      <ul>
        <li>
          Explore the fundamental principles of Christian ethics and their
          application in pastoral ministry.
        </li>
        <li>
          Develop skills to evaluate ethical dilemmas from a theological and
          moral perspective.
        </li>
        <li>
          Equip students with the ability to make ethical decisions in
          challenging contexts such as hospitals, prisons, and vulnerable
          communities.
        </li>
        <li>
          Understand the importance of character and integrity in pastoral
          leadership.
        </li>
        <li>
          Promote respect and cultural sensitivity in ministerial practice.
        </li>
      </ul>

      <h3>Main Topics:</h3>
      <ul>
        <li>Biblical and theological foundations of Christian ethics.</li>
        <li>
          Ethical principles in pastoral counseling and spiritual guidance.
        </li>
        <li>
          Moral dilemmas in chaplaincy: decision-making in crisis situations.
        </li>
        <li>
          Ethics and leadership: the role of the chaplain in the moral formation
          of the community.
        </li>
        <li>
          Ethical challenges in ministry: confidentiality, justice, and pastoral
          responsibility.
        </li>
      </ul>

      <h3>Methodology:</h3>
      <p>
        The course is delivered online through readings, forum discussions, case
        studies, and ethical reflections that allow students to analyze
        real-life ministerial situations from a Christian perspective.
      </p>

      <h3>Evaluation:</h3>
      <p>
        Students will be evaluated through participation in discussions,
        analysis of ethical cases, online exams, and a final project in which
        they will present an ethical response to a complex pastoral dilemma.
      </p>

      <h3>Importance of the Course:</h3>
      <p>
        This course is crucial for future chaplains and spiritual leaders, as it
        provides them with a solid ethical foundation to face the moral
        challenges of their vocation with wisdom, integrity, and pastoral
        sensitivity.
      </p>
    </div>

    <div class="content fadeIn"></div>
  </main>
</mat-dialog-content>

<app-footer-modal />
